<banner-index>
  <div class="bi-index">
    <section class="bi-contenedor-imagen">
      <img src="{{ 'banner-1.png' | asset_url }}" alt="Banner Principal" width="100%" height="100%">
    </section>
    <section class="bi-informacion-banner">
      <small>LA MEJOR PIZZA DEL MUNDO</small>
      <button class="bi-boton-banner">
        <p>PEDIR AHORA</p>
      </button>
    </section>
    <section class="bi-opciones-banner">
      <button class="bi-boton-carrusel">
        {% render 'icon-carrusel-seleccionado' %}
      </button>
      <button class="bi-boton-carrusel">
        {% render 'icon-carrusel-no-seleccionado' %}
      </button>
      <button class="bi-boton-carrusel">
        {% render 'icon-carrusel-no-seleccionado' %}
      </button>
      <button class="bi-boton-carrusel">
        {% render 'icon-carrusel-no-seleccionado' %}
      </button>
    </section>
  </div>
</banner-index>

{% schema %}
{
  "name": "Banner Principal",
  "tag": "section",
  "class": "banner-section",
  "settings": [],
  "blocks": []
}
{% endschema %}

<script>
  class BannerIndex extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {}
  }
  customElements.define('banner-index', BannerIndex);
</script>
