<banner-index>
  <div class="b-banner-index">
    <div class="b-banner-index-contenido">
      <h1>Banner Principal</h1>
    </div>
  </div>
</banner-index>

{% schema %}
{
  "name": "Banner Principal",
  "tag": "section",
  "class": "banner-section",
  "settings": [],
  "blocks": []
}
{% endschema %}

<script>
  class BannerIndex extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {}
  }
  customElements.define('banner-index', BannerIndex);
</script>
