<div
  style="
    width: 100%;
    padding: 0px 3.125rem;
    height: 57.25rem;
    margin: 1.94rem 0rem;
    display: flex;
  "
  class="ds-contenedor-base"
>
  <div
    style="
      position: relative;
      width: 50%;
      height: 100%;
      padding: 11.81rem 4.5rem;
      border-radius: 0.5rem;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), url({{ 'image-sucursales-aux.png' | asset_url }}) lightgray -408.12px -188.638px / 327.677% 143.673% no-repeat;
    "
    class="ds-contenedor-left"
  >
    <img
      src="{{ 'image-sucursales-aux.png' | asset_url }}"
      style="
        width: 27.5625rem;
        height: 18.5625rem;
        position: absolute;
        bottom: 0;
        left: 0;
      "
    >
    <div
      style="
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:  2.5rem;
      "
      class="ds-informacion-seleccion"
    >
      <p
        style="
           color: #231F20;
          font-family: var(--fuente-principal);
          font-size: 4.1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: -0.0875rem;
          text-transform: uppercase;
        "
      >
        Encuentra tu sucursal más cercana
      </p>
      <div class="ds-tipo-ciudad">
        <h3 style="color: #C8102E">Selecciona tu ciudad</h3>
        <div
          style="
            display: flex;
            padding-bottom: 0.625rem;
            align-items: center;
            gap: 0.625rem;
            align: stretch;
            cursor: pointer;
            border-bottom: 1px solid #231F20;
          "
          class="ds-select-ciudad"
        >
          <h3 style="color: #231F20">Santa Cruz</h3>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
      <div class="ds-metodo-entrega">
        <h3 style="color: #C8102E">Selecciona tu ciudad</h3>
        <div
          style="
            display: flex;
            padding-bottom: 0.625rem;
            align-items: center;
            gap: 0.625rem;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 1px solid #231F20;
          "
          class="ds-select-ciudad"
        >
          <h3 style="color: #231F20">Delivery</h3>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      flex: 1 0 0;
      justify-content: space-between;
    "
    class="ds-contenedor-right"
  >
    <div
      style="
        display: flex;
        width: 28.6875rem;
        padding:  1.2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        border-radius: 0.5rem;
        background: #F5F5F5;
      "
      class="ds-item-detalle-sucursal"
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
        "
        class="ds-ids-titulos"
      >
        <h3 style="color: #231F20;">Santa Cruz</h3>
        <h3 style="color: #C8102E; ">Las Palmas</h3>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.55rem;
          align-self: stretch;
        "
        class="ds-ids-informacion"
      >
        <div
          style="
            display: flex;
            align-items: center;
            gap: 0.5rem;
            align-self: stretch;
          "
          class="ds-ids-opcion-localizacion"
        >
          {% render 'icon-location-on' %}
          <p>Doble vía a La Guardia</p>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            gap: 0.5rem;
            align-self: stretch;
          "
          class="ds-ids-opcion-telefono"
        >
          {% render 'icon-headser-mic' %}
          <p>+591 78452415</p>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            gap: 0.5rem;
            align-self: stretch;
          "
          class="ds-ids-opcion-horario"
        >
          {% render 'icon-clock' %}
          <p>Lunes a Viernes 8:00 a 23:00</p>
          {% render 'icon-option-point' %}
          <p style="color: #C8102E">ABIERTO</p>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            gap: 0.5rem;
            align-self: stretch;
          "
          class="ds-ids-opcion-opciones"
        >
          <div
            style="
              display: flex;
              align-items: center;
              gap:  0.5rem;
            "
            class="ds-ids-opcion"
          >
            {% render 'icon-check' %}
          </div>
          <div
            style="
              display: flex;
              height:  3rem;
              padding: 1.25rem;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              align-self: stretch;
              border-radius:  0.25rem;
              border: 1px solid  #C8102E;
              background: #FFF;
              text-transform: uppercase;
            "
            class="ds-ids-opcion"
          >
            <p style="color: #C8102E">Abrir ubicación en mapa</p>
            {% render 'icon-map' %}
          </div>
        </div>
      </div>
      <div class="ds-ids-ver-boton"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Detalle de sucursales",
  "tag": "section",
  "class": "detalle-sucursales",
  "settings": [],
  "blocks": []
}
{% endschema %}
