<!-- Hoja de estilos Css -->
{{ 'detalle-sucursales.css' | asset_url | stylesheet_tag }}

<sucursales-informacion>
  <div class="container-base ds-contenedor-base">
    <div class="ds-contenedor-left">
      <img
        class="ds-fondo-detalle-sucursales"
        src="{{ 'fondo-detalle-sucursales.png' | asset_url }}"
        width="100%"
        height="100%"
      >
      <img
        class="ds-image-sucursales-aux"
        src="{{ 'image-sucursales-aux.png' | asset_url }}"
        width="100%"
        height="100%"
      >
      <div class="ds-informacion-seleccion">
        <small>Encuentra tu sucursal más cercana</small>
        <div class="ds-info">
          <h3>Selecciona tu ciudad</h3>
          <div class="ds-select-info">
            <h3>Santa Cruz</h3>
            {% render 'icon-flecha-abajo' %}
          </div>
        </div>
        <div class="ds-info">
          <h3>Selecciona tu ciudad</h3>
          <div class="ds-select-info">
            <h3>ENVÍO A DOMICILIO</h3>
            {% render 'icon-flecha-abajo' %}
          </div>
        </div>
      </div>
    </div>
    <div class="ds-contenedor-right">
      <div class="ds-rl-local ">
        <div class="ds-titulos">
          <h3>sANTA CRUZ</h3>
          <h3 style="color: #C8102E;">las palmas</h3>
        </div>
        <div class="ds-rl-disponibilidad">
          <div class="ds-rl-disponibilidad-info ds-abierto">
            {% render 'icon-disponibilidad' %}
            <p>ABIERTO</p>
          </div>
        </div>
        <div class="ds-rl-info-local ">
          <div class="ds-rl-info-local-item">
            {% render 'icon-location-on' %}
            <p>Doble vía a La Guardia</p>
          </div>
          <div class="ds-rl-info-local-item">
            {% render 'icon-headser-mic' %}
            <p>78452415</p>
          </div>
          <div class="ds-rl-info-local-item">
            {% render 'icon-clock' %}
            <p>Abre a las 11:00 AM</p>
          </div>
          <div class="ds-rl-info-servicios">
            <div class="ds-rl-info-servicio">
              {% render 'icon-check' %}
              <p>Envío a domicilio</p>
            </div>
            <div class="ds-rl-info-servicio">
              {% render 'icon-check' %}
              <p>Recoger en local</p>
            </div>
          </div>
        </div>
        <button class="ds-rl-boton ds-rl-ubicacion">
          <p>Abrir ubicación en mapa</p>
          {% render 'icon-map' %}
        </button>
      </div>
      <div class="ds-rl-local ">
        <div class="ds-titulos">
          <h3>sANTA CRUZ</h3>
          <h3 style="color: #C8102E;">las palmas</h3>
        </div>
        <div class="ds-rl-disponibilidad">
          <div class="ds-rl-disponibilidad-info ds-cerrado">
            {% render 'icon-disponibilidad' %}
            <p>CERRADO</p>
          </div>
        </div>
        <div class="ds-rl-info-local ">
          <div class="ds-rl-info-local-item">
            {% render 'icon-location-on' %}
            <p>Doble vía a La Guardia</p>
          </div>
          <div class="ds-rl-info-local-item">
            {% render 'icon-headser-mic' %}
            <p>78452415</p>
          </div>
          <div class="ds-rl-info-local-item">
            {% render 'icon-clock' %}
            <p>Abre a las 11:00 AM</p>
          </div>
          <div class="ds-rl-info-servicios">
            <div class="ds-rl-info-servicio">
              {% render 'icon-check' %}
              <p>Envío a domicilio</p>
            </div>
            <div class="ds-rl-info-servicio">
              {% render 'icon-check' %}
              <p>Recoger en local</p>
            </div>
          </div>
        </div>
        <button class="ds-rl-boton ds-rl-ubicacion">
          <p>Abrir ubicación en mapa</p>
          {% render 'icon-map' %}
        </button>
      </div>
    </div>
  </div>
</sucursales-informacion>

<script>
  class SucursalesInformacion extends HTMLElement {
    constructor() {
      super();
      this.pizzaLocations = [
        {
          lat: -17.757619,
          lng: -63.178738,
          name: 'BANZER 3ER ANILLO',
          localizacion: 'Tercer Anillo Externo',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.70001,
          lng: -63.160219,
          name: 'BANZER KM 8.5',
          localizacion: '8R2Q+2XH',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.807739,
          lng: -63.204363,
          name: 'LAS PALMAS',
          localizacion: 'Doble vía La Guardia',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.758879,
          lng: -63.19948,
          name: 'SAN MARTIN',
          localizacion: 'Av. San Martin 2200',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.820341,
          lng: -63.184337,
          name: 'SANTOS DUMONT',
          localizacion: 'Av Santos Dumont 3228',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
      ];
    }

    connectedCallback() {
      this.btnsAbrirUbicaiconMapa = this.querySelectorAll('.ds-rl-boton ');
      this.btnsAbrirUbicaiconMapa.forEach((btn) => {
        btn.addEventListener('click', () => {
          // Se habre otra venta google maps con las coordenadas del local
          window.open(
            `https://www.google.com/maps/search/?api=1&query=-17.510134974492885, -63.16464342542768`,
            '_blank'
          );
          console.log('Boton ubicacion en mapa presionado: ', nombreLocal);
        });
      });
    }
  }

  customElements.define('sucursales-informacion', SucursalesInformacion);
</script>

{% schema %}
{
  "name": "Detalle de sucursales",
  "tag": "section",
  "class": "detalle-sucursales",
  "settings": [],
  "blocks": []
}
{% endschema %}
