<div
  id="elemento-test-personalizado"
  style="
    width: 100%;
    height: 640px;
    position: relative;
    overflow: hidden;
  "
>
  <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut" width="100%" height="100%">
</div>

{% schema %}
{
  "name": "Elemento Test Index",
  "settings": [],
  "presets": [
    {
      "name": "Elemento Test Index"
    }
  ]
}
{% endschema %}
