<!-- HOJA DE ESTILOS CSS -->
{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer>
  <div class="f-contenedor-base">
    <div class="f-contenedor-opciones-1">
      <img src="{{ 'logo-pizza-hut-footer.png' | asset_url }}" alt="Logo" width="100%" height="100%">
      <div class="f-opciones-navegacion">
        <a>
          <h2>MENÚ</h2>
        </a>
        <a>
          <h2>HuT COINS</h2>
        </a>
        <a>
          <h2>Nuestras sucursales</h2>
        </a>
        <a>
          <h2>LEGAL</h2>
        </a>
        <a>
          <h2>Ayuda</h2>
        </a>
      </div>
    </div>
    <div class="f-contenedor-opciones-2">
      <span>the best stuff in the word.</span>
      <div class="f-contenedor-redes-sociales">
        <a href="">
          {% render 'icon-facebook' %}
        </a>
        <a href="">
          {% render 'icon-instagram' %}
        </a>
        <a href="">
          {% render 'icon-whatssap' %}
        </a>
        <a href="">
          {% render 'icon-linkedin' %}
        </a>
      </div>
    </div>
    <div class="f-contenedor-opciones-3">
      <div class="f-contenedor-opciones-3-textos">
        <h4>© 2025 PIZZA HUT. TODOS LOS DERECHOS RESERVADOS.</h4>
        <h4>Políticas de privacidad</h4>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Pie de página",
  "settings": [],
  "presets": [
    {
      "name": "Pie de página básico"
    }
  ]
}
{% endschema %}
