{% style %}
  :root {
    --fuente-principal: 'League Gothic', sans-serif;
    --fuente-secundaria: 'Montserrat', sans-serif;
    --color-primario: #231f20;
    --color-borde: #dedede;
    --color-borde-oscuro: #969696;
  }

  .encabezado {
    /* width: 100%;
    height: auto;
    max-width: 89.9375rem;
    min-height: 6.25rem;
    padding: clamp(1.5rem, 5vw, 3rem) clamp(1rem, 8vw, 4rem);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--0, 0rem);
    border: 1px solid #dedede;
    background: #fff;
    margin: 0 auto; */

    display: flex;
    width: 100%;
    height: 5.47rem;
    padding: 1.875rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--gris-light-active, #dedede);
    background: var(--White, #fff);
  }

  .contenedor-logo img {
    width: 8.2rem;
    height: 1.97rem;
    aspect-ratio: 83/20;
  }
{% endstyle %}

<sticky-header>
  <header class="encabezado">
    <div class="contenedor-logo">
      <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
    </div>

    {% comment %}
      <!-- Menú de Navegación -->
      <nav class="menu-opciones">
        <h4 class="menu-item">
          <a href="/menu">Menú</a>
        </h4>
        <h4 class="menu-item">
          <a href="/promociones" class="enlace-hutcoins">
            Hut Coins
            {% render 'icon-flecha-hutcoins' %}
          </a>
        </h4>
        <h4 class="menu-item">
          <a href="/restaurantes">Sobre Nosotros</a>
        </h4>
      </nav>

      <!-- Buscador -->
      <div class="contenedor-buscador">
        {% render 'icon-search' %}
        <input type="search" class="input-buscador" placeholder="Buscar...">
      </div>

      <!-- Carrito y Entrega -->
      <div class="contenedor-carrito">
        {% render 'icon-carrito' %}
        <div class="modo-entrega">
          {% render 'icon-domicilio' %}
          <h4 class="texto-entrega">DOMICILIO</h4>
        </div>
      </div>

      <!-- Estado Usuario -->
      <div class="estado-usuario">
        {% render 'icon-perfil-usuario' %}
        {% render 'icon-flecha-abajo' %}
      </div>
    {% endcomment %}
  </header>
</sticky-header>

<script>
  class HeaderPrincipal extends HTMLElement {}
  customElements.define('sticky-header', HeaderPrincipal);
</script>
