{% style %}
  :root {
    --fuente-principal: 'League Gothic', sans-serif;
    --fuente-secundaria: 'Montserrat', sans-serif;
    --color-primario: #231f20;
    --color-borde: #dedede;
    --color-borde-oscuro: #969696;
  }

  .encabezado {
    display: flex;
    width: 100%;
    height: clamp(3.5rem, 2.47rem + 4.08vw, 5.47rem);
    /* padding: clamp(1rem, 0.52rem + 1.05vw, 1.875rem) clamp(1rem, 0.12rem + 3.5vw, 2.5rem); */
    padding: 0rem clamp(1rem, 0.12rem + 3.5vw, 2.5rem);

    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--color-borde);
    background: #fff;
  }

  .contenedor-logo img {
    width: clamp(5rem, 3.2rem + 7.14vw, 8.2rem);
    aspect-ratio: 83/20;
    height: auto;
    object-fit: contain;
  }

  /* Nota de calculos para el uso de clamps para responsividad en ves de usar los medias querys
    Width(ancho):
    Tablet y desktop pequeño: Reducir un  20%  del valor original
    Móvil: Reducir un  40%  del valor original

    Padding y Margin:
    Tablet y desktop pequeño: Reudcir un 25% del valor original
    Móvil: Reudcir un 50% del valor original

    Height(alto):
    Tablet y desktop pequeño: Reducir un 20% del valor original
    Móvil: Reducir un 35% del valor original

    Simplificado:
    clamp(min, min + (max - min) * (100vw - tamaño-mín) / (tamaño-máx - tamaño-mín), max)

    En nuestro caso:
    tamaño-mín = 320px (típico ancho mínimo móvil)
    tamaño-máx = 1440px (típico ancho máximo desktop)
  */
{% endstyle %}

<sticky-header>
  <header class="encabezado">
    <div class="contenedor-logo">
      <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
    </div>

    <!-- Menú de Navegación -->
    <nav
      style="
        display: flex;
        align-items: center;
        gap: clamp(1.05rem, 0.98rem + 0.35vw, 1.31rem); /* 1.5rem - 12.5% = 1.31rem */
      "
      class="menu-opciones"
    >
      <h4 class="menu-item">
        <a href="/menu">Menú</a>
      </h4>
      <h4
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          gap: clamp(0.22rem, 0.22rem + 0.03vw, 0.25rem);
        "
        class="menu-item"
      >
        <a href="/promociones" class="enlace-hutcoins">
          Hut Coins
          {% render 'icon-flecha-hutcoins', class: 'icon-theme-custom' %}
        </a>
      </h4>
      <h4 class="menu-item">
        <a href="/restaurantes">Sobre Nosotros</a>
      </h4>
    </nav>

    <!-- Buscador -->
    <div
      style="
        display: flex;
        width: clamp(10.94rem, 10.94rem + 0.14vw, 12.5rem);
        height: clamp(2.1rem, 1.95rem + 0.75vw, 2.625rem);
        padding: clamp(0.87rem, 0.81rem + 0.3vw, 1.09rem);
        gap: clamp(0.22rem, 0.22rem + 0.03vw, 0.25rem);
        align-items: center;
        border-radius: 0.25rem;
        border: 1px solid  #6E6E6E;
        background:  #FFF;
      "
      class="contenedor-buscador"
    >
      {% render 'icon-search', class: 'icon-theme-custom' %}
      <input type="search" class="input-buscador" placeholder="Buscar...">
    </div>

    <!-- Carrito - Metodo Entrega y Estado Usuario -->
    <div
      style="
        display: flex;
        height: clamp(4.375rem, 4.375rem + 1.88vw, 6.25rem);
        align-items: center;
        gap: clamp(1.75rem, 1.75rem + 0.02vw, 2rem);
        padding: 0 clamp(1.75rem, 1.75rem + 0.02vw, 2rem);
        border-left: 1px solid #DEDEDE;
        border-right: 1px solid #DEDEDE;
      "
    >
      <div style="display: flex; align-items: center;">
        {% render 'icon-carrito' %}
      </div>

      <div class="modo-entrega">
        <p style="font-size: clamp(0.77rem, 0.77rem + 0.11vw, 0.88rem); text-transform: uppercase; font-weight: 600;">
          Selecciona tu
        </p>
        <div style="display: flex; align-items: center; gap: clamp(0.22rem, 0.22rem + 0.03vw, 0.25rem);">
          <h4 class="texto-entrega">Método de entrega</h4>
          {% render 'icon-domicilio' %}
        </div>
      </div>
    </div>

    {% comment %}
      <!-- Carrito y Entrega -->
      <div class="contenedor-carrito">
        {% render 'icon-carrito' %}
        <div class="modo-entrega">
          {% render 'icon-domicilio' %}
          <h4 class="texto-entrega">DOMICILIO</h4>
        </div>
      </div>

      <!-- Estado Usuario -->
      <div class="estado-usuario">
        {% render 'icon-perfil-usuario' %}
        {% render 'icon-flecha-abajo' %}
      </div>
    {% endcomment %}
  </header>
</sticky-header>

<script>
  class HeaderPrincipal extends HTMLElement {}
  customElements.define('sticky-header', HeaderPrincipal);
</script>
