<sticky-header>
  <header
    style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      padding: 0;
    "
  >
    <div
      style="
        display: flex;
        height: 78px;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #DEDEDE;
        background: #FFF;
        margin: 30px 59px 0 59px;
        padding: 10px 15px;
      "
    >
      <!-- LOGO DE PIZZA HUT -->
      <div class="logo-container">
        <a href="/">
          <img
            src="{{ 'logo-pizza-hut.png' | asset_url }}"
            alt="Pizza Hut Logo"
            style="
              height: 35px;
              width: 170px;
              margin-left: 20px;
              object-fit: contain;
            "
          >
        </a>
      </div>

      <!-- OPCIONES -->
      <nav class="menu-options" style="display: flex; align-items: center; gap: 32px;">
        <a
          href="/menu"
          style="
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
          "
          >Menú</a
        >

        <a
          href="/promociones"
          style="
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 4px;
            line-height: normal;
          "
        >
          Hut Coins
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_672_13031" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_672_13031)">
              <path d="M6.2942 17.6442L5.25 16.6L15.0904 6.74995H6.14422V5.25H17.6442V16.75H16.1442V7.80378L6.2942 17.6442Z" fill="#231F20"/>
            </g>
          </svg>
        </a>

        <a
          href="/restaurantes"
          style="
            text-decoration: none;
            color: #333;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
          "
          >Sobre Nosotros</a
        >
      </nav>

      <!-- BUSCADOR -->
      <div
        class="search-container"
        style="
          position: relative;
          display: flex;
          height: 48px;
          padding: 20px;
          align-items: center;
          gap: 4px;
          align-self: stretch;
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          style="position: absolute; left: 32px; top: 50%; transform: translateY(-50%); z-index: 1;"
        >
          <path d="M19.5484 20.575L13.2484 14.3C12.7484 14.7167 12.1734 15.0417 11.5234 15.275C10.8734 15.5083 10.2068 15.625 9.52344 15.625C7.80677 15.625 6.35677 15.0333 5.17344 13.85C3.9901 12.6667 3.39844 11.2167 3.39844 9.5C3.39844 7.8 3.9901 6.354 5.17344 5.162C6.35677 3.97067 7.80677 3.375 9.52344 3.375C11.2234 3.375 12.6651 3.96667 13.8484 5.15C15.0318 6.33333 15.6234 7.78333 15.6234 9.5C15.6234 10.2167 15.5068 10.9 15.2734 11.55C15.0401 12.2 14.7234 12.7667 14.3234 13.25L20.5984 19.525L19.5484 20.575ZM9.52344 14.125C10.8068 14.125 11.8944 13.675 12.7864 12.775C13.6778 11.875 14.1234 10.7833 14.1234 9.5C14.1234 8.21667 13.6778 7.125 12.7864 6.225C11.8944 5.325 10.8068 4.875 9.52344 4.875C8.22344 4.875 7.12777 5.325 6.23644 6.225C5.34444 7.125 4.89844 8.21667 4.89844 9.5C4.89844 10.7833 5.34444 11.875 6.23644 12.775C7.12777 13.675 8.22344 14.125 9.52344 14.125Z"
          fill="#231F20"/>
        </svg>
        <input
          type="search"
          placeholder="Buscar..."
          style="
            width: 100%;
            padding: 8px 12px 8px 40px;
            border-radius: 4px;
            border: 1px solid #6E6E6E;
            font-size: 16px;
            font-family: var(--fuente-secundaria);
            outline: none;
            font-weight: 400;
            color: #717171;
            background: #FFF;
          "
        >
      </div>

      <!-- CARRITO -->
      <div
        class="cart-container"
        style="
          height: 65%;
          border-right: 1.5px solid #969696;
          border-left: 1.5px solid #969696;
          padding: 0px 24px;
          display: flex;
          align-items: center;
        "
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_677_4766" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_677_4766)">
          <path d="M7.15375 21.5578C6.66792 21.5578 6.25483 21.3875 5.9145 21.047C5.57417 20.7067 5.404 20.2936 5.404 19.8078C5.404 19.3218 5.57417 18.9086 5.9145 18.5683C6.25483 18.2279 6.66792 18.0577 7.15375 18.0577C7.63975 18.0577 8.05292 18.2279 8.39325 18.5683C8.73358 18.9086 8.90375 19.3218 8.90375 19.8078C8.90375 20.2936 8.73358 20.7067 8.39325 21.047C8.05292 21.3875 7.63975 21.5578 7.15375 21.5578ZM16.8462 21.5578C16.3602 21.5578 15.9471 21.3875 15.6068 21.047C15.2664 20.7067 15.0962 20.2936 15.0962 19.8078C15.0962 19.3218 15.2664 18.9086 15.6068 18.5683C15.9471 18.2279 16.3602 18.0577 16.8462 18.0577C17.3321 18.0577 17.7452 18.2279 18.0855 18.5683C18.4258 18.9086 18.596 19.3218 18.596 19.8078C18.596 20.2936 18.4258 20.7067 18.0855 21.047C17.7452 21.3875 17.3321 21.5578 16.8462 21.5578ZM6.01525 5.75L8.55 11.0577H15.55L18.4635 5.75H6.01525ZM5.29625 4.25H21.0077L16.4365 12.5577H8.1L6.73075 15.0577H18.596V16.5577H4.18275L7.04225 11.4078L3.404 3.75H1.5V2.25H4.34625L5.29625 4.25Z" fill="#231F20"/>
          </g>
        </svg>
      </div>

      <!-- MODALIDAD DE ENTREGA -->
      <div class="delivery-mode" style="margin: 0 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_672_13054" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_672_13054)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49942 6.21427H2.35661V10.4999H7.49942V6.21427ZM1.28516 5.14282V11.5714H8.57087V5.14282H1.28516Z" fill="#231F20"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5516 11.7858H5.78525V13.0715H13.9087L14.5516 11.7858ZM4.7138 10.7144V13.177L7.34593 14.1429H14.5709L16.2852 10.7144H4.7138Z" fill="#231F20"/>
            <path d="M15.3723 10.7143L13.4454 8.25815H11.5711V7.28572H13.9398L15.6674 9.51601L18.2996 8.38351V10.1589H16.1666L18.2849 12.8786C18.5167 12.7622 18.7569 12.6762 19.0053 12.6206C19.2536 12.5652 19.5091 12.5374 19.7718 12.5374C20.6541 12.5374 21.4046 12.8446 22.0233 13.4589C22.642 14.0732 22.9514 14.8215 22.9514 15.7039C22.9514 16.5918 22.642 17.3393 22.0233 17.9464C21.4046 18.5536 20.6541 18.8572 19.7718 18.8572C18.8926 18.8572 18.1473 18.5514 17.5357 17.9398C16.9241 17.3282 16.6184 16.5829 16.6184 15.7039C16.6184 15.2808 16.6939 14.8792 16.8451 14.499C16.9962 14.1187 17.2201 13.7797 17.5169 13.4818L16.5607 12.2456L15.3723 10.7143ZM19.7718 17.8847C20.3849 17.8847 20.9061 17.6737 21.3352 17.2517C21.7644 16.8297 21.9789 16.3138 21.9789 15.7039C21.9789 15.0852 21.7644 14.5626 21.3352 14.1362C20.9061 13.7099 20.3849 13.4968 19.7718 13.4968C19.1618 13.4968 18.6458 13.7099 18.2238 14.1362C17.8019 14.5626 17.591 15.0852 17.591 15.7039C17.591 16.3138 17.8019 16.8297 18.2238 17.2517C18.6458 17.6737 19.1618 17.8847 19.7718 17.8847Z" fill="#231F20"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.92802 17.7858C6.11148 17.7858 7.07086 16.8264 7.07086 15.643C7.07086 14.4595 6.11148 13.5001 4.92802 13.5001C3.74457 13.5001 2.78519 14.4595 2.78519 15.643C2.78519 16.8264 3.74457 17.7858 4.92802 17.7858ZM4.92802 18.8573C6.70322 18.8573 8.14231 17.4182 8.14231 15.643C8.14231 13.8678 6.70322 12.4287 4.92802 12.4287C3.15282 12.4287 1.71374 13.8678 1.71374 15.643C1.71374 17.4182 3.15282 18.8573 4.92802 18.8573Z" fill="#231F20"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2806 15.9581L17.5665 13.6009L18.4331 12.9708L20.1471 15.3279L19.2806 15.9581Z" fill="#231F20"/>
          </g>
        </svg>
        <h4
          style="
            color: #231F20;
            font-family: var(--fuente-principal);
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: -0.48px;
            text-transform: uppercase;
          "
        >
          DOMICILIO
        </h4>
      </div>

      <!-- ESTADO USUARIO -->
      <div class="user-status" style="margin-right: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_677_4777" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_677_4777)">
            <path d="M6.02308 17.2923C6.87308 16.6615 7.79903 16.1635 8.80095 15.7981C9.80287 15.4327 10.8692 15.25 12 15.25C13.1307 15.25 14.1971 15.4327 15.199 15.7981C16.2009 16.1635 17.1269 16.6615 17.9769 17.2923C18.5987 16.609 19.0913 15.8179 19.4548 14.9192C19.8182 14.0205 20 13.0474 20 12C20 9.78331 19.2208 7.89581 17.6625 6.33748C16.1041 4.77914 14.2166 3.99998 12 3.99998C9.78331 3.99998 7.89581 4.77914 6.33748 6.33748C4.77914 7.89581 3.99998 9.78331 3.99998 12C3.99998 13.0474 4.18171 14.0205 4.54518 14.9192C4.90864 15.8179 5.40128 16.609 6.02308 17.2923ZM12.0003 12.75C11.0873 12.75 10.3173 12.4366 9.69038 11.8099C9.06346 11.1831 8.75 10.4133 8.75 9.50028C8.75 8.58726 9.06336 7.81729 9.69008 7.19038C10.3168 6.56346 11.0867 6.25 11.9997 6.25C12.9127 6.25 13.6827 6.56336 14.3096 7.19008C14.9365 7.81681 15.25 8.58668 15.25 9.49968C15.25 10.4127 14.9366 11.1827 14.3099 11.8096C13.6831 12.4365 12.9133 12.75 12.0003 12.75ZM12 21.5C10.6807 21.5 9.44325 21.2519 8.2875 20.7557C7.13173 20.2596 6.12628 19.5839 5.27115 18.7288C4.41603 17.8737 3.7404 16.8682 3.24425 15.7125C2.74808 14.5567 2.5 13.3192 2.5 12C2.5 10.6807 2.74808 9.44325 3.24425 8.2875C3.7404 7.13173 4.41603 6.12628 5.27115 5.27115C6.12628 4.41603 7.13173 3.7404 8.2875 3.24425C9.44325 2.74808 10.6807 2.5 12 2.5C13.3192 2.5 14.5567 2.74808 15.7125 3.24425C16.8682 3.7404 17.8737 4.41603 18.7288 5.27115C19.5839 6.12628 20.2596 7.13173 20.7557 8.2875C21.2519 9.44325 21.5 10.6807 21.5 12C21.5 13.3192 21.2519 14.5567 20.7557 15.7125C20.2596 16.8682 19.5839 17.8737 18.7288 18.7288C17.8737 19.5839 16.8682 20.2596 15.7125 20.7557C14.5567 21.2519 13.3192 21.5 12 21.5ZM12 20C12.9025 20 13.7727 19.8548 14.6105 19.5644C15.4484 19.274 16.1923 18.8679 16.8423 18.3461C16.1923 17.8436 15.458 17.4519 14.6394 17.1711C13.8208 16.8903 12.941 16.75 12 16.75C11.0589 16.75 10.1775 16.8887 9.35573 17.1663C8.53393 17.4439 7.80123 17.8371 7.15765 18.3461C7.80765 18.8679 8.55157 19.274 9.3894 19.5644C10.2272 19.8548 11.0974 20 12 20ZM12 11.25C12.4974 11.25 12.9134 11.0827 13.2481 10.7481C13.5827 10.4134 13.75 9.99741 13.75 9.49998C13.75 9.00254 13.5827 8.58651 13.2481 8.25188C12.9134 7.91726 12.4974 7.74995 12 7.74995C11.5025 7.74995 11.0865 7.91726 10.7519 8.25188C10.4173 8.58651 10.25 9.00254 10.25 9.49998C10.25 9.99741 10.4173 10.4134 10.7519 10.7481C11.0865 11.0827 11.5025 11.25 12 11.25Z" fill="#231F20"/>
          </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_677_4780" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_677_4780)">
            <path d="M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z" fill="#231F20"/>
          </g>
        </svg>
      </div>
    </div>
  </header>
</sticky-header>

<script>
  class HeaderPrincipal extends HTMLElement {}

  customElements.define('sticky-header', HeaderPrincipal);
</script>
