<!-- Estilos traer de assets/header.css as -->
{{ 'header.css' | asset_url | stylesheet_tag }}

<sticky-header>
  <header class="h-header-principal">
    <div class="h-metodo-entrega-no-seleccionado">
      <div class="h-logo-principal">
        <img src="{{ 'logo-sauce-only-1.png' | asset_url }}" alt="Logo Sauce Only" width="100" height="100">
      </div>
      <div class="h-sector-seleccion-metodo-entrega">
        <p>Selecciona tu</p>
        <div class="h-texto-metodo-entrega">
          <h4>Método de entrega</h4>
          {% render 'icon-pizza-metodo-entrega' %}
        </div>
      </div>
      <button class="h-boton-menu">
        {% render 'icon-hamburguesa' %}
      </button>
    </div>
    <div class="h-metodo-entrega-seleccionado">
      <div class="h-logo-principal">
        <img src="{{ 'logo-sauce-only-1.png' | asset_url }}" alt="Logo Sauce Only" width="100" height="100">
      </div>
      <button class="h-boton-buscar">
        {% render 'icon-search' %}
        <h3>Buscar</h3>
      </button>
      <div class="h-boton-cambio-metodo-entrega">
        <div class="h-icono-metodo-entrega">
          {% render 'icon-pizza-metodo-entrega' %}
        </div>
        <h3>Local</h3>
        <button class="h-icono-solocitud-metodo-entrega">
          {% render 'icon-flecha-abajo' %}
        </button>
      </div>
      <button class="h-boton-carrito">
        {% render 'icon-carrito' %}
      </button>
      <button class="h-boton-menu">
        {% render 'icon-hamburguesa' %}
      </button>
    </div>
    <div class="h-enfocado-tablet-desktop">
      <div class="h-logo-principal">
        <img src="{{ 'logo-secondary-2.png' | asset_url }}" alt="Logo Secundario" width="100" height="100">
      </div>
      <nav class="h-nav-principal">
        <a href="">
          <h3>MENÚ</h3>
        </a>
        <a href="" class="h-nav-hutcoins">
          <h3>PROMOCIONES</h3>
          {% render 'icon-flecha-hutcoins' %}
        </a>
        <a href="">
          <h3>SOBRE NOSOTROS</h3>
        </a>
      </nav>
      <div class="h-sector-opciones-cliente">
        <div class="h-input-buscar">
          <input type="text" placeholder="Buscar">
          {% render 'icon-search' %}
        </div>
        <hr>
        <button class="h-icono-carrito">
          {% render 'icon-carrito' %}
        </button>
        <hr>
        <div class="h-sector-seleccion-metodo-entrega">
          <p>Selecciona tu</p>
          <div class="h-texto-metodo-entrega">
            <h4>Método de entrega</h4>
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
        </div>
        <hr>
        <button class="h-boton-usuario">
          <h3>INICIAR SESIÓN</h3>
          {% render 'icon-perfil-usuario' %}
        </button>
      </div>
    </div>
  </header>
</sticky-header>

<script>
  class HeaderPrincipal extends HTMLElement {}
  customElements.define('sticky-header', HeaderPrincipal);
</script>
