{% comment %}
  width: 100%;
  height: 92px;
{% endcomment %}
<sticky-header>
  <header
    style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      padding: 0;
    "
  >
    <div
      style="
        display: flex;
        width: 1312px;
        height: 92px;
        padding: 48px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid  #DEDEDE;
        background: #FFF;
      "
    ></div>
  </header>
</sticky-header>

<script>
  class HeaderPrincipal extends HTMLElement {}

  customElements.define('sticky-header', HeaderPrincipal);
</script>
