<div
  style="
    width: 100%;
    padding: 0px 3.125rem;
    display: flex;
    height: 30.3125rem;
  "
  class="ohci2-contenedor-base"
>
  <div
    style="
      width: 50%;
      height: 100%;
    "
    class="ohci2-imagen"
  >
    <img
      src="{{ 'promocion-HutCoins.png' | asset_url }}"
      style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
      "
    >
  </div>
  <div
    style="
      width: 50%;
      height: 100%;
      padding: 4.38rem 4.25rem 3rem 4.25rem;
      background: #231F20;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      aling-items: start;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.625rem;
    "
    class="ohci2-informacion"
  >
    <img
      src="{{ 'banner-2-Hut-Coins.png' | asset_url }}"
      style="
        width: 13.0625rem;
        height: 5.24944rem;
        flex-shrink: 0;
        aspect-ratio: 209.00/83.99;
      "
    >
    <p
      style="
        font-family: var(--fuente-principal);
        color:  #FFF;
        font-size: 4.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.0875rem;
        text-transform: uppercase;
      "
    >
      Tu amor por la pizza tiene recompensa
    </p>
    <div
      style="
        display: flex;
        width: 18.75rem;
        height: 4.375rem;
        padding: 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.25rem;
        background:  #C8102E;
      "
    >
      <p
        style="
          color: #FFF;
          font-family: Montserrat;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.04rem;
          text-transform: uppercase;
        "
      >
        Regístrate
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ofertas Hut Coins 2",
  "tag": "section",
  "class": "oferta-hut-coins-index-2",
  "settings": [],
  "blocks": []
}
{% endschema %}
