<div
  style="
    width: 100%;
    padding: 0px 3.125rem;
    display: flex;
    height: 30.3125rem;
  "
  class="ohci2-contenedor-base"
>
  <div
    style="
      width: 50%;
      height: 100%;
    "
    class="ohci2-imagen"
  >
    <img
      src="{{ 'promocion-HutCoins.png' | asset_url }}"
      style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
      "
    >
  </div>
  <div
    style="
      width: 50%;
      height: 100%;
      padding: 4.38rem 2.25rem;
      background: #231F20;
    "
    class="ohci2-informacion"
  ></div>
</div>

{% schema %}
{
  "name": "Ofertas Hut Coins 2",
  "tag": "section",
  "class": "oferta-hut-coins-index-2",
  "settings": [],
  "blocks": []
}
{% endschema %}
