<section class="ohci2-contenedor-base">
  <div class="ohci2-base-interno">
    <div class="ohci2-imagen">
      <img src="{{ 'promocion-HutCoins.png' | asset_url }}" width="100%" height="100%">
    </div>
    <div class="ohci2-informacion">
      <img src="{{ 'banner-2-Hut-Coins.png' | asset_url }}" width="100%" height="100%">
      <small>Tu amor por la pizza tiene recompensa</small>
      <button class="ohci2-boton">
        <p>Regístrate</p>
      </button>
    </div>
  </div>
</section>

<style>
  .ohci2-contenedor-base {
    width: 100%;
    padding: var(--espaciado-xl) var(--espaciado-xxl);
  }

  .ohci2-base-interno {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .ohci2-imagen {
    width: 100%;
    height: 30rem;
  }

  .ohci2-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ohci2-informacion {
    width: 100%;
    height: 30rem;
    background-color: var(--colorp-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espaciado-big) var(--espaciado-xxxl);
    border-radius: var(--border-radius-1);
  }

  .ohci2-informacion img {
    width: 13.0625rem;
    height: 5.24944rem;
    aspect-ratio: 209/83.99;
    object-fit: cover;
    border-radius: var(--border-radius-1);

  .ohci2-informacion small {
    color: var(--colorp-secondary);
    font-family: var(--fuente-primary);
    font-size: 3.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4375rem;
    letter-spacing: -0.06625rem;
    text-transform: uppercase;
  }

  .ohci2-boton {
    width: 100%;
    height: var(--espaciado-xxxl);
    background-color: var(--colorp-primary);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ohci2-boton p {
    color: var(--colorp-secondary);
    font-weight: 600;
  }
</style>

{% schema %}
{
  "name": "Ofertas Hut Coins 2",
  "tag": "section",
  "class": "oferta-hut-coins-index-2",
  "settings": [],
  "blocks": []
}
{% endschema %}
