<!-- Hoja de estilos Css -->
{{ 'oferta-index.css' | asset_url | stylesheet_tag }}

<oferta-index>
  <div class="container-base  oi_contenedor-base">
    <button
      id="phoi-btn-ofertas"
      class="oi_oferta"
    >
      <img src="{{ 'oferta-index-1.png' | asset_url  }}" class="oferta-imagen" height="100%" width="100%">
    </button>
    <button
      id="phoi-btn-ofertas"
      class="oi_oferta"
    >
      <img src="{{ 'oferta-index-2.png' | asset_url }}" class="oferta-imagen" height="100%" width="100%">
    </button>
  </div>
</oferta-index>

<script>
  class OfertaIndex extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      // REFERENCIA ELEMENTOS
      this.btnOferta = this.querySelectorAll('.oi_oferta');
      // INICIALIZAR EVENTOS
      this.btnOferta.forEach((btn, index) => {
        btn.addEventListener('click', (e) => {
          // Guardar en localStorage el valor para que el Menu Page sepa que hhacer
          localStorage.setItem('phph-itemMenu', 'ofertas');
          // Depsue redireccionar
          window.location.href = '/pages/menu';
          {% comment %} localStorage.setItem('ph-tipoProducto', 'simple'); {% endcomment %}
          {% comment %} window.location.href = '/pages/producto'; {% endcomment %}
        });
      });
    }
  }
  customElements.define('oferta-index', OfertaIndex);
</script>

{% schema %}
{
  "name": "Ofertas Sector",
  "tag": "section",
  "class": "oferta-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
