<section class="container-base  ohci-contenedor-base">
  <a
    href="https://microsites.spnty.co/pizzahutbolivia/login"
    target="_blank"
    class="ohci-contenedor-imagen"
  >
    <img src="{{ 'banner-Hutcoins.png' | asset_url }}" width="100%" height="100%">
  </a>
</section>

<style>
  .ohci-contenedor-base {
    width: 100%;
    padding: var(--espaciado-xl) var(--espaciado-xxl);
  }

  .ohci-contenedor-imagen {
    width: 100%;
    border-radius: var(--border-radius-1);
  }

  .ohci-contenedor-imagen img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    border-radius: var(--border-radius-1);
  }
</style>

{% schema %}
{
  "name": "Ofertas Hut Coins 1",
  "tag": "section",
  "class": "oferta-hut-coins-index-1",
  "settings": [],
  "blocks": []
}
{% endschema %}
