<!-- Hoja de estilos Css -->
{{ 'productos-index.css' | asset_url | stylesheet_tag }}

<productos-index>
  <section class="pi-base">
    <div class="pi-item-producto"></div>
    <div class="pi-item-producto"></div>
    <div class="pi-item-producto"></div>
    <div class="pi-item-producto"></div>
    <div class="pi-item-producto"></div>
  </section>
</productos-index>

<script>
  class ProductosIndex extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define('productos-index', ProductosIndex);
</script>

{% schema %}
{
  "name": "Productos Principales",
  "tag": "section",
  "class": "productos-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
