<div class="contenedor-base">
  <div class="contenedor-header">
    <span class="body-text-1">TU PIZZA FAVORITA</span>
    <span class="body-text-2">¡Te espera!</span>
  </div>
  <div class="contenedor-body">
    <div class="item-producto">
      <div class="imagen-producto">
        <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1">
      </div>
      <div class="descripcion-producto">
        <h3>PEPPERONI</h3>
        <p>Sala de tomate, queso mozarella, y Pepperoni</p>
      </div>
      <div class="input-producto">
        <p>Tamaño</p>
        <div class="contenedor-custom-input">
          <p>Mediana</p>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
      <div class="proceso-compra">
        <p>90 Bs • Continuar</p>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        width: 19.375rem;
        height: 37.25rem;
      "
      class="item-producto"
    >
      <div
        style="
          height: 16.875rem;
          width: 100%;
        "
        class="imagen-producto"
      >
        <img
          src="{{ 'imagen-pizza-2.png' | asset_url }}"
          alt="Pizza 1"
          style="
            height: 100%;
            width: 100%;
            object-fit: content;
          "
        >
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          gap: 0.75rem;
          align-self: stretch;
          width: 100%; height: 10rem;
        "
        class="descripcion-producto"
      >
        <h3
          style="
            color: #231F20;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          SUPREME
        </h3>
        <p
          style="
            color:  #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
          "
        >
          Sala de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas res y cerdo, salchicha italiana y tocino.
        </p>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;
        "
        class="input-producto"
      >
        <p
          style="
            color: #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          "
        >
          Tamaño
        </p>
        <div
          style="
            display: flex;
            height: 3rem;
            padding:  1.25rem;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius:  0.25rem;
            border: 1px solid  #353535;
            background:  #FFF;
          "
        >
          <p
            style="
              color:  #231F20;
              font-family: Montserrat;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.5rem;
            "
          >
            Mediana
          </p>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
      <div
        style="
          display: flex;
          height:  3rem;
          padding: 1.25rem;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          flex-shrink: 0;
          align-self: stretch;
          border-radius:  0.25rem;
          background:  #C8102E;
        "
        class="proceso-compra"
      >
        <p
          style="
            font-family: Montserrat;
            color:  #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          90 Bs • Continuar
        </p>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        width: 19.375rem;
        height: 37.25rem;
      "
      class="item-producto"
    >
      <div
        style="
          height: 16.875rem;
          width: 100%;
        "
        class="imagen-producto"
      >
        <img
          src="{{ 'imagen-pizza-3.png' | asset_url }}"
          alt="Pizza 1"
          style="
            height: 100%;
            width: 100%;
            object-fit: content;
          "
        >
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          gap: 0.75rem;
          align-self: stretch;
          width: 100%; height: 10rem;
        "
        class="descripcion-producto"
      >
        <h3
          style="
            color: #231F20;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          Jamón
        </h3>
        <p
          style="
            color:  #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
          "
        >
          Sala de tomate, queso mozarella y Jamón
        </p>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;
        "
        class="input-producto"
      >
        <p
          style="
            color: #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          "
        >
          Tamaño
        </p>
        <div
          style="
            display: flex;
            height: 3rem;
            padding:  1.25rem;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius:  0.25rem;
            border: 1px solid  #353535;
            background:  #FFF;
          "
        >
          <p
            style="
              color:  #231F20;
              font-family: Montserrat;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.5rem;
            "
          >
            Mediana
          </p>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
      <div
        style="
          display: flex;
          height:  3rem;
          padding: 1.25rem;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          flex-shrink: 0;
          align-self: stretch;
          border-radius:  0.25rem;
          background:  #C8102E;
        "
        class="proceso-compra"
      >
        <p
          style="
            font-family: Montserrat;
            color:  #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          90 Bs • Continuar
        </p>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        width: 19.375rem;
        height: 37.25rem;
      "
      class="item-producto"
    >
      <div
        style="
          height: 16.875rem;
          width: 100%;
        "
        class="imagen-producto"
      >
        <img
          src="{{ 'imagen-pizza-4.png' | asset_url }}"
          alt="Pizza 1"
          style="
            height: 100%;
            width: 100%;
            object-fit: content;
          "
        >
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          gap: 0.75rem;
          align-self: stretch;
          width: 100%; height: 10rem;
        "
        class="descripcion-producto"
      >
        <h3
          style="
            color: #231F20;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          Cheesy lovers
        </h3>
        <p
          style="
            color:  #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
          "
        >
          Sala de tomate y doble queso mozarella
        </p>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.25rem;
          align-self: stretch;
        "
        class="input-producto"
      >
        <p
          style="
            color: #231F20;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          "
        >
          Tamaño
        </p>
        <div
          style="
            display: flex;
            height: 3rem;
            padding:  1.25rem;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius:  0.25rem;
            border: 1px solid  #353535;
            background:  #FFF;
          "
        >
          <p
            style="
              color:  #231F20;
              font-family: Montserrat;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.5rem;
            "
          >
            Mediana
          </p>
          {% render 'icon-flecha-abajo' %}
        </div>
      </div>
      <div
        style="
          display: flex;
          height:  3rem;
          padding: 1.25rem;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          flex-shrink: 0;
          align-self: stretch;
          border-radius:  0.25rem;
          background:  #C8102E;
        "
        class="proceso-compra"
      >
        <p
          style="
            font-family: Montserrat;
            color:  #FFF;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          "
        >
          90 Bs • Continuar
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .contenedor-base {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--Black, #231f20);
    padding: 0px 3.125rem;
    margin-top: 4rem;
    gap: 1rem;
  }

  .contenedor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    gap: 0.5rem;
  }

  .body-text-1 {
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.0875rem;
  }

  .body-text-2 {
    color: #c8102e;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.0875rem;
  }

  .contenedor-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 1rem;
    font-family: var(--fuente-principal);
  }

  .item-producto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 19.375rem;
    height: 37.25rem;
  }

  .imagen-producto {
    height: 16.875rem;
    width: 100%;
  }

  .imagen-producto img {
    height: 100%;
    width: 100%;
    object-fit: content;
  }

  .descripcion-producto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
    width: 100%;
    height: 10rem;
  }

  .descripcion-producto h3 {
    color: #231f20;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
  }

  .descripcion-producto p {
    color: #231f20;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .input-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
  }

  .input-producto p {
    color: #231f20;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .proceso-compra {
    display: flex;
    height: 3rem;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0.25rem;
    background: #c8102e;
  }

  .proceso-compra p {
    font-family: Montserrat;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
  }

  .contenedor-custom-input {
    display: flex;
    height: 3rem;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid #353535;
    background: #fff;
  }

  .contenedor-custom-input {
    color: #231f20;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
</style>

{% schema %}
{
  "name": "Productos Principales",
  "tag": "section",
  "class": "productos-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
