<!-- Hoja de estilos Css -->
{{ 'productos-index.css' | asset_url | stylesheet_tag }}

<productos-index>
  <div class="pi-base">
    <section class="pi-titulo">
      <small class="pi-titulo-1">tu pizza favorita</small>
      <small class="pi-titulo-2">¡Te espera!</small>
    </section>
    <section class="pi-items">
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
    </section>
  </div>
</productos-index>

<script>
  class ProductosIndex extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define('productos-index', ProductosIndex);
</script>

{% schema %}
{
  "name": "Productos Principales",
  "tag": "section",
  "class": "productos-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
