<!-- Hoja de estilos Css -->
{{ 'productos-index.css' | asset_url | stylesheet_tag }}

<productos-index>
  <div class="pi-base">
    <section class="pi-titulo">
      <small class="pi-titulo-1">tu pizza favorita</small>
      <small class="pi-titulo-2">¡Te espera!</small>
    </section>
    <section class="pi-items">
      <div class="pi-item-producto">
        <div class="pi-producto-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="pi-producto-informacion">
          <h3>PEPPERONI</h3>
          <p>
            Salsa de tomate, queso mozzarella, y Pepperoni importado de Italia. Nuestra receta tradicional incluye una
            bocado frece un perfecto equilibrio entre lo salado, ahumado y ligeramente picante.
          </p>
        </div>
        <h3 class="pi-producto-precio">90BS</h3>
        <div class="pi-producto-seleccion">
          <p>Tamaño</p>
          <div class="pi-producto-seleccion-input">
            <input type="text" placeholder="Mediana">
            {% render 'icon-flecha-abajo' %}
          </div>
        </div>
        <button class="pi-producto-personalizar">
          <p>PERSONALIZAR</p>
        </button>
      </div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
      <div class="pi-item-producto"></div>
    </section>
  </div>
</productos-index>

<script>
  class ProductosIndex extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define('productos-index', ProductosIndex);
</script>

{% schema %}
{
  "name": "Productos Principales",
  "tag": "section",
  "class": "productos-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
