<search-products>
  <section class="sp-container-base container-base">
    <div class="sp-container-base-header">
      <h1>SIN RESULTADOS(5)</h1>
    </div>
    <div class="sp-container-base-body">
      <!-- CUANDO SE ENCUENTRAN PRODUCTOS -->
      <div class="container-productos-general">
        <div
          class="producto-item"
        >
          <div class="producto-item-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="producto-item-info">
            <h3>CHESSY LOVERS</h3>
            <p>
              Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
              tocino.
            </p>
          </div>
          <h3 class="color-letras-primary">12.56 BS</h3>
          <div
            id="phsp-general-variantes"
            tipo-producto="simple"
            class="seleccion-variante-producto-general"
          >
            <p>Tamaño</p>
            <button
              id="phsp-view-variantes"
              class="container-info-variante"
            >
              <p id="phsp-variante-seleccionado">Pequeño</p>
              <div class="icono-dropdown-variantes icon-color-tertiary">
                {% render 'icon-flecha-abajo' %}
              </div>
            </button>
            <div
              id="phsp-items-variantes"
              class="variantes-producto"
            >
              <div class="variante-producto-item">
                <p>Familiar</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Mediana</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Basica</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Personalizada</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
            </div>
          </div>
          <button class="boton-producto-personalizar">
            <p class="color-letras-secondary">Personalizar</p>
          </button>
        </div>
        <div
          class="producto-item"
        >
          <div class="producto-item-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="producto-item-info">
            <h3>CHESSY LOVERS</h3>
            <p>
              Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
              tocino.
            </p>
          </div>
          <h3 class="color-letras-primary">12.56 BS</h3>
          <div
            id="phsp-general-variantes"
            tipo-producto="simple"
            class="seleccion-variante-producto-general"
          >
            <p>Tamaño</p>
            <button
              id="phsp-view-variantes"
              class="container-info-variante"
            >
              <p id="phsp-variante-seleccionado">Pequeño</p>
              <div class="icono-dropdown-variantes icon-color-tertiary">
                {% render 'icon-flecha-abajo' %}
              </div>
            </button>
            <div
              id="phsp-items-variantes"
              class="variantes-producto"
            >
              <div class="variante-producto-item">
                <p>Familiar</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Mediana</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Basica</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Personalizada</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
            </div>
          </div>
          <button class="boton-producto-personalizar">
            <p class="color-letras-secondary">Personalizar</p>
          </button>
        </div>
        <div
          class="producto-item"
        >
          <div class="producto-item-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="producto-item-info">
            <h3>CHESSY LOVERS</h3>
            <p>
              Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
              tocino.
            </p>
          </div>
          <h3 class="color-letras-primary">12.56 BS</h3>
          <div
            id="phsp-general-variantes"
            tipo-producto="simple"
            class="seleccion-variante-producto-general"
          >
            <p>Tamaño</p>
            <button
              id="phsp-view-variantes"
              class="container-info-variante"
            >
              <p id="phsp-variante-seleccionado">Pequeño</p>
              <div class="icono-dropdown-variantes icon-color-tertiary">
                {% render 'icon-flecha-abajo' %}
              </div>
            </button>
            <div
              id="phsp-items-variantes"
              class="variantes-producto"
            >
              <div class="variante-producto-item">
                <p>Familiar</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Mediana</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Basica</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Personalizada</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
            </div>
          </div>
          <button class="boton-producto-personalizar">
            <p class="color-letras-secondary">Personalizar</p>
          </button>
        </div>
        <div
          class="producto-item"
        >
          <div class="producto-item-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="producto-item-info">
            <h3>CHESSY LOVERS</h3>
            <p>
              Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
              tocino.
            </p>
          </div>
          <h3 class="color-letras-primary">12.56 BS</h3>
          <div
            id="phsp-general-variantes"
            tipo-producto="simple"
            class="seleccion-variante-producto-general"
          >
            <p>Tamaño</p>
            <button
              id="phsp-view-variantes"
              class="container-info-variante"
            >
              <p id="phsp-variante-seleccionado">Pequeño</p>
              <div class="icono-dropdown-variantes icon-color-tertiary">
                {% render 'icon-flecha-abajo' %}
              </div>
            </button>
            <div
              id="phsp-items-variantes"
              class="variantes-producto"
            >
              <div class="variante-producto-item">
                <p>Familiar</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Mediana</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Basica</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
              <div class="variante-producto-item">
                <p>Personalizada</p>
                <p class="color-letras-primary">12.56 BS</p>
              </div>
            </div>
          </div>
          <button class="boton-producto-personalizar">
            <p class="color-letras-secondary">Personalizar</p>
          </button>
        </div>
      </div>
      <!-- CUANDO NO SE ENCUENTRAN PRODUCTOS -->
      <div class="sp-container-base-body-no-products">
        <div class="sp-mensaje-no-productos">
          <ul class="sp-lista-mensaje-no-productos">
            <li class="sp-item-mensaje-no-productos">
              <p>
                Este producto no está en nuestro menú, pero ¡no te preocupes! Sigue explorando nuestras categorías y
                descubre todas las delicias que tenemos para ti.
              </p>
            </li>
            <li class="sp-item-mensaje-no-productos">
              <p>
                No encontramos este producto en nuestro menú actual. ¿Por qué no intentas usar otro término de búsqueda?
                Estamos seguros que encontrarás algo delicioso.
              </p>
            </li>
          </ul>
        </div>
        <button class="sp-boton-explorar-menu icon-color-primary">
          <p class="color-letras-primary">Explorar menú</p>
          {% render 'icon-flecha-izquierda' %}
        </button>
      </div>
    </div>
  </section>
</search-products>

{% style %}
  /* ==========================================================================
     ÍNDICE - SECCION(SEARCH PRODUCTS)
     1. CUANDO SE ENCUENTRAN PRODUCTOS
        1.1 PRODUCTO VISTA GENERAL
        1.2 PRODUCTO VARIANTES
     2. CUANDO NO SE ENCUENTRAN PRODUCTOS
     3. MEDIA QUERIES

     ========================================================================== */
  .sp-container-base {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xxl);
    padding: var(--espaciado-xxl) 0;
  }

  .sp-container-base-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--espaciado-xl);
  }

  /* ==========================================================================
     1. CUANDO SE ENCUENTRAN PRODUCTOS
     ========================================================================== */

  /* ==========================================================================
     1.1 PRODUCTO VISTA GENERAL
     ========================================================================== */

  .container-productos-general {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--espaciado-l);
    /* display: none; */
  }

  .producto-item {
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espaciado-m);
    cursor: pointer;
    position: relative;
  }

  .producto-item-imagen {
    width: 100%;
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: var(--espaciado-xs);
    border: 1px solid #969696;
  }

  .producto-item-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--espaciado-xs);
  }

  .producto-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espaciado-xs);
  }

  .producto-item-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .producto-item-info p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .seleccion-variante-producto-general {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espaciado-xs);
  }

  /* .seleccion-variante-producto-general > p:first-child {
    font-weight: 600;
  } */

  .container-info-variante {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--espaciado-xl);
    border-radius: var(--espaciado-xs);
    background-color: var(--colorp-secondary);
    border: 1px solid #353535;
  }

  .container-info-variante:hover {
    border: 2px solid var(--colorp-primary);
  }

  .container-info-variante p {
    font-weight: 400 !important;
  }

  .icono-dropdown-variantes {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boton-producto-personalizar {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espaciado-xs);
    background-color: var(--colorp-primary);
    border-radius: var(--espaciado-xs);
  }

  .boton-producto-personalizar p {
    font-weight: 600;
    text-transform: uppercase;
  }

  /* ==========================================================================
     1.2 PRODUCTO VARIANTES
     ========================================================================== */

  .variantes-producto {
    width: 100%;
    display: flex;
    height: fit-content;
    position: absolute;
    background: var(--colorp-secondary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: var(--espaciado-xs);
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    padding: var(--espaciado-m);
  }

  .variante-producto-item {
    padding: var(--espaciado-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--espaciado-xs);
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 100%;
    width: max-content;
  }

  .variante-producto-item:hover {
    background-color: #f7dce0;
  }

  .variante-producto-item > p:last-child {
    font-weight: 600;
  }

  /* ==========================================================================
     2. CUANDO NO SE ENCUENTRAN PRODUCTOSs
     ========================================================================== */
  .sp-container-base-body-no-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--espaciado-xxl);
    display: none;
  }

  .sp-mensaje-no-productos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sp-boton-explorar-menu {
    width: 100%;
    min-width: 100%;
    max-width: 40rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espaciado-xs);
    background-color: var(--colorp-secondary);
    border: 1px solid var(--colorp-primary);
    border-radius: var(--espaciado-xs);
  }

  .sp-boton-explorar-menu p {
    font-weight: 600;
  }

  .sp-lista-mensaje-no-productos {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xs);
  }

  /* ==========================================================================
     3. MEDIA QUERIES
     ========================================================================== */

  @media screen and (min-width: 768px) {
    .container-productos-general {
      gap: var(--espaciado-xxl);
    }

    .producto-item {
      height: 28rem;
      gap: var(--espaciado-s);
    }

    .container-productos-general {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .sp-boton-explorar-menu {
      width: 30.2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container-productos-general {
      gap: var(--espaciado-xxxl);
    }

    .container-productos-general {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .sp-boton-explorar-menu {
      width: 40rem;
    }
  }
{% endstyle %}

<script>
  class SearchProducts extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      // REFERENCIAS ELEMENTOS
      this.resultadosSeccionVariantes = this.querySelectorAll('#phsp-view-variantes');
      this.dropdownsVariantes = this.querySelectorAll('#phsp-items-variantes');

      // EVENTOS INICIALIZAR
      this.dropdownsVariantes.forEach((elementoBase) => {
        this.procesoVariantes.bind(this)(elementoBase);
      );
      document.addEventListener('click', this.clickEspeciales.bind(this));
      this.resultadosSeccionVariantes.forEach((elementoInicial) => {
        elementoInicial.addEventListener('click', (event) => {
          this.procesoVariantes(event, elementoInicial);
        });
      });

      // INICIALIZAR ELEMENTOS Y PROCESOS CLAVES
      this.dropdownsVariantes.forEach((elementoInicial) => {
        elementoInicial.style.display = 'none';
      });
    }

    procesoVariantes(event, elementoInicial) {
      // Del elemento inicial busco el padre para arriba optengo como elemento
      const contenedorPadre = elementoInicial.closest('#phsp-general-variantes');

      // Despues busco la etiqueta (p) donde se va a mostrar la variante seleccionada
      const etiquetaEscogido = contenedorPadre
        .querySelector('#phsp-view-variantes')
        .querySelector('#phsp-variante-seleccionado');

      // Busco al contenedor donde estan a la vista (variantes) para seleccionar
      const dropdownVariantes = contenedorPadre.querySelector('#phsp-items-variantes');

      // Verifico si el elemento clicado es el botón para abrir/cerrar el dropdown
      const botonVerVariantes = contenedorPadre.querySelector('#phsp-view-variantes');

      if (event.target == botonVerVariantes || botonVerVariantes.contains(event.target)) {
        // Si se hizo click en el botón, toggle el dropdown (mostrar/ocultar)
        if (dropdownVariantes.style.display == 'flex') {
          dropdownVariantes.style.display = 'none';
        } else {
          dropdownVariantes.style.display = 'flex';
        }
      }

      const itemVarianteParaSeleccion = dropdownVariantes.querySelectorAll(
        '#phsp-items-variantes .variante-producto-item'
      );

      // Agrega un evento listener de click a cada elemento
      itemVarianteParaSeleccion.forEach((item) => {
        item.addEventListener('click', (event) => {
          // Obtiene el texto del primer elemento <p> dentro del item
          const nombreVariante = item.querySelector('p:first-child').innerText;

          etiquetaEscogido.innerText = nombreVariante;
          dropdownVariantes.style.display = 'none';
          console.log('Variante Seleccionada :', nombreVariante);
        });
      });
    }

    clickEspeciales(event) {
      // Verificar primero si el clic fue en cualquier elemento phsp-view-variantes o dentro de alguno
      const viewVariantesElements = document.querySelectorAll('#phsp-view-variantes');

      // Comprobar si el clic fue en alguno de estos elementos o sus hijos
      let clickEnViewVariantes = false;
      viewVariantesElements.forEach((element) => {
        console.log('Elemento:', element);
        if (element === event.target || element.contains(event.target)) {
          clickEnViewVariantes = true;
        }
      });

      // Si el clic fue en algún phsp-view-variantes, no hacemos nada
      if (clickEnViewVariantes) {
        console.log('Click en phsp-view-variantes, no cerrar dropdowns');
        return;
      }

      // Si el click fue fuera de algun dropdown #phsp-items-variantes entonces cerrar todos los dropdowns
      const dropdowns = this.querySelectorAll('#phsp-items-variantes');

      // Verifica si el clic fue dentro de algún dropdown
      let clickDentroDropdown = false;

      dropdowns.forEach((dropdown) => {
        // Comprueba si el elemento clicado está dentro del dropdown actual
        if (dropdown.contains(event.target)) {
          clickDentroDropdown = true;
        }
      });

      // Si el clic fue fuera de todos los dropdowns, los cerramos
      if (!clickDentroDropdown) {
        dropdowns.forEach((dropdown) => {
          // Oculta el dropdown
          dropdown.style.display = 'none';
        });
      }
    }

    alternarDropdown(elementoBase){
      if (elementoInicial.style.display == 'flex') {
        elementoInicial.style.display = 'none';
      } else {
        elementoInicial.style.display = 'flex';
      }

      this.dropdownsVariantes.forEach((elementoHermano) => {
        if (elementoHermano != elementoBase) {
          elementoHermano.style.display = 'none';
        }
      });

    }
  }

  customElements.define('search-products', SearchProducts);
</script>

{% schema %}
{
  "name": "Productos de búsqueda",
  "tag": "section",
  "class": "search-products",
  "settings": [],
  "blocks": []
}
{% endschema %}
