<div
  style="
    width: 100%;
    height: 196px;
        margin-bottom: 54px;
        padding: 0px 4rem;
  "
  class="contenedor-base"
>
  <div
    class="contendor-secundario"
    style="
      width: 100%;
      height: 100%;
      padding: 0px 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1.5px solid #969696;
      padding: 50px;
      margin-bottom: 40px;
      font-family: var(--fuente-principal);
    "
  >
    <div
      style="
        padding: 0px 71px;
        height: 100%; width: 371px; display: flex; align-items: center; justify-content: center;
      "
    >
      <span style="color: #231F20; text-align: center; font-size: 70px; font-style: normal; font-weight: 400; line-height: 100%; letter-spacing: -1.4px; text-transform: uppercase;"
        >MENÚ</span
      >
    </div>

    <div style="padding: 0px 71px; height: 100%; width: 371px; display: flex; align-items: center; justify-content: center; border-left: 1.5px solid #969696; border-right: 1.5px solid #969696;">
      <span style="color: #231F20; text-align: center; font-size: 70px; font-style: normal; font-weight: 400; line-height: 100%; letter-spacing: -1.4px; text-transform: uppercase;"
        >OFERTAS</span
      >
    </div>

    <div style="padding: 0px 71px; height: 100%; width: 371px; display: flex; align-items: center; justify-content: center;">
      <img
        src="{{ 'logo-pizza-hut.png' | asset_url }}"
        alt="Logo Pizza Hut"
        style="
          width: 100%;
          height: 100%;
          object-fit: contain;
        "
      >
    </div>
  </div>
</div>

{% style %}
  :root {
    --fuente-principal: 'League Gothic', sans-serif;
    --fuente-secundaria: 'Montserrat', sans-serif;
    --color-primario: #231f20;
    --color-borde: #dedede;
    --color-borde-oscuro: #969696;
  }
{% endstyle %}

{% schema %}
{
  "name": "Sub Menu Principal",
  "tag": "section",
  "class": "sub-menu-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
