<div class="contenedor-base">
  <div class="contenedor-secundario">
    <div class="seccion-menu">
      <span class="texto-menu">MENÚ</span>
    </div>

    <div class="seccion-ofertas">
      <span class="texto-menu">OFERTAS</span>
    </div>

    <div class="seccion-logo">
      <img
        src="{{ 'logo-pizza-hut.png' | asset_url }}"
        alt="Logo Pizza Hut"
        class="imagen-logo"
      >
    </div>
  </div>
</div>

{% style %}
    :root {
      :root {
    --fuente-principal: 'League Gothic', sans-serif;
    --fuente-secundaria: 'Montserrat', sans-serif;
    --color-primario: #231f20;
    --color-borde: #dedede;
    --color-borde-oscuro: #969696;
  }

  .contenedor-base {
    width: 100%;
    height: 196px;
    margin-bottom: 54px;
    padding: 0 4rem;
  }

  .contenedor-secundario {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #969696;
    font-family: var(--fuente-principal);
  }

  .seccion-menu,
  .seccion-ofertas,
  .seccion-logo {
    padding: 0 71px;
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seccion-ofertas {
    border-left: 1.5px solid #969696;
    border-right: 1.5px solid #969696;
  }

  .texto-menu {
    color: #231f20;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.4px;
    text-transform: uppercase;
  }

  .imagen-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Tablets y dispositivos pequeños: 768px - 1023px */
  @media screen and (max-width: 1023px) {
    .contenedor-base {
      height: 150px;
      padding: 0 2rem;
    }

    .contenedor-secundario {
      padding: 30px;
    }

    .seccion-menu,
    .seccion-ofertas,
    .seccion-logo {
      padding: 0 40px;
      width: 250px;
    }

    .texto-menu {
      font-size: 50px;
    }
  }

  /* Laptops y Desktops pequeños: 1024px - 1366px */
  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    .contenedor-base {
      height: 170px;
      padding: 0 3rem;
    }

    .contenedor-secundario {
      padding: 40px;
    }

    .seccion-menu,
    .seccion-ofertas,
    .seccion-logo {
      padding: 0 50px;
      width: 300px;
    }

    .texto-menu {
      font-size: 60px;
    }
  }

  /* Monitores grandes: 1440px - 1919px */
  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    .contenedor-base {
      height: 196px;
      padding: 0 4rem;
    }

    .seccion-menu,
    .seccion-ofertas,
    .seccion-logo {
      width: 391px;
    }

    .texto-menu {
      font-size: 70px;
    }
  }

  /* Pantallas extra grandes: 1920px y superior */
  @media screen and (min-width: 1920px) {
    .contenedor-base {
      height: 220px;
      padding: 0 5rem;
    }

    .contenedor-secundario {
      padding: 60px;
    }

    .seccion-menu,
    .seccion-ofertas,
    .seccion-logo {
      padding: 0 80px;
      width: 400px;
    }

    .texto-menu {
      font-size: 80px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Sub Menu Principal",
  "tag": "section",
  "class": "sub-menu-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
