<!-- Diseños css -->
{{ 'sub-menu-index.css' | asset_url | stylesheet_tag }}

<div class="smi-index">
  <section class="smi-opciones" id="smi-menu">
    <small>MENÚ</small>
  </section>
  <section class="smi-opciones" id="smi-ofertas">
    <small>OFERTAS</small>
  </section>
  <section class="smi-opciones" id="smi-hut-coins">
    <img src="{{ 'logo-hutCoints.png' | asset_url }}" alt="Hut Coins">
  </section>
</div>

{% schema %}
{
  "name": "Sub Menu Principal",
  "tag": "section",
  "class": "sub-menu-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
