.bi-index {
  display: flex;
  width: 100%;
  height: 19.5rem;
  gap: var(--espaciado-xl);
  position: relative;
  justify-content: center;
}

.bi-contenedor-imagen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bi-contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bi-informacion-banner {
  height: fit-content;
  width: calc(100% - var(--espaciado-xl) * 2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--espaciado-xl);
  position: absolute;
  top: var(--espaciado-big);
  left: var(--espaciado-xl);
}

.bi-informacion-banner-texto {
  width: 16rem;
}

.bi-informacion-banner small {
  color: var(--colorp-secondary);
  font-family: var(--fuente-primary);
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.bi-boton-banner {
  width: 100%;
  display: flex;
  height: var(--espaciado-big);
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-s);
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
}

.bi-boton-banner p {
  color: var(--colorp-secondary);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}

.bi-opciones-banner {
  display: flex;
  gap: var(--espaciado-m);
  position: absolute;
  top: calc(100% - 1.5rem);
}

.bi-boton-carrusel svg {
  width: 0.875rem;
  height: 0.875rem;
  aspect-ratio: 1/1;
}

/* asdasd */
