.bi-index {
  display: flex;
  width: 100%;
  height: 19.5rem;
  gap: var(--espaciado-xl);
  position: relative;
  justify-content: center;
}

.bi-contenedor-imagen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bi-contenedor-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bi-icono-flecha-atras svg,
.bi-icono-flecha-adelante svg {
  width: 2.625rem;
  height: 2.625rem;
  aspect-ratio: 1/1;
}

.bi-icono-flecha-atras {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}

.bi-icono-flecha-adelante {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}

.bi-informacion-banner {
  height: fit-content;
  width: calc(100% - var(--espaciado-xl) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--espaciado-xl);
  position: absolute;
  top: var(--espaciado-big);
  left: var(--espaciado-xl);
}

.bi-informacion-banner-texto {
  width: 16rem;
}

.bi-informacion-banner small {
  color: var(--colorp-secondary);
  font-family: var(--fuente-primary);
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.bi-boton-banner {
  width: 100%;
  display: flex;
  height: var(--espaciado-big);
  padding: 1.25rem;
  justify-content: center;
  align-items: start;
  gap: var(--espaciado-s);
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
}

.bi-boton-banner p {
  color: var(--colorp-secondary);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}

.bi-opciones-banner {
  display: flex;
  gap: var(--espaciado-m);
  position: absolute;
  top: calc(100% - 1.5rem);
}

.bi-boton-carrusel svg {
  width: 0.875rem;
  height: 0.875rem;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 768px) {
  .bi-index {
    height: 30rem;
  }

  .bi-opciones-banner {
    top: calc(100% - 2rem);
  }

  .bi-icono-flecha-atras {
    left: 2rem;
  }

  .bi-icono-flecha-adelante {
    right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .bi-index {
    height: 26.5rem;
  }

  .bi-opciones-banner {
    top: calc(100% - 2.5rem);
  }

  .bi-informacion-banner {
    width: 20rem;
    gap: var(--espaciado-xl);
    top: 5rem;
    left: 10rem;
  }

  .bi-informacion-banner small {
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.12rem;
    text-transform: uppercase;
  }
}
