/* ==========================================================================
     ÍNDICE 
     1. DESKTOP
       1.1 PRODUCTO DESKTOP
       1.2 PRODUCTO2 DESKTOP
       1.3 PRODUCTO3 DESKTOP
     2. MOBILE
       2.1 PRODUCTO MOBILE
       2.2 PRODUCTO2 MOBILE
       2.3 PRODUCTO3 MOBILE
     3. PRODUCTO PROMOCION CARRITO
        3.1. PRODUCTO DE TARJETA VERTICAL(DESKTOP) A HORIZONTAL(MOBILE)
        3.2. CANTIDAD SECTOR
     4. BOTONES DE PRODUCTOS
        4.1. BOTON DE PERSONALIZAR
        4.2. BOTON DE AGREGAR AL CARRITO
     5. (BASE) => METODO DE ENTREGA - CHECKOUT - CREAR CUENTA - INICIO SESION
        5.1. SOLICITUD METODO DE ENTREGA
        5.2. CHECKOUT
        5.3. CONTENEDOR ROW Y COLUMN 
        5.4. INPUTS
        5.5  HEADER DE SECCIONES
     6. INPUT DE BUSQUEDA
     7. MODAL 
        7.1. MODAL PARA MOBILE Y DEKTOP IGUAL
        7.2. MODAL PARA MOBILE Y DEKTOP RESPONSIVO
        7.3. MODAL CONTENIDO (SNIPPER)
     8. FOOTER PARA MOBILE 
     9. BOTONES ESTILOS
        9.1. BOTON GENERAL
        9.2. BOTON PRIMARIO
        9.3. BOTON SECUNDARIO
     10. ERRORES
        10.1. ERROR 1
        10.2. ERROR 2
        10.3. ERROR 3
     11. HEADER ESPECIAL MOBIL
     11. MEDIA QUERIES
     ========================================================================== */

cantidad-input {
  width: 100%;
  height: auto;
}

/* =================================
  3. PRODUCTO PROMOCION CARRITO
================================= */

/* ===== TARJETA HORIZONTAL(MOBILE)===== */

.cardph-item-producto {
  width: 21.25rem;
  height: max-content;
  display: flex;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  border: 1.5px solid #969696;
}

.cardph-itemp-imagen {
  width: 8.12rem;
  border-right: 1.5px solid #969696;
}

.cardph-itemp-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: var(--espaciado-xs);
  border-bottom-right-radius: var(--espaciado-xs);
}

.cardph-itemp-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.cardph-itemp-info h3 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardph-itemp-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== TARJETA VERTICAL(DESKTOP)===== */

/* ===== 3.2. CANTIDAD SECTOR ===== */

.ph-cantidad {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

.ph-cantidad-selector {
  min-width: 100%;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--espaciado-xl);
  border-radius: var(--espaciado-s);
  border: 1px solid #717171;
}

.ph-cantidad-selector-button {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ph-cantidad-selector-button svg {
  width: 1.875rem;
  height: 1.875rem;
  aspect-ratio: 1/1;
}

/* =================================
  4. BOTONES DE PRODUCTOS
================================= */

/* ===== BOTON DE PERSONALIZAR===== */

.boton-producto-personalizar {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.boton-producto-personalizar p {
  font-weight: 600;
  text-transform: uppercase;
}

/* ===== BOTON DE AGREGAR AL CARRITO===== */

.boton-producto-agregar {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.boton-producto-agregar p {
  font-weight: 600;
  text-transform: uppercase;
}

/* =================================
  5.  (BASE) => METODO DE ENTREGA - CHECKOUT - CREAR CUENTA - INICIO SESION
================================= */

.container-main-smecph {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--espaciado-xxxl);
  padding: var(--espaciado-xxxl) var(--espaciado-xl) var(--espaciado-xxxl)
    var(--espaciado-xl);
  position: relative;
}

.container-main-smecph small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.container-sub-smecph {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-l);
  padding: var(--espaciado-xxl);
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1px solid #969696;
}

.container-sub-simple-smecph {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: start; */
  justify-content: center;
  text-align: center;
  gap: var(--espaciado-l);
  /* padding: var(--espaciado-xxl); */
  background-color: var(--colorp-secondary);
}

.container-sub-simple-smecph hr,
.container-sub-simple-smecph hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.25rem auto;
  width: 100%;
  height: 0;
  overflow: visible;
}

.smecph-opciones-metodos {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smecph-opcion-metodo {
  position: relative;
  width: 100%;
  flex-basis: 48%;
  display: flex;
  align-items: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1.5px solid #969696;
}

.smecph-opcion-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

.smecph-opcion-mensaje {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.smecph-opcion-info p:first-of-type {
  font-weight: 600;
}

.smecph-opcion-info > svg,
.smecph-opcion-info > svg path {
  width: 3rem;
  height: 3rem;
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg)
    brightness(91%) contrast(97%);
  fill: var(--colorp-primary);
}

.smecph-opcion-icono {
  position: absolute;
  top: var(--espaciado-s);
  right: var(--espaciado-s);
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-opcion-metodo.seleccionado {
  border: 0;
  background-color: var(--colorp-primary);
}

.smecph-opcion-metodo.seleccionado .smecph-opcion-info p {
  color: var(--colorp-secondary);
}

.smecph-opcion-metodo.seleccionado .smecph-opcion-info > svg,
.smecph-opcion-metodo.seleccionado .smecph-opcion-info > svg path {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  fill: var(--colorp-secondary);
}

/* ===== SOLICITUD METODO DE ENTREGA===== */

/* ===== SOLICITUD CHECKOUT===== */

/* ===== CONTENEDOR ROW Y COLUMN ===== */

.container-sub-simple-smecph-column {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
  /* padding: var(--espaciado-xxl); */
  gap: var(--espaciado-l);
  padding: var(--espaciado-xxl);
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1px solid #969696;
}

.container-sub-simple-smecph-row {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-l);
  /* padding: var(--espaciado-xxl); */
  gap: var(--espaciado-l);
  padding: var(--espaciado-xxl);
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1px solid #969696;
}

/* ===== INPUTS ===== */

.ph-container-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-m);
  padding: var(--espaciado-m) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorb-primary);
}

.ph-container-mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
  border-right: 1px solid #969696;
}

.ph-mcci-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.ph-mcci-input > p:first-of-type {
  font-weight: 600;
}

.ph-mcci-input.error .ph-container-input {
  border: 1.5px solid var(--colorp-primary);
}

.ph-mcci-input.error > p:first-of-type {
  color: var(--colorp-primary);
}

.ph-mcci-input.error .ph-mcci-mensaje-input p {
  color: var(--colorp-primary);
  font-weight: 600;
}

.ph-mcci-input.error .ph-mcci-mensaje-input svg,
.ph-mcci-input.error .ph-mcci-mensaje-input svg path {
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg)
    brightness(91%) contrast(97%);
  fill: var(--colorp-primary);
}

.ph-mcci-input.error .ph-mcci-mensaje-input {
  display: flex;
}

.ph-mcci-mensaje-input {
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xs);
  display: none;
}

.ph-mcci-mensaje-input p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== FORMULARIOo ===== */

.ph-mcci-frm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
}

/* ===== HEADERS ===== */

.ph-mcci-header-simpler {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: var(--espaciado-s);
}

.ph-mcci-header-simplec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--espaciado-s);
}

.ph-mcci-header-simpler p,
.ph-mcci-header-simplec p {
  color: var(--colorp-extra);
}

/* =================================
  7. MODAL
================================= */

.ph-background-container-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  /* padding: 5rem 0; */
  /* display: none; */
}

/* ===== MODAL PARA MOBILE Y DEKTOP IGUAL===== */

.ph-mmdi-modal-main {
  height: max-content;
  min-width: 23.75rem;
  max-width: 42rem;
  /* max-height: 34rem; */
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-l);
  padding: var(--espaciado-xl);
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* display: none; */
}

/* ===== MODAL PARA MOBILE Y DEKTOP RESPONSIVOO ===== */

.ph-mmdr-modal-main {
  height: max-content;
  max-width: 25rem;
  max-height: 34rem;
  padding: 2rem 1.25rem;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ===== MODAL CONTENIDO (SNIPPER) ===== */

.ph-modal-main-snipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-l);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.ph-modal-main-snipper p {
  font-weight: 600;
  color: var(--colorp-secondary);
}

.ph-modal-body-snipper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.snipper-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.4375rem;
  height: 9.375rem;
}

.snipper-background {
  position: absolute;
  width: 9.4375rem;
  height: 9.375rem;
  animation: rotate 1.5s linear infinite;
  overflow: visible;
}

.snipper-logo {
  position: absolute;
  width: 6.625rem;
  height: 6.125rem;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

.snipper-background img,
.snipper-logo img {
  display: block;
  object-fit: contain;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =================================
  8. FOOTER PARA MOBILE
================================= */

.ph-opciones-mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  height: max-content;
  padding: var(--espaciado-l) var(--espaciado-xl);
  background-color: var(--colorp-secondary);
  border-top: 1px solid #dedede;
}

/* =================================
  9. BOTONES ESTILOS
================================= */

/* ===== BOTON DESACTIVADO ===== */

.ph-btn-desactivado {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-desactivado);
}

.ph-btn-desactivado p {
  color: var(--colorp-extra);
  font-weight: 600;
}

/* ===== BOTON GENERAL ===== */

.ph-btn-general {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-primary);
  gap: var(--espaciado-xs);
}

.ph-btn-general svg,
.ph-btn-general svg path,
.ph-btn-general svg mask rect,
.ph-btn-general svg g,
.ph-btn-general path,
.ph-btn-general g {
  fill: var(--colorp-secondary);
}

.ph-btn-general p {
  color: var(--colorp-secondary);
  font-weight: 600;
  text-align: center;
}

.ph-btn-general.desactivado {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: #efefef;
  gap: var(--espaciado-xs);
}

.ph-btn-general.desactivado svg,
.ph-btn-general.desactivado svg path,
.ph-btn-general.desactivado svg mask rect,
.ph-btn-general.desactivado svg g,
.ph-btn-general.desactivado path,
.ph-btn-general.desactivado g {
  fill: var(--colorp-extra);
}

.ph-btn-general.desactivado p {
  color: #717171;
  font-weight: 600;
  text-align: center;
}

/* ===== BOTON PRIMARIO ===== */
.ph-btn-primario.desactivado,
.ph-btn-primario {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  gap: var(--espaciado-xs);
}

.ph-btn-primario p {
  color: var(--colorp-primary);
  font-weight: 600;
  text-align: center;
}

.ph-btn-primario p {
  color: var(--colorp-primary);
  font-weight: 600;
  text-align: center;
}

.ph-btn-primario.desactivado p {
  color: #969696;
  font-weight: 600;
  text-align: center;
}

/* ===== BOTON SECUNDARIO ===== */

.ph-btn-secundario {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorp-primary);
  gap: var(--espaciado-xs);
}

.ph-btn-secundario p {
  color: var(--colorp-primary);
  font-weight: 600;
  text-align: center;
}

/* =================================
  10. ERRORES
================================= */

/* ===== ERROR 1 ===== */

/* ===== ERROR 2 ===== */

/* ===== ERROR 3 ===== */

/* =================================
  11. HEADER ESPECIAL MOBIL
================================= */

.ph-especial-header-mobile {
  height: 5.25rem;
  position: absolute;
  top: 0;
  left: 1.25rem;
  right: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--espaciado-s);
  border: 1px solid #dedede;
  background: #fff;
  margin-top: 1.25rem;
  padding: 0 var(--espaciado-xl);
}

.ph-especial-header-mobile small {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
}

/* ==========================================================================
  1.1 PRODUCTO DESKTOP
     ========================================================================== */

/* ==========================================================================
  1.2 PRODUCTO2 DESKTOP
     ========================================================================== */

.producto2-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  1.3 PRODUCTO3 DESKTOP
     ========================================================================== */

.producto3-item {
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  2. MOBILE
     ========================================================================== */

/* ==========================================================================
  2.1 PRODUCTO MOBILE
     ========================================================================== */

.productom-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  2.2 PRODUCTO2 MOBILE
     ========================================================================== */

.producto2m-item {
  width: fit-content;
  display: flex;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
}

.producto2m-item-imagen {
  width: 8.12rem;
  height: auto;
  border-right: 1.5px solid #969696;
}

.producto2m-item-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto2m-item-info {
  width: 13.12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.producto2m-item-info h3 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto2m-item-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==========================================================================
  2.3 PRODUCTO3 MOBILE
     ========================================================================== */

.producto3m-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

.sp-container-base {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
  padding: var(--espaciado-xxl) 0;
}

.sp-container-base-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-xl);
}

/* ==========================================================================
     1. CUANDO SE ENCUENTRAN PRODUCTOS
     ========================================================================== */

/* ==========================================================================
     1.1 PRODUCTO VISTA GENERAL
     ========================================================================== */

.container-productos-general {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--espaciado-l);
}

.producto-item {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  /* cursor: pointer; */
  position: relative;
}

.producto-item-imagen {
  width: 100%;
  /* width: 100%;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696; */
  /* width: 11rem; */
  height: 11rem;
}

.producto-item-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}

.producto-es-item-detalle,
.producto-item-detalle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

.producto-es-item-info,
.producto-item-info {
  height: 5.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.producto-es-item-info h3,
.producto-item-info h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-es-item-info p,
.producto-item-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seleccion-variante-producto-general {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.seleccion-variante-producto-general > p:first-child {
  font-weight: 600;
}

.container-info-variante {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid #353535;
}

.container-info-variante:hover {
  border: 2px solid var(--colorp-primary);
}

.container-info-variante p {
  font-weight: 400 !important;
}

.icono-dropdown-variantes {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .producto-es-item-info,
  .producto-item-info {
    height: 6.5em;
  }
}

@media screen and (min-width: 1024px) {
  .producto-es-item-info,
  .producto-item-info {
    height: 6.3rem;
  }
}

/* ===== ESPECIAL (PRODUCTO VISTA GENERAL) ===== */

.producto-es-item {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: min-content;
  gap: 0;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
  align-items: stretch;
  min-height: 12.5rem;
  position: relative;
}

.producto-es-item-imagen {
  width: 8.12rem;
  border-right: 1.5px solid #969696;
  border-top-left-radius: var(--espaciado-xs);
  border-bottom-left-radius: var(--espaciado-xs);
  overflow: hidden;
}

.producto-es-item-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto-es-item-detalle {
  padding: var(--espaciado-l);
  width: 13.12rem;
  gap: var(--espaciado-xs);
  align-items: start;
  justify-content: center;
  height: auto;
}

.seleccion-variante-producto-general {
  /* display: none; */
}

@media screen and (min-width: 768px) {
  .producto-es-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 0.5rem;
  }

  .producto-es-item-detalle {
    padding: 0;
  }

  .producto-es-item-imagen {
    /* width: 16rem; */
    width: auto;
    height: 9.5rem;
    border: 0;
    border-radius: var(--espaciado-xs) !important;
  }

  .producto-es-item-detalle {
    /* width: fit-content; */
    width: 100%;
  }
}

/* ==========================================================================
     1.2 PRODUCTO VARIANTES
========================================================================== */

.variantes-producto {
  display: flex;
  width: 100%;
  height: fit-content;
  position: absolute;
  background: var(--colorp-secondary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--espaciado-xs);
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: var(--espaciado-m);
  left: 50%;
  top: 69%;
}

.variante-producto-item {
  padding: var(--espaciado-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-xs);
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 100%;
  width: max-content;
}

.variante-producto-item:hover {
  background-color: #f7dce0;
}

.variante-producto-item p:last-child {
  font-weight: 600;
}

/* ===== ESPECIAL (PRODUCTO VARIANTES) ===== */

/* ==========================================================================
     2. CUANDO NO SE ENCUENTRAN PRODUCTOSs
     ========================================================================== */
.sp-container-base-body-no-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xxl);
  display: none;
}

.sp-mensaje-no-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sp-boton-explorar-menu {
  width: 100%;
  min-width: 100%;
  max-width: 40rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.sp-boton-explorar-menu p {
  font-weight: 600;
}

.sp-lista-mensaje-no-productos {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

/* ==========================================================================
     3. MEDIA QUERIES
     ========================================================================== */

@media screen and (min-width: 768px) {
  .ph-especial-header-mobile {
    display: none;
  }

  .ph-opciones-mobile-footer {
    position: relative;
    background-color: transparent;
    border-top: 0;
    padding: 0;
    gap: var(--espaciado-l);
  }

  .container-main-smecph {
    gap: var(--espaciado-xxl);
  }

  .smecph-opcion-info {
    justify-content: start;
    flex-direction: row;
    gap: var(--espaciado-m);
  }

  .producto2-item {
    height: 20.28rem;
  }

  .producto3-item {
    height: 19.38rem;
  }

  /* .container-productos-general {
    gap: var(--espaciado-xxl);
  } */

  .producto-item {
    height: max-content;
    /* height: 28rem; */
    /* gap: var(--espaciado-xs); */
    gap: 0.5rem;
  }

  .container-productos-general {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 1.5rem;
  }

  .sp-boton-explorar-menu {
    width: 30.2rem;
  }

  /* ===== TARJETA VERTICAL(TABLET)===== */

  .cardph-item-producto {
    width: 14.82rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--colorp-secondary);
    gap: var(--espaciado-m);
    border: none;
  }

  .cardph-itemp-imagen {
    width: 100%;
    height: 12.48rem;
    border: 1.5px solid #969696;
    border-radius: var(--espaciado-xs);
  }

  .cardph-itemp-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--espaciado-xs);
  }

  .cardph-itemp-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espaciado-s);
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .producto2-item {
    height: 26rem;
  }

  .producto3-item {
    height: 21rem;
  }

  .container-productos-general {
    gap: var(--espaciado-xxxl);
  }

  .container-productos-general {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sp-boton-explorar-menu {
    width: 40rem;
  }

  /* ===== TARJETA VERTICAL(DESKTOP)===== */

  .cardph-item-producto {
    width: 19rem;
    gap: var(--espaciado-xl);
  }

  .cardph-itemp-imagen {
    height: 16rem;
  }
}
