/* ==========================================================================
     ÃNDICE 
     1. DESKTOP
       1.1 PRODUCTO DESKTOP
       1.2 PRODUCTO2 DESKTOP
       1.3 PRODUCTO3 DESKTOP
     2. MOBILE
       2.1 PRODUCTO MOBILE
       2.2 PRODUCTO2 MOBILE
       2.3 PRODUCTO3 MOBILE
     3. PRODUCTO PROMOCION CARRITO
        3.1. PRODUCTO DE TARJETA VERTICAL(DESKTOP) A HORIZONTAL(MOBILE)
     4. BOTONES DE PRODUCTOS
        4.1. BOTON DE PERSONALIZAR
        4.2. BOTON DE AGREGAR AL CARRITO
     5. METODO DE ENTREGA Y CHECKOUT
        5.1. SOLICITUD METODO DE ENTREGA
        5.2. CHECKOUT
     6. INPUT DE BUSQUEDA
     7. MODAL 
        7.1. MODAL PARA MOBILE Y DEKTOP IGUAL
        7.2. MODAL PARA MOBILE Y DEKTOP RESPONSIVO
     6. MEDIA QUERIES
     ========================================================================== */

/* =================================
  3. PRODUCTO PROMOCION CARRITO
================================= */

/* ===== TARJETA HORIZONTAL(MOBILE)===== */

.cardph-item-producto {
  width: 21.25rem;
  height: max-content;
  display: flex;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  border: 1.5px solid #969696;
}

.cardph-itemp-imagen {
  width: 8.12rem;
  border-right: 1.5px solid #969696;
}

.cardph-itemp-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: var(--espaciado-xs);
  border-bottom-right-radius: var(--espaciado-xs);
}

.cardph-itemp-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.cardph-itemp-info h3 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardph-itemp-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== TARJETA VERTICAL(DESKTOP)===== */

/* =================================
  4. BOTONES DE PRODUCTOS
================================= */

/* ===== BOTON DE PERSONALIZAR===== */

.boton-producto-personalizar {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.boton-producto-personalizar p {
  font-weight: 600;
  text-transform: uppercase;
}

/* ===== BOTON DE AGREGAR AL CARRITO===== */

.boton-producto-agregar {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.boton-producto-agregar p {
  font-weight: 600;
  text-transform: uppercase;
}

/* =================================
  5. SOLICITUD METODO DE ENTREGA Y CHECKOUT
================================= */

.container-main-smecph {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--espaciado-xxxl);
  padding: var(--espaciado-xxxl) var(--espaciado-xl) 0 var(--espaciado-xl);
}

.container-sub-smecph {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1px solid #969696;
  padding: var(--espaciado-xxl);
  gap: var(--espaciado-l);
}

.smecph-opciones-metodos {
  /* asda */
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smecph-opcion-metodo {
  position: relative;
  width: 100%;
  flex-basis: 48%;
  display: flex;
  align-items: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-s);
  background-color: var(--colorp-secondary);
  border: 1.5px solid #969696;
}

.smecph-opcion-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

.smecph-opcion-mensaje {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.smecph-opcion-info p:first-of-type {
  font-weight: 600;
}

.smecph-opcion-info > svg,
.smecph-opcion-info > svg path {
  width: 3rem;
  height: 3rem;
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg)
    brightness(91%) contrast(97%);
  fill: var(--colorp-primary);
}

.smecph-opcion-icono {
  position: absolute;
  top: var(--espaciado-s);
  right: var(--espaciado-s);
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-opcion-metodo.seleccionado {
  border: 0;
  background-color: var(--colorp-primary);
}

.smecph-opcion-metodo.seleccionado .smecph-opcion-info p {
  color: var(--colorp-secondary);
}

.smecph-opcion-metodo.seleccionado .smecph-opcion-info > svg,
.smecph-opcion-metodo.seleccionado .smecph-opcion-info > svg path {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  fill: var(--colorp-secondary);
}

/* ===== SOLICITUD METODO DE ENTREGA===== */

/* ===== SOLICITUD CHECKOUT===== */

/* =================================
  7. MODAL
================================= */

.ph-background-container-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 5rem 0;
}

/* ===== MODAL PARA MOBILE Y DEKTOP IGUAL===== */

.ph-mmdi-modal-main {
  height: max-content;
  width: max-content;
  max-width: 25rem;
  max-height: 34rem;
  padding: 2rem 1.25rem;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ===== MODAL PARA MOBILE Y DEKTOP RESPONSIVO ===== */

.ph-mmdr-modal-main {
  height: max-content;
  max-width: 25rem;
  max-height: 34rem;
  padding: 2rem 1.25rem;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ==========================================================================
  1. DESKTOP
     ========================================================================== */

/* ==========================================================================
  1.1 PRODUCTO DESKTOP
     ========================================================================== */

/* ==========================================================================
  1.2 PRODUCTO2 DESKTOP
     ========================================================================== */

.producto2-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  1.3 PRODUCTO3 DESKTOP
     ========================================================================== */

.producto3-item {
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  2. MOBILE
     ========================================================================== */

/* ==========================================================================
  2.1 PRODUCTO MOBILE
     ========================================================================== */

.productom-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

/* ==========================================================================
  2.2 PRODUCTO2 MOBILE
     ========================================================================== */

.producto2m-item {
  width: fit-content;
  display: flex;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
}

.producto2m-item-imagen {
  width: 8.12rem;
  height: auto;
  border-right: 1.5px solid #969696;
}

.producto2m-item-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto2m-item-info {
  width: 13.12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.producto2m-item-info h3 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto2m-item-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==========================================================================
  2.3 PRODUCTO3 MOBILE
     ========================================================================== */

.producto3m-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

.sp-container-base {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
  padding: var(--espaciado-xxl) 0;
}

.sp-container-base-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-xl);
}

/* ==========================================================================
     1. CUANDO SE ENCUENTRAN PRODUCTOS
     ========================================================================== */

/* ==========================================================================
     1.1 PRODUCTO VISTA GENERAL
     ========================================================================== */

.container-productos-general {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--espaciado-l);
  /* display: none; */
}

.producto-item {
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-m);
  cursor: pointer;
  position: relative;
}

.producto-item-imagen {
  width: 100%;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
}

.producto-item-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}

.producto-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.producto-item-info h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-item-info p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seleccion-variante-producto-general {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.seleccion-variante-producto-general p:first-child {
  font-weight: 600;
}

.container-info-variante {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid #353535;
}

.container-info-variante:hover {
  border: 2px solid var(--colorp-primary);
}

.container-info-variante p {
  font-weight: 400 !important;
}

.icono-dropdown-variantes {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
     1.2 PRODUCTO VARIANTES
     ========================================================================== */

.variantes-producto {
  display: flex;
  height: fit-content;
  position: absolute;
  background: var(--colorp-secondary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--espaciado-xs);
  left: 50%;
  bottom: 0;
  transformx: translate(-50%, -50%);
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  padding: var(--espaciado-m);
  display: none;
}

.variante-producto-item {
  padding: var(--espaciado-s);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 100%;
  width: max-content;
}

.variante-producto-item:hover {
  background-color: #f7dce0;
}

.variante-producto-item p:last-child {
  font-weight: 600;
}

/* ==========================================================================
     2. CUANDO NO SE ENCUENTRAN PRODUCTOSs
     ========================================================================== */
.sp-container-base-body-no-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xxl);
  display: none;
}

.sp-mensaje-no-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sp-boton-explorar-menu {
  width: 100%;
  min-width: 100%;
  max-width: 40rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.sp-boton-explorar-menu p {
  font-weight: 600;
}

.sp-lista-mensaje-no-productos {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

/* ==========================================================================
     3. MEDIA QUERIES
     ========================================================================== */

@media screen and (min-width: 768px) {
  .smecph-opcion-info {
    justify-content: start;
    flex-direction: row;
    gap: var(--espaciado-m);
  }

  .producto2-item {
    height: 20.28rem;
  }

  .producto3-item {
    height: 19.38rem;
  }

  .container-productos-general {
    gap: var(--espaciado-xxl);
  }

  .producto-item {
    height: 28rem;
    gap: var(--espaciado-s);
  }

  .container-productos-general {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sp-boton-explorar-menu {
    width: 30.2rem;
  }

  /* ===== TARJETA VERTICAL(TABLET)===== */

  .cardph-item-producto {
    width: 14.82rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--colorp-secondary);
    gap: var(--espaciado-m);
    border: none;
  }

  .cardph-itemp-imagen {
    width: 100%;
    height: 12.48rem;
    border: 1.5px solid #969696;
    border-radius: var(--espaciado-xs);
  }

  .cardph-itemp-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--espaciado-xs);
  }

  .cardph-itemp-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espaciado-s);
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .producto2-item {
    height: 26rem;
  }

  .producto3-item {
    height: 21rem;
  }

  .container-productos-general {
    gap: var(--espaciado-xxxl);
  }

  .container-productos-general {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sp-boton-explorar-menu {
    width: 40rem;
  }

  /* ===== TARJETA VERTICAL(DESKTOP)===== */

  .cardph-item-producto {
    width: 19rem;
    gap: var(--espaciado-xl);
  }

  .cardph-itemp-imagen {
    height: 16rem;
  }
}
