.psme-base-container {
  background-color: var(--colorp-secondary);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.psme-pizza-logo-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 40%;
}

.psme-pizza-logo-background img {
  object-fit: cover;
}

.psme-pizza-logo {
  width: 10.9375rem;
  height: 2.5625rem;
}

.psme-contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--espaciado-m);
  gap: var(--espaciado-xxl);
}

.psme-base-container h1 {
  font-size: 3.3125rem;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.psme-mensaje {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--espaciado-xl);
  padding: 0 var(--espaciado-xl);
}

.psme-opciones-entrega {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--espaciado-xl);
  width: 100%;
  padding: 0 var(--espaciado-xl);
}

.psme-opcion {
  width: 11.25rem;
  height: 11.25rem;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  gap: auto;
  padding: var(--espaciado-xl);
  border: 1px solid var(--colorb-primary);
  background-color: var(--colorp-secondary);
  border-radius: var(--border-radius-3);
}
