.psme-base-container {
  background-color: var(--colorp-secondary);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.psme-pizza-logo-background {
  position: absolute;
  bottom: 0;
  left: -30%;
  width: 90%;
  height: 40%;
  z-index: 0;
  transform: translateY(7%);
}

.psme-pizza-logo-background img {
  object-fit: cover;
}

.psme-pizza-logo {
  width: 10.9375rem;
  height: 2.5625rem;
}

.psme-contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--espaciado-m);
  gap: var(--espaciado-xxl);
  position: relative;
  z-index: 1;
}

.psme-base-container h1 {
  font-size: 3.3125rem;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.psme-mensaje {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--espaciado-xl);
  padding: 0 var(--espaciado-xl);
}

.psme-opciones-entrega {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  /* padding: 0 var(--espaciado-xl); */
  padding: 0 clamp(1.25rem, 5vw, 20rem);
  place-items: center;
  justify-content: space-between;
  margin: auto;
  gap: var(--espaciado-m);
}

.psme-opcion {
  width: 100%;
  /* height: 11.25rem; */
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: var(--espaciado-xxl);
  border: 1.5px solid var(--colorb-primary);
  background-color: var(--colorp-secondary);
  border-radius: var(--border-radius-3);
  position: relative;
}

.psme-icono-select {
  position: absolute;
  right: var(--espaciado-s);
  top: var(--espaciado-s);
  /* width: 1.875rem; */
  /* height: 1.875rem; */
}
.psme-icono-select svg {
  width: 1.875rem;
  height: 1.875rem;
  aspect-ratio: 1/1;
}

.psme-info-select {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espaciado-s);
  text-align: center;
}

.psme-info-select svg {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
}

.psme-info-select-text {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-s);
}

@media screen and (min-width: 768px) {
  .psme-pizza-logo-background {
    left: 0;
    width: 50%;
    height: 45%;
    transform: translateY(83%);
  }

  .psme-contenido-principal {
    margin-top: var(--espaciado-xxxl);
    gap: var(--espaciado-xxl);
  }

  .psme-opcion {
    padding: var(--espaciado-xl);
  }

  .psme-mensaje,
  .psme-opciones-entrega {
    padding: 0 12rem;
  }

  .psme-info-select {
    display: flex;
  }
}

@media screen and (min-width: 1025px) {
  .psme-pizza-logo-background {
    left: 0;
    width: 50%;
    height: 45%;
    transform: translateY(83%);
  }

  .psme-contenido-principal {
    margin-top: var(--espaciado-big);
    gap: var(--espaciado-xxxl);
  }

  .psme-opcion {
    padding: var(--espaciado-l);
  }

  .psme-info-select {
    display: flex;
    flex-direction: row;
    gap: var(--espaciado-s);
  }
  .psme-mensaje,
  .psme-opciones-entrega {
    padding: 0 20rem;
  }
}
