.f-contenedor-base {
  background-color: var(--colorp-tertiary);
  width: 100%;
  padding: var(--espaciado-xxxl) var(--espaciado-xxl);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.f-contenedor-opciones-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: var(--espaciado-big);
}

.f-contenedor-opciones-1 img {
  width: 6.625rem;
  height: 6.24281rem;
  aspect-ratio: 106/99.88;
  object-fit: contain;
}

.f-opciones-navegacion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.f-opciones-navegacion h2 {
  color: var(--colorp-secondary);
}

.f-contenedor-opciones-2 {
  width: 100%;
  margin-top: 2.62rem;
  margin-bottom: var(--espaciado-xxxl);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4.12rem;
}

.f-contenedor-opciones-2 span {
  color: #969696;
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.f-contenedor-redes-sociales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-contenedor-redes-sociales svg {
  width: 3.5rem;
  height: 3.5rem;
  aspect-ratio: 1/1;
}

.f-contenedor-opciones-3 {
  width: 100%;
  border-top: 1px solid var(--colorp-secondary);
  padding-top: 3.12rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.5rem;
}

.f-contenedor-opciones-3-textos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.5rem;
}

.f-contenedor-opciones-3-textos h3 {
  color: var(--colorp-secondary);
}

@media screen and (min-width: 768px) {
  .f-contenedor-opciones-1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .f-opciones-navegacion {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: var(--espaciado-xxl);
  }

  .f-contenedor-opciones-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .f-contenedor-redes-sociales {
    width: fit-content;
    gap: var(--espaciado-xl);
  }

  .f-contenedor-opciones-3 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .f-opciones-navegacion {
    gap: var(--espaciado-xl);
  }

  .f-contenedor-redes-sociales {
    width: fit-content;
    gap: var(--espaciado-l);
  }
}
