header-principal {
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* ===================
   HEADER PRINCIPAL 
   =================== */
.h-header-principal {
  width: 100%;
  height: 5.5rem;
  padding: var(--espaciado-xxxl) var(--espaciado-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--colorp-secondary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.h-icono-carrito {
  width: max-content;
  height: max-content;
  position: relative;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.h-ic-cantidad {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  width: 1.05rem;
  height: 1.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--colorp-primary);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); */
  /* Mejora del centrado */
  padding: 0;
  overflow: hidden;
}

.h-ic-cantidad p {
  color: var(--colorp-secondary);
  font-size: 0.825rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-align: center;
  /* Mejora del centrado */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Para números de dos dígitos */
.hicc-mensaje.digitos-2 {
  font-size: 0.6rem;
}

/* Para números de tres dígitos */
.hicc-mensaje.digitos-3 {
  font-size: 0.45rem;
  font-weight: 600;
}

/* ===================
     LOGO
     =================== */
.h-logo-principal {
  width: 2rem;
  height: 1.8rem;
  aspect-ratio: 11/10;
  cursor: pointer;
}

.h-logo-principal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ===================
     MÉTODO ENTREGA - NO SELECCIONADO 
     =================== */
.h-metodo-entrega-no-seleccionado {
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

/* .h-metodo-entrega-no-seleccionado svg {
  width: 1.5rem;
  height: 1.5rem;
} */

.h-sector-seleccion-metodo-entrega,
.h-sector-metodo-entrega {
  display: flex;
  min-width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: var(--espaciado-xs);
  gap: var(--espaciado-xs);
  cursor: pointer;
  /* MODIFIQUE AQUI */
  /* display: none; */
}

/* .h-sector-seleccion-metodo-entrega svg,
.h-sector-metodo-entrega svg,
.h-boton-usuario svg {
  fill: var(--colorp-tertiary);
  filter: brightness(0) saturate(100%) invert(5%) sepia(8%) saturate(1122%)
    hue-rotate(314deg) brightness(94%) contrast(93%);
} */

.h-sector-seleccion-metodo-entrega p {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.h-texto-metodo-entrega {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
}

.h-metodo-domicilio,
.h-metodo-local {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
}

/* ===================
     MÉTODO ENTREGA - SELECCIONADO 
     =================== */

.h-boton-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
}

.h-metodo-entrega-seleccionado {
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-opciones-usuario-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--colorp-secondary);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xl);
  padding: var(--espaciado-xl) 0;
}

.h-opciones-mobile-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
  width: 100%;
}

.h-opciones-mobile-body hr {
  height: 1px;
  width: 100%;
}

.h-opciones-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--espaciado-xl);
  height: 5.75rem;
  border-radius: var(--espaciado-s);
  border: 1px solid #dedede;
  background: var(--colorp-secondary);
}

/* ===================
     BOTONES 
     =================== */
.h-boton-buscar,
.h-boton-cambio-metodo-entrega {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
}

/* ===================
     HEADER ENFOCADO - TABLET & DESKTOP 
=================== */
.h-enfocado-tablet-desktop {
  /* position: relative; */
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--espaciado-xl);
  display: none;
}

.h-enfocado-tablet-desktop .h-logo-principal {
  width: 9rem;
  height: 2.25rem;
  aspect-ratio: 25/6;
}

.h-nav-principal {
  display: flex;
  align-items: center;
  min-width: fit-content;
  gap: var(--espaciado-xl);
}

.h-nav-principal a {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
  cursor: pointer;
}

.h-sector-opciones-cliente {
  display: flex;
  min-width: min-content;
  align-items: center;
  justify-content: center;
  /* gap: var(--espaciado-xxl); */
  gap: var(--espaciado-l);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: auto;
  height: 100%;
}

.h-sector-opciones-cliente hr {
  height: calc(100% - 3.5rem);
  width: 1.5px;
  background: #dedede;
}

.h-boton-usuario {
  display: flex;
  min-width: fit-content;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
  /* padding: var(--espaciado-l); */
  position: relative;
}

/* ===================
  OPCIONES DE USUARIO QUE INICIAN SESION 
     =================== */

.h-opciones-usuario {
  width: 25.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--espaciado-xl);
  border-radius: var(--border-radius-1);
  background: var(--colorp-secondary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  z-index: 9999;
}

.h-opcion-usuario {
  width: 100%;
  padding: var(--espaciado-xl);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xs);
}

.h-opciones-usuario hr {
  height: 1px;
  width: 100%;
}

.h-opcion-usuario p {
  font-weight: 600;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
/* adasd */

.h-cerrar-sesion p {
  color: var(--colorp-primary);
}

.h-modo-cliente {
  border-radius: 0;
  background: transparent;
}

.h-boton-modo-no-cliente,
.h-boton-modo-cliente {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-s);
}

.h-boton-modo-no-cliente {
  display: flex;
  min-width: fit-content;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-s);
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
  padding: var(--espaciado-l);
}

.h-boton-modo-cliente {
  border-radius: 0;
  background: transparent;
  padding: 0;
}
/*  */

.h-boton-usuario h4 {
  color: var(--colorp-secondary);
  font-weight: 400;
  text-transform: uppercase;
}

/* ===================
  SECTOR DE BUSQUEDA PARA EL USUARIO
     =================== */

/* ===================
  DESKTOP
     =================== */

.h-sector-busqueda {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: auto;
  min-width: 5.5rem;
  align-items: center;
  height: 3rem;
  background: var(--colorp-secondary);
}

.h-input-buscar {
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--espaciado-xs);
  align-items: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  border: 1.5px solid #6e6e6e;
  background: var(--colorp-secondary);
  /* READ : CAMBIOS PARA EL JS 
          border-bottom-left-radius: 0;
            border-bottom-right-radius: 0; */
  /* display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: auto;
          width: auto;
          min-width: 5.5rem;
          align-items: center;
          gap: var(--espaciado-xs);
          height: 3rem;
          padding: var(--espaciado-xl);
          border-radius: var(--espaciado-xs);
          border: 1.5px solid #6e6e6e;
          background: var(--colorp-secondary); */
}

.h-busqueda-especifica {
  width: 100%;
  height: max-content;
  background: var(--colorp-secondary);
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--espaciado-m);
  gap: var(--espaciado-l);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.h-input-buscar.proceso {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--espaciado-xs);
  border-top-right-radius: var(--espaciado-xs);
}

.h-busqueda-especifica.proceso {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--espaciado-xs);
  border-bottom-right-radius: var(--espaciado-xs);
}

.h-input-buscar input {
  width: 100%;
}

/* ===================
  MOBILE
     =================== */

.h-container-busqueda-mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--colorp-secondary);
  /* READ : CAMBIOS PARA EL JS */
  display: none;
}

.h-busqueda-mobile-header {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
  width: 100%;
  height: 5rem;
  background: var(--colorp-secondary);
  padding-left: var(--espaciado-xl);
  border-bottom: 1px solid #dedede;
}

.h-busqueda-mobile-header input {
  width: 75%;
  height: 100%;
  background: var(--colorp-secondary);
  border: none;
  outline: none;
}

.h-busqueda-mobile-header button {
  width: 25%;
  height: 100%;
  background: var(--colorp-secondary);
  padding-right: var(--espaciado-xl);
}

.h-busqueda-mobile-header button p {
  color: var(--colorp-primary);
  font-weight: 600;
  text-transform: uppercase;
}

.h-busqueda-mobile-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: var(--espaciado-s); */
  width: 100%;
  height: 100%;
  padding-top: var(--espaciado-s);
}

.h-boton-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===================
  SECTOR GENERALES S
     =================== */

.h-busqueda-especifica-item {
  display: flex;
  align-items: center;
  padding: 0.625rem 0rem;
  gap: var(--espaciado-l);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.h-busqueda-especifica-item img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  object-fit: cover;
}

.h-busqueda-especifica-item-info {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.h-busqueda-especifica-item-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0;
}

.h-busqueda-especifica-item-info p:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

/* ===================
  SECTOR DE MENU DE OPCIONES PARA LOS PRODUCTOSS
     =================== */

.h-mostrar-menu-opciones-productos {
  display: flex;
  flex-direction: column;
  position: relative;
}

.h-mmop {
  position: absolute;
}

.h-mostrar-menu-opciones-productos.seleccionado h4 {
  color: var(--colorp-primary);
  transition: color 0.3s ease;
}

.h-mostrar-menu-opciones-productos.seleccionado .h-mmop {
  height: 2px;
  width: 100%;
  background: var(--colorp-primary);
  bottom: -3px;
  left: 0;
  transition: background-color 0.3s ease;
}

/* #h-mostrar-menu-opciones-productos {
  position: relative;
  transition: color 0.3s ease;
}

#h-mostrar-menu-opciones-productos::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#h-mostrar-menu-opciones-productos:hover {
  color: var(--colorp-primary);
}

#h-mostrar-menu-opciones-productos:hover::after {
  background-color: var(--colorp-primary);
} */

.h-menu-opciones-productos {
  max-width: 1660px;
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--colorp-secondary);
  z-index: 9999;
  border-top: 1px solid #dedede;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: var(--espaciado-xl);
  gap: var(--espaciado-m);
  overflow-x: auto;
  overflow-y: hidden;
}

.h-menu-opciones-productos::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.h-menu-opciones-productos-item {
  /* width: 17.5rem; */
  width: 16.5rem;
  min-width: 16.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-2);
  background: var(--colorp-secondary);
  border: 1.5px solid #dedede;
  cursor: pointer;
}

.h-menu-producto-info-imagen {
  width: 30%;
  height: 100%;
  border-top-left-radius: var(--border-radius-2);
  border-bottom-left-radius: var(--border-radius-2);
  border-right: 1.5px solid #dedede;
}

.h-menu-producto-info-imagen img {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--border-radius-2);
  border-bottom-left-radius: var(--border-radius-2);
  object-fit: contain;
}

.h-menu-producto-info-nombre {
  width: 70%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-menu-producto-info-nombre p {
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .h-metodo-entrega-no-seleccionado,
  .h-metodo-entrega-seleccionado {
    display: none;
  }

  .h-nav-principal {
    display: none;
  }

  .h-enfocado-tablet-desktop {
    display: flex;
  }

  .h-opciones-usuario {
    /* width: 18.75rem; */
    width: max-content;
    padding: var(--espaciado-l);
  }

  .h-opcion-usuario {
    padding: var(--espaciado-l);
    gap: var(--espaciado-xs);
  }
}

@media screen and (min-width: 1024px) {
  .h-nav-principal {
    display: flex;
  }

  .h-header-principal {
    gap: var(--espaciado-l);
    padding: var(--espaciado-xxxl);
  }

  .h-opciones-usuario {
    /* width: 25.75rem; */
    width: max-content;
    padding: var(--espaciado-xl);
  }
}

/* asdasd */
