/* ===================
   HEADER PRINCIPAL 
   =================== */
.h-header-principal {
  width: 100%;
  height: 5.5rem;
  padding: var(--espaciado-xxxl) var(--espaciado-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-header-principal svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* ===================
     LOGO
     =================== */
.h-logo-principal {
  width: 2rem;
  height: 1.8rem;
  aspect-ratio: 11/10;
}

.h-logo-principal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ===================
     MÉTODO ENTREGA - NO SELECCIONADO 
     =================== */
.h-metodo-entrega-no-seleccionado {
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.h-metodo-entrega-no-seleccionado svg {
  width: 1.5rem;
  height: 1.5rem;
}

.h-sector-seleccion-metodo-entrega {
  display: flex;
  min-width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: var(--espaciado-xs);
  gap: var(--espaciado-xs);
}

.h-sector-seleccion-metodo-entrega p {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.h-texto-metodo-entrega {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
}

/* ===================
     MÉTODO ENTREGA - SELECCIONADO 
     =================== */
.h-metodo-entrega-seleccionado {
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===================
     BOTONES 
     =================== */
.h-boton-buscar,
.h-boton-cambio-metodo-entrega {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
}

/* ===================
     HEADER ENFOCADO - TABLET & DESKTOP 
=================== */
.h-enfocado-tablet-desktop {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--espaciado-xl);
  display: none;
}

.h-enfocado-tablet-desktop .h-logo-principal {
  width: 9rem;
  height: 2.25rem;
  aspect-ratio: 25/6;
}

.h-nav-principal {
  display: flex;
  align-items: center;
  min-width: fit-content;
  gap: var(--espaciado-xl);
}

.h-nav-principal a {
  display: flex;
  align-items: center;
  gap: var(--espaciado-xs);
}

.h-sector-opciones-cliente {
  display: flex;
  min-width: min-content;
  align-items: center;
  gap: var(--espaciado-xxl);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: auto;
}

.h-input-buscar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: auto;
  min-width: 12.5rem;
  align-items: center;
  gap: var(--espaciado-xs);
  height: 3rem;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  border: 1.5px solid #6e6e6e;
  background: var(--colorp-secondary);
}

.h-input-buscar input {
  width: 100%;
}

.h-boton-usuario {
  display: flex;
  min-width: fit-content;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-s);
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
  padding: var(--espaciado-l);
}
/*  */

.h-boton-usuario h4 {
  color: var(--colorp-secondary);
  font-weight: 400;
  text-transform: uppercase;
}

hr {
  height: 2.625rem;
  background: #dedede;
}

@media screen and (min-width: 768px) {
  .h-metodo-entrega-no-seleccionado,
  .h-metodo-entrega-seleccionado {
    display: none;
  }

  .h-nav-principal {
    display: none;
  }

  .h-enfocado-tablet-desktop {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .h-nav-principal {
    display: flex;
  }

  .h-header-principal {
    gap: var(--espaciado-l);
    padding: var(--espaciado-xxxl);
  }
}

/* asdasd */
