.oi_contenedor-base {
  width: 100%;
  padding: var(--espaciado-xl) var(--espaciado-xxl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--espaciado-xxl);
}

.oi_oferta {
  width: 100%;
  /* height: 15rem; asd*/
  border-radius: var(--border-radius-2);
}

.oi_oferta img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  object-fit: contain;
  border-radius: var(--border-radius-2);
}

@media screen and (min-width: 768px) {
  .oi_contenedor-base {
    flex-direction: row;
  }
}
