/* ==========================================================================
     ÍNDICE - PAGE PRODUCTO
     1. IMAGEN
     2. DETALLE DEL PRODUCTO
     3. MODAL INFORMACION EXTRA
     4. MEDIA QUERIES

     ========================================================================== */

.page-producto-container {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.page-producto-container svg {
  aspect-ratio: 1/1;
  width: 1.875rem;
  height: 1.875rem;
}

/* ==========================================================================
     1. IMAGEN
     ========================================================================== */

.page-producto-imagen {
  flex-basis: 40%;
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-producto-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-s);
}

/* ==========================================================================
     2. DETALLE DEL PRODUCTO
     ========================================================================== */
.page-producto-detalle-producto {
  flex-basis: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.page-producto-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xl);
}

.page-producto-volver-atras {
  display: flex;
  height: 3rem;
  padding: var(--espaciado-xl) 0;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-s);
}

.page-producto-volver-atras p {
  text-transform: uppercase;
  font-weight: 600;
}

.page-producto-header small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.page-producto-seleccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-big);
}

.page-producto-cantidad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.page-producto-cantidad-selector {
  width: 100%;
  height: 4.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--espaciado-xl);
  border-radius: var(--espaciado-s);
  border: 1px solid #717171;
}

.page-producto-cantidad-selector-button {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.age-producto-cantidad-selector-button svg {
  aspect-ratio: 1/1;
  width: 1.875rem;
  height: 1.875rem;
}

.ppl-seleccion-normal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.ppl-seleccion-especial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.pmp-item-seleccion-n1 {
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  padding: 0 var(--espaciado-xxl);
}

.pmp-item-container-n1-info {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pmp-item-container-n1-escoger {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pmp-item-seleccion-n1.seleccionado {
  border: 2px solid var(--colorp-primary);
}

.pmp-item-container-n1-info.seleccionado h3 {
  color: var(--colorp-primary);
}

.pmp-item-seleccion-n2 {
  width: 100%;
  flex-grow: 1;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
}

.pmp-item-container-n2-imagen {
  height: 100%;
  width: 3.56rem;
  min-width: 3.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #969696;
}

.pmp-item-container-n2-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.pmp-item-container-n2-info {
  padding: 0 var(--espaciado-xxl);
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-s);
  overflow: hidden;
}

.pmp-item-container-n2-info-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: max-content;
  height: 100%;
}

.pmp-item-container-n2-info-detalle p:first-child {
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmp-item-container-n2-info P {
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmp-item-seleccion-n2.seleccionado {
  border: 2px solid var(--colorp-primary);
}

.pmp-item-container-n2-imagen.seleccionado {
  border-right: 2px solid var(--colorp-primary);
}

.pmp-item-container-n2-info-detalle.seleccionado p:first-child {
  color: var(--colorp-primary);
}

.page-producto-container-extras-base-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-producto-container-extras-base p {
  text-transform: uppercase;
  font-weight: 600;
}

.page-producto-container-extras-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--espaciado-s);
  padding: 0 var(--espaciado-xl);
}

.page-producto-container-extras-button p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--colorp-primary);
}

.page-producto-container-extras-base {
  width: 100%;
  height: 4.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  padding: 0 var(--espaciado-xxl);
}

.page-producto-container-extras-base-button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pmp-items-extras-seleccionados-n2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xxl);
}

.pmp-item-extra-seleccionado-n2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--espaciado-s);
  border: 2px solid var(--colorp-primary);
}

.pmp-item-extra-n2-imagen {
  width: 8.13rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--colorp-primary);
}

.pmp-item-extra-n2-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.pmp-item-extra-n2-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--espaciado-xxl);
}

.pmp-item-extra-n2-info-detalle {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pmp-item-extra-n2-detalle p:nth-of-type(-n + 2) {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colorp-primary);
}

.page-producto-pagar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-s);
  background-color: var(--colorp-primary);
}

.page-producto-pagar p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--colorp-secondary);
}

/* ==========================================================================
     3. MODAL INFORMACION EXTRA
     ========================================================================== */

.page-producto-modal-general {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  /* MODIFIQUE AQUI */
  display: none;
}

.page-producto-modal-informacion-extras {
  width: 100%;
  height: 100vh;
  background-color: var(--colorp-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--espaciado-xxl);
  padding: 2.75rem 0 1rem 0;
}

.ppme-modal-informacion-extras-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
}

.ppme-modal-informacion-extras-body small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.ppme-modal-items-extras {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xxl);
}

.ppme-modal-item-extra {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  background-color: var(--colorp-secondary);
}

.ppme-modal-item-extra-imagen {
  width: 8.13rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #969696;
}

.ppme-modal-item-extra-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.ppme-modal-item-extra-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.ppme-modal-item-extra-info-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.ppme-modal-item-extra-info-detalle p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}

.ppme-modal-item-extra-info-detalle p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ppme-modal-item-extra-cantidad {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #969696;
  border-radius: var(--espaciado-xs);
}

.ppme-modal-item-extra-cantidad-button {
  flex-basis: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppme-modal-informacion-extras-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xl);
}

.ppme-modal-boton-guardar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-s);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.ppme-modal-boton-salir {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  border: 1px solid var(--colorp-primary);
}

/* ==========================================================================
     4. MEDIA QUERIESS
     ========================================================================== */

@media (min-width: 768px) {
  .page-producto-container {
    flex-direction: row;
    align-items: start;
    gap: var(--espaciado-xxl);
  }

  .pmp-item-seleccion-n2 {
    width: 14.02rem;
  }

  .ppl-seleccion-especial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--espaciado-xxl);
    grid-auto-flow: row;
  }

  .pmp-item-container-n2-info {
    padding: 0 var(--espaciado-l);
  }

  /* Hacer que el h3 ocupe toda la fila */
  .ppl-seleccion-especial > h3:first-child {
    grid-column: 1 / span 2; /* Ocupa desde columna 1 hasta abarcar 2 columnas */
    margin-bottom: var(
      --espaciado-xxl
    ); /* Espacio entre el título y los items */
  }

  /* Asegurarse de que los items empiezan después del título */
  .ppl-seleccion-especial > .pmp-item-seleccion-n1 {
    grid-column: auto; /* Permite que fluyan automáticamente */
  }
}

@media (min-width: 1024px) {
  .page-producto-container {
    flex-direction: row;
    align-items: start;
    gap: var(--espaciado-xxxl);
  }

  .pmp-item-seleccion-n2 {
    /* width: 19rem; */
    width: 100%;
  }

  .page-producto-imagen {
    height: 27.875rem;
  }
}
