/* .container-sub-smecph hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.25rem auto;
    width: 100%;
    height: 0;
    overflow: visible;
  } */

/* ==========================================================================
     ÃNDICE - DETALLE PEDIDO 
     1. ETAPA 1
     2. ETAPA 2
     3. ETAPA GENERAL
     4. MEDIA QUERIES
     ========================================================================== */

.f-contenedor-base {
  display: none !important;
}

.container-sub-simple-smecph {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  /* text-transform: uppercase; */
  text-align: center;
}

.container-sub-smecph {
  flex-direction: row !important;
}

/* =================================
  1. ETAPA 1
================================= */

.pdpph-mensaje-etapa1 {
  width: 100%;
  display: flex;
  gap: var(--espaciado-m);
  justify-content: center;
  align-items: center;
}

.pdpph-info-etapa1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdpph-info-etapa1 h3 {
  text-align: center;
}

.pdpph-mensaje-etapa1-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-s);
  padding: 0.25rem;
}

.pdpph-mensaje-etapa1-icono svg {
  width: 100%;
  height: 100%;
}

/* =================================
  2. ETAPA 2
================================= */

.pdpph-etapa2-mensaje {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xws);
}

.pdpph-etapa2-mensaje > p:first-child {
  font-weight: 700;
  text-align: start;
}

.pdpph-etapa2-mensaje2 > p:nth-child(2) {
  font-weight: 700;
  text-align: start;
}

.pdpph-etapa2-mensaje2 > p:last-child {
  text-align: start;
  /* font-weight: 400; */
}

.pdpph-etapa2-mensaje2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-m);
}

.pdpph-etapa2-mensaje2 > p:first-child {
  font-weight: 700;
  white-space: nowrap;
}

/* =================================
  3. ETAPA GENERAL
================================= */

.pdpph-general-pedido {
  width: 100%;
  height: 43.11rem;
  background-color: var(--colorp-primary);
  /* margin-bottom: 8rem; */
}

/* =================================
  4. MEDIA QUERIESS
================================= */

@media screen and (min-width: 768px) {
  .f-contenedor-base {
    display: flex !important;
  }

  .pdpph-general-pedido {
    margin-bottom: 0;
    height: 56.98rem;
  }
}

@media screen and (min-width: 1024px) {
  .pdpph-general-pedido {
    width: 100%;
    height: 73.06rem;
    background-color: var(--colorp-primary);
    margin-bottom: 8rem;
  }
}
