/* ==========================================================================      
  ÃNDICE - PAGE CARRITO
  1. CONTAINER IZQUIERDO
  2. CONTAINER DERECHO
  3. SECTOR DE PRODUCTOS DE PROMOCION
  4. MEDIA QUERIES  
========================================================================== */

.pcph-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: var(--espaciado-xxl);
}

.pcph-informacion-carrito {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xl);
}

/* =================================
  1. CONTAINER IZQUIERDO
================================= */

.pcph-carrito-izquierdo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pcph-carrito-izquierdo small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.pcph-items-carrito {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pcph-items-carrito > * {
  border-bottom: 1px solid #969696;
}

.pcph-items-carrito > *:only-child {
  border-bottom: 1px solid #969696;
}

.pcph-items-carrito > *:last-child {
  border-bottom: none;
}

.pcph-item-carrito {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
  padding-bottom: 2rem;
}

.pcph-itemc-detalle {
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
}

.pcph-itemc-imagen {
  width: 100%;
  height: 8.13rem;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
}

.pcph-itemc-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}

.pcph-itemc-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

.pcph-itemc_opcion1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pcph-itemc_editar {
  display: flex;
  align-items: center;
  gap: var(--espaciado-s);
  padding: var(--espaciado-xl) var(--espaciado-l);
  cursor: pointer;
}

.pcph-itemc_editar p {
  font-weight: 600;
  text-transform: uppercase;
}

.pcph-itemc_opcion2 {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

.pcph-itemc_opcion2 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pcph-itemc-detalles-primarios,
.pcph-itemc-detalles-secundarios {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-s);
}

.pcph-itemc-detalles-primarios h1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pcph-itemc-detalles-primarios p,
.pcph-itemc-detalles-secundarios p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pcph-itemc-detalles-primarios > p:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

.pcph-itemc-detalles-secundarios > p:first-child {
  font-weight: 600;
  text-transform: uppercase;
}

.pcph-itemc_cantidad {
  width: 100%;
  height: 4.37rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
  padding: 0 var(--espaciado-xl);
}

.pcph-itemc_cantidad-btn {
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================================
  2. CONTAINER DERECHO
================================= */

.pcph-carrito-derecho {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

.pcph-item-info-pago {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pcph-item-info-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.pcph-item-info-total p {
  font-weight: 600;
}

.pcph-btn-pagar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  border-radius: var(--espaciado-xs);
  padding: var(--espaciado-xl) var(--espaciado-l);
  background-color: var(--colorp-primary);
}

.pcph-btn-pagar p {
  color: var(--colorp-secondary);
  font-weight: 600;
  text-transform: uppercase;
}

.pcph-banner-informacion-total {
  width: 100%;
  height: 6.41rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--espaciado-xs);
}

.pcph-banner-informacion-total img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}

/* =================================
  3. SECTOR DE PRODUCTOS DE PROMOCION
================================= */

.pcph-productos-adicionales {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
  overflow: hidden;
}

.pcph-productos-items {
  width: 100%;
  height: max-content;
  display: flex;
  gap: var(--espaciado-m);
  overflow: hidden;
}

.pcph-productos-adicionales small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

/* =================================
  4. MEDIA QUERIES
================================= */

@media screen and (min-width: 768px) {
  .pcph-informacion-carrito {
    flex-direction: row;
    justify-content: space-between;
  }

  .pcph-carrito-izquierdo {
    width: 31.395rem;
    height: max-content;
  }

  .pcph-itemc-detalle {
    flex-direction: row;
    gap: var(--espaciado-l);
  }

  .pcph-items-carrito {
    height: 42.9rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--colorp-primary) var(--colorp-secondary);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: inherit;
    padding: 0 var(--espaciado-m);
  }

  .pcph-item-carrito {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--espaciado-l);
  }

  .pcph-itemc-imagen {
    width: 7.1875rem;
    height: 6.25rem;
    aspect-ratio: 23/20;
  }

  .pcph-itemc_cantidad {
    max-width: 15.1125rem;
  }

  .pcph-carrito-derecho {
    width: 20.521rem;
    gap: var(--espaciado-l);
  }
}

@media screen and (min-width: 1024px) {
  .pcph-carrito-izquierdo {
    width: 40.25rem;
  }

  .pcph-itemc-detalle {
    gap: var(--espaciado-xxl);
  }

  .pcph-items-carrito {
    height: 55rem;
  }

  .pcph-item-carrito {
    gap: var(--espaciado-xxl);
  }

  .pcph-itemc-imagen {
    width: 7.1875rem;
    height: 6.25rem;
    aspect-ratio: 23/20;
  }

  .pcph-itemc_cantidad {
    max-width: 19.375rem;
  }

  .pcph-carrito-derecho {
    width: 26.31rem;
    gap: var(--espaciado-xl);
  }
}
