/* ==========================================================================      
  ÍNDICE - PAGE PRODUCTO      
  1. IMAGEN      
  2. DETALLE DEL PRODUCTO         
     2.1. TITULO         
     2.2. CANTIDAD         
     2.3. SELECCION NORMAL         
     2.4. SELECCION ESPECIAL         
     2.5  SELECCION POSTRES         
     2.6  SELECCION GASEOSAS      
  3. MODAL INFORMACION EXTRA      
  4. MEDIA QUERIES      
========================================================================== */

.pmph-container {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.pmph-container svg {
  aspect-ratio: 1/1;
  width: 1.875rem;
  height: 1.875rem;
}

/* =================================
  1. IMAGEN
================================= */

/* ===== IMAGEN PRODUCTO SIMPLE ===== */

.pmph-imagen.simple {
  flex-basis: 40%;
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: center;
  align-items: center;
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.phmp-img-simple {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-s);
  display: none;
}

/* ===== IMAGEN PRODUCTO COMPLEJO===== */

.phmp-img-compleja {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pmph-imagen.compleja {
  width: 21.25rem;
  height: 21.25rem;
  flex-shrink: 0;
  position: relative;
}

.phmp-borde-pizza-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.phmp-separador-pizza-img {
  position: absolute;
  width: 0.23rem;
  height: 16.55025rem;
  object-fit: cover;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

/* ==========================
  2. DETALLE DEL PRODUCTOO
================================= */

.pmph-detalle-producto {
  flex-basis: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

/* =====  HEADER PRODUCTO ===== */

.pmph-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xl);
}

.pmph-volver-atras {
  display: flex;
  height: 3rem;
  padding: var(--espaciado-xl) 0;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-s);
}

.pmph-volver-atras p {
  text-transform: uppercase;
  font-weight: 600;
}

.pmph-header small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.pmph-seleccion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-big);
}

/* ===== SELECCION CANTIDAD DEL PRODUCTO ===== */

.pmph-cantidad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.pmph-cantidad-selector {
  min-width: 100%;
  width: 100%;
  max-width: 19rem;
  height: 4.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--espaciado-xl);
  border-radius: var(--espaciado-s);
  border: 1px solid #717171;
}

.pmph-cantidad-selector-button {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.age-producto-cantidad-selector-button svg {
  aspect-ratio: 1/1;
  width: 1.875rem;
  height: 1.875rem;
}

.pmph-seleccion-normal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.pmph-seleccion-especial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xxl);
}

.pmp-item-simple {
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  padding: 0 var(--espaciado-xxl);
}

.pmp-item-simple-info {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pmp-item-simple-escoger {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pmp-item-simple.seleccionado {
  border: 2px solid var(--colorp-primary);
}

.pmp-item-simple-info.seleccionado h3 {
  color: var(--colorp-primary);
}

.pmp-item-complejo {
  width: 100%;
  flex-grow: 1;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
}

.pmp-item-complejo-imagen {
  height: 100%;
  width: 3.56rem;
  min-width: 3.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #969696;
}

.pmp-item-complejo-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.pmp-item-complejo-info {
  padding: 0 var(--espaciado-xxl);
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-s);
  overflow: hidden;
}

.pmp-item-complejo-info-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: max-content;
  height: 100%;
}

.pmp-item-complejo-info-detalle p:first-child {
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmp-item-complejo-info P {
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pmp-item-complejo.seleccionado {
  border: 2px solid var(--colorp-primary);
}

.pmp-item-complejo-imagen.seleccionado {
  border-right: 2px solid var(--colorp-primary);
}

.pmp-item-complejo-info-detalle.seleccionado p:first-child {
  color: var(--colorp-primary);
}

.pmph-extras-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pmph-extras p {
  text-transform: uppercase;
  font-weight: 600;
}

.pmph-extras-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--espaciado-s);
  padding: 0 var(--espaciado-xl);
}

.pmph-extras-button p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--colorp-primary);
}

.pmph-extras {
  width: 100%;
  height: 4.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  padding: 0 var(--espaciado-xxl);
}

.pmph-extras-button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pmp-items-extras-seleccionados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xxl);
}

.pmp-item-extra-seleccionado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--espaciado-s);
  border: 2px solid var(--colorp-primary);
}

.pmp-item-extra-imagen {
  width: 8.13rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--colorp-primary);
}

.pmp-item-extra-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.pmp-item-extra-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--espaciado-xxl);
}

.pmp-item-extra-detalle {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pmp-item-extra-detalle p:nth-of-type(-n + 2) {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--colorp-primary);
}

.pmph-pagar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  border-radius: var(--espaciado-xs);
  background-color: #efefef;
}

.pmph-pagar p {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--colorp-extra);
}

.pmph-pagar svg {
  filter: brightness(1.2);
  fill: var(--colorp-extra);
}

.pmph-pagar.activado {
  background-color: var(--colorp-primary);
}

.pmph-pagar.activado p {
  color: var(--colorp-secondary);
}

.pmph-pagar.activado svg,
.pmph-pagar.activado svg path {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  fill: var(--colorp-secondary);
}

/* ==========================================================================
     3. MODAL INFORMACION EXTRA
     ========================================================================== */

.pmph-modal-general {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
  /* MODIFIQUE AQUI */
  display: none;
}

.pmph-modal-informacion-extras {
  width: 100%;
  height: 100vh;
  background-color: var(--colorp-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--espaciado-xxl);
  padding: 1rem 0;
  overflow: hidden;
}

.ppme-modal-informacion-extras-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-l);
  overflow: hidden;
}

.ppme-modal-informacion-extras-body small {
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
  padding: 0rem 1.5rem;
}

.ppme-modal-items-extras {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  gap: var(--espaciado-xxl);
  overflow: auto;
  padding-top: 10.5rem;
}

.ppme-modal-item-extra {
  width: 100%;
  display: flex;
  border-radius: var(--espaciado-s);
  border: 1px solid #969696;
  background-color: var(--colorp-secondary);
}

.ppme-modal-item-extra-imagen {
  width: 8.13rem;
  display: flex;
  border-right: 1px solid #969696;
}

.ppme-modal-item-extra-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--espaciado-s);
  border-top-left-radius: var(--espaciado-s);
}

.ppme-modal-item-extra-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l);
}

.ppme-modal-item-extra-info-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.ppme-modal-item-extra-info-detalle p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}

.ppme-modal-item-extra-info-detalle p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ppme-modal-item-extra-cantidad {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #969696;
  border-radius: var(--espaciado-xs);
}

.ppme-modal-item-extra-cantidad-button {
  flex-basis: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppme-modal-informacion-extras-footer {
  position: absolute;
  bottom: 0;
  background-color: var(--colorp-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-l);
  padding: var(--espaciado-xl) var(--espaciado-xl) 0 var(--espaciado-xl);
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

.ppme-modal-boton-guardar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-s);
  background-color: var(--colorp-primary);
  border-radius: var(--espaciado-xs);
}

.ppme-modal-boton-salir {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  border: 1px solid var(--colorp-primary);
}

/* ==========================================================================
     4. MEDIA QUERIESS
     ========================================================================== */

@media (min-width: 768px) {
  .pmph-modal-informacion-extras {
    width: max-content;
    height: 33rem;
    padding: 0.5rem 0;
    border-radius: var(--espaciado-s);
    border: 1px solid #969696;
    mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  .pmph-container {
    flex-direction: row;
    align-items: start;
    gap: var(--espaciado-xxl);
  }

  .pmp-item-complejo {
    /* width: 14.02rem; */
  }

  .pmph-imagen.simple {
    flex-basis: 50%;
    height: 25.74rem;
  }

  .pmph-detalle-producto {
    flex-basis: 50%;
  }

  .pmph-modal-informacion-extras {
    gap: var(--espaciado-l);
  }

  .ppme-modal-informacion-extras-body {
    gap: var(--espaciado-s);
  }

  .ppme-modal-item-extra {
    /* width: 16rem; */
  }

  .ppme-modal-items-extras {
    width: 100%;
    padding: 0rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    align-items: start;
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .ppme-modal-item-extra-info {
    width: 12rem;
    min-width: 12rem;
  }

  .ppme-modal-boton-guardar,
  .ppme-modal-boton-salir {
    height: 3.5rem;
  }

  .ppme-modal-informacion-extras-body {
    overflow: hidden;
  }

  .ppme-modal-items-extras {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ppme-modal-informacion-extras-footer {
    position: relative;
    flex-direction: row;
    gap: var(--espaciado-l);
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  .psme-modal-contenedor-base {
    width: 40rem;
    height: 34rem;
  }

  .pmph-container {
    flex-direction: row;
    align-items: start;
    gap: var(--espaciado-xxxl);
  }

  .pmp-item-complejo {
    width: 19rem;
    /* width: 100%; */
  }

  .pmph-imagen.simple {
    /* height: 27.875rem; */
    height: 33rem;
  }

  .pmph-seleccion-especial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--espaciado-xxl);
    grid-auto-flow: row;
  }

  .pmp-item-complejo-info {
    padding: 0 var(--espaciado-l);
  }

  /* Hacer que el h3 ocupe toda la fila */
  .pmph-seleccion-especial > h3:first-child {
    grid-column: 1 / span 2; /* Ocupa desde columna 1 hasta abarcar 2 columnas */
    margin-bottom: var(
      --espaciado-xxl
    ); /* Espacio entre el título y los items */
  }

  /* Asegurarse de que los items empiezan después del título */
  .pmph-seleccion-especial > .pmp-item-simple {
    grid-column: auto; /* Permite que fluyan automáticamente */
  }

  .ppme-modal-informacion-extras-body small {
    padding: 0 0.5rem;
  }

  .pmph-imagen.compleja {
    width: 27rem;
    height: 27rem;
  }
}
