/* ==========================================================================
     ÍNDICE - PAGE MI PERFIL 
     1. SECTOR MOBIL
     2. SECTOR DESKTOP
        2.1. SECCION IZQUIERDA
        2.2. SECCION DERECHA
          2.2.1. MI PERFIL
          2.2.2. HISTORIAL DE PEDIDOS 
          2.2.3. CONFIGURACIONES
     3. MEDIA QUERIESS
     ========================================================================== */

.h-header-principal {
  display: none !important;
}

.f-contenedor-base {
  display: none !important;
}

.ph-especial-header-mobile {
  display: flex !important;
}

/* =================================
  1. SECTOR MOBIL
================================= */

/* =================================
  2. SECTOR DESKTOP
================================= */

.phpp-container {
  margin-top: 1.5rem;
}

/* ===== SECCION IZQUIERDA ===== */

.phpp-container-izquierda {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b3;
}

/* CAMBIAR A ESTO */
.phpp-containeri {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--espaciado-m);
  background: white;
  padding: 1rem 3rem;
  border-radius: var(--espaciado-xs);
}

.phpp-border-especial {
  padding: 2rem !important;
  border-top: 0.0625rem solid #969696;
  border-radius: 0 !important;
}

.phpp-border-especial p {
  color: var(--colorp-primary) !important;
}

/* ===== SECCION DERECHA ===== */

.phpp-titulo-base {
  display: none;
}

.phpp-container-derecha {
  flex-basis: 60%;
  width: 100%;
}

.phpp-containerd hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.25rem auto;
  width: 100%;
  height: 0;
  overflow: visible;
}

.phpp-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--espaciado-xs);
}

.phpp-info p:first-child {
  font-weight: 700;
}

/* ===== MI PERFIL ===== */

.phpp-container-informaicon-usuario {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--espaciado-m);
  /* margin-top: var(--espaciado-xl); */
  margin-top: 8rem;
}

.ph-btn-primario.seleccionado {
  background-color: #f5f5f5;
  border-radius: var(--espaciado-xs);
  border-right: 4px solid var(--colorp-primary);
}

.ph-btn-primario.seleccionado p {
  color: var(--colorp-primary);
}

.ph-btn-primario.seleccionado svg,
.ph-btn-primario.seleccionado path {
  fill: var(--colorp-primary);
}

/* ===== HISTORIAL DE PEDIDOS ===== */

.phpp-container-historialde-pedidos {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
}

.phpp-hp-opciones-cliente {
  width: 100%;
  display: flex;
  gap: var(--espaciado-xxl);
  overflow: hidden;
}

.phpp-ph-opcion {
  min-width: 8.12rem;
  height: 3rem;
  border-radius: 4rem;
}

.phpp-ph-opcion p {
  color: var(--colorp-primary);
  font-weight: 700;
}

.phpp-ph-opcion.seleccionado {
  min-width: 8.12rem;
  height: 3rem;
  border-radius: 4rem;
  background-color: var(--colorp-primary);
}

.phpp-ph-opcion.seleccionado p {
  color: var(--colorp-secondary);
  font-weight: 700;
}

.phpp-hp-detalle-producto-cliente {
  height: 73.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xxl);
  gap: var(--espaciado-xxl);
}

.phpp-hp-item-dp-cliente {
  border-radius: var(--espaciado-xs);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
  border: 1px solid #969696;
  padding: var(--espaciado-m);
}

.phpp-ihpdp-contexto {
  width: 100%;
  display: flex;
  gap: var(--espaciado-m);
}

.phpp-hp-item-imgen {
  width: 7.5rem;
  height: 7.5rem;
  aspect-ratio: 1;
  border-radius: var(--espaciado-xs);
}

.phpp-hp-item-imgen img {
  width: 100%;
  height: 100%;
  border-radius: var(--espaciado-xs);
}

.phpp-hp-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--espaciado-xs);
}

.phpp-hp-item-info p:first-child {
  font-weight: 700;
}

.phpp-ph-item-estado {
  width: max-content;
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 6.25rem;
  align-items: center;
  gap: 0.25rem;
}

.phpp-ph-item-estado p {
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  font-size: 0.875rem;
}

.phpp-ph-item-estado svg {
  width: 0.375rem !important;
  height: 0.375rem !important;
}

.phpp-ph-item-estado.entregado {
  background: #e3ffc9;
}

.phpp-ph-item-estado.entregado p {
  font-weight: 700;
  color: #478c5c;
}

.phpp-ph-item-estado.entregado svg,
.phpp-ph-item-estado.entregado path {
  fill: #14c900;
}

.phpp-ph-item-estado.encamino {
  background: #fffbda;
}

.phpp-ph-item-estado.encamino p {
  font-weight: 700;
  color: #714200;
}

.phpp-ph-item-estado.encamino svg,
.phpp-ph-item-estado.encamino path {
  fill: #714200;
}

.phpp-ph-item-estado.cancelado {
  background: #ffebeb;
}

.phpp-ph-item-estado.cancelado p {
  font-weight: 700;
  color: #8c0f0b;
}

.phpp-ph-item-estado.cancelado svg,
.phpp-ph-item-estado.cancelado path {
  fill: #8c0f0b;
}

.phpp-ihpdp-opciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

/* ===== CONFIGURACIONES ===== */

/* =================================
  3. MEDIA QUERIES
================================= */

@media (min-width: 768px) {
  .h-header-principal {
    display: flex !important;
  }

  .f-contenedor-base {
    display: flex !important;
  }

  .ph-especial-header-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  /* CAMBIAR A ESTO */
  .phpp-containeri {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--espaciado-m);
  }

  .phpp-container-informaicon-usuario {
    grid-template-columns: 1fr 1fr;
    gap: var(--espaciado-m);
    column-gap: 4rem;
    margin-top: var(--espaciado-xl);
  }

  .phpp-containerd-opciones {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-m);
  }

  .phpp-container-informaicon-usuario hr,
  .phpp-container-informaicon-usuario button {
    grid-column: 1 / -1;
  }

  .phpp-titulo-base {
    display: flex;
    width: 100%;
    text-align: start;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.0875rem;
    text-transform: uppercase;
  }

  .phpp-container {
    display: flex;
    gap: var(--espaciado-xl);
  }

  .phpp-container-izquierda {
    position: relative;
    width: 26.31rem;
    height: 51.37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaciado-m);
    flex-basis: 40%;
    background-color: transparent;
  }

  /* CAMBIAR A ESTO */
  .phpp-containeri {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--espaciado-m);
    gap: var(--espaciado-xxxl);
  }

  .phpp-containerd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espaciado-m);
    gap: var(--espaciado-xxxl);
  }

  .ph-btn-primario {
    justify-content: start !important;
  }

  .phpp-border-especial {
    justify-content: center !important;
  }

  .ph-btn-primario p {
    color: var(--colorp-extra);
  }

  .ph-btn-general {
    width: 18.75rem !important;
  }
}
