/* ==========================================================================
     ÃNDICE - PAGE CHECKOUT 
     1. SELECCION METODO DE ENTREGA
     2. SELECCION LOCAL
     3. DATOS DE CONTACTO
     4. DATOS DE PAGO
     5. DATOS DE FACTURACION
     6. DETALLA DEL CARRITO
     7. NOTA PARA EL PEDIDO
     8. HUTCOINS
     9. MODAL
       9.1. MODAL (SELECCIONAR LOCAL)
       9.2. MODAL (DIRECCION DE ENVIO)
     10. MEDIA QUERIES
     ========================================================================== */

.container-sub-smecph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
  padding: var(--espaciado-xxl);
}

.smecph-pc-info-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-info-input > p:first-of-type {
  font-weight: 600;
}

.smecph-pc-info-input.error > p:first-of-type {
  color: var(--colorb-primary);
}

.smecph-pc-info-input.error .smecph-pc-mensaje-input p {
  color: var(--colorb-primary);
}

.smecph-pc-info-input.error .smecph-pc-mensaje-input svg,
.smecph-pc-info-input.error .smecph-pc-mensaje-input svg path {
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg)
    brightness(91%) contrast(97%);
  fill: var(--colorp-primary);
}

.ph-container-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-m) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorb-primary);
}

.smecph-pc-input-icono {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-pc-resultados-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  gap: var(--espaciado-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-l);
  display: none;
}

.pcktpch-btn-general {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-primary);
}

.pcktpch-btn-general p {
  color: var(--colorp-secondary);
  font-weight: 600;
}

/* =================================
  1. SELECCION METODO DE ENTREGAA
================================= */

/* =================================
  2. SELECCION LOCAL Y DIRECCION DE ENVIO
================================= */

/* =================================
  3. DATOS DE CONTACTO
================================= */

.smecph-pc-header-especial {
  width: 100%;
  display: flex;
  align-items: center;
}

.smecph-pc-dch_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-dch_info p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smecph-pc-dch_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-xl) 0;
}

.smecph-pc-mensaje-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.smecph-pc-mensaje-input p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =================================
  4. DATOS DE PAGO
================================= */

/* =================================
  5. DATOS DE FACTURACION
================================= */

/* =================================
  6. DETALLA DEL CARRITO
================================= */

/* =================================
  7. NOTA PARA EL PEDIDO
================================= */

/* =================================
  8. HUTCOINS
================================= */

/* =================================
  9. MODAL
================================= */

/* ===== MODAL CONTENIDO (SELECCIONAR LOCAL) ===== */

/* ===== MODAL CONTENIDO (DIRECCION DE ENVIO) ===== */

/* =================================
  10. MEDIA QUERIES
================================= */
