/* ==========================================================================
     ÃNDICE - PAGE CHECKOUT 
     1. SELECCION METODO DE ENTREGA
     2. SELECCION LOCAL Y DIRECCION DE ENVIO
     3. DATOS DE CONTACTO
     4. DATOS DE PAGO
     5. DATOS DE FACTURACION
     6. DETALLA DEL CARRITO
     7. NOTA PARA EL PEDIDO
     8. HUTCOINS
     9. MODAL
       9.1. MODAL (SELECCIONAR LOCAL)
       9.2. MODAL (DIRECCION DE ENVIO)
     10. MEDIA QUERIESS
     ========================================================================== */

.container-sub-smecph {
  width: 100%;
  max-width: 40.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
  padding: var(--espaciado-xxl);
}

.container-sub-smecph .smecph-pcdc-precio-info:last-of-type p {
  font-weight: 600;
}

.smecph-pc-info-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-info-input > p:first-of-type {
  font-weight: 600;
}

.smecph-pc-info-input.error .ph-container-input {
  border: 1.5px solid var(--colorp-primary);
}

.smecph-pc-info-input.error > p:first-of-type {
  color: var(--colorp-primary);
}

.smecph-pc-info-input.error .smecph-pc-mensaje-input p {
  color: var(--colorp-primary);
  font-weight: 600;
}

.smecph-pc-info-input.error .smecph-pc-mensaje-input svg,
.smecph-pc-info-input.error .smecph-pc-mensaje-input svg path {
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(343deg)
    brightness(91%) contrast(97%);
  fill: var(--colorp-primary);
}

.ph-container-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-m) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorb-primary);
}

.smecph-pc-input-icono {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-pc-resultados-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorp-secondary);
  border-radius: var(--espaciado-xs);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  gap: var(--espaciado-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-l);
  display: none;
}

.pcktpch-btn-general {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-primary);
}

.pcktpch-btn-general p {
  color: var(--colorp-secondary);
  font-weight: 600;
}

.pcktpch-btn-primario {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
}

.pcktpch-btn-primario p {
  color: var(--colorp-primary);
  font-weight: 600;
}

.pcktpch-btn-secundario {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid var(--colorp-primary);
}

.pcktpch-btn-secundario p {
  color: var(--colorp-primary);
  font-weight: 600;
}

/* =================================
  1. SELECCION METODO DE ENTREGAA
================================= */

/* =================================
  2. SELECCION LOCAL Y DIRECCION DE ENVIO
================================= */

/* ===== SELECCION LOCAL ===== */

.pcktph-seleccion-local-detalle {
  width: 100%;
  height: 3rem;
  /* height: max-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaciado-l);
}

.pcktph-seleccion-local-detalle-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-xs);
  /* padding-right: var(--espaciado-m); */
  /* border-right: 1px solid #dedede; */
}

.pcktph-seleccion-local-detalle-info p:first-of-type {
  font-weight: 600;
}

.pcktph-seleccion-local-detalle-info p {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== DIRECCION DE ENVIO ===== */

/* =================================
  3. DATOS DE CONTACTO
================================= */

.smecph-pc-header-especial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smecph-pc-dch_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-dch_info p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smecph-pc-dch_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-xl) 0;
}

.smecph-pc-dch_btn p {
  font-weight: 600;
}

.smecph-pc-mensaje-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-mensaje-input p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =================================
  4. DATOS DE PAGO
================================= */

/* =================================
  5. DATOS DE FACTURACION
================================= */

.smecph-mensaje-alerta {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: #fff4f2;
  border-left: 4px solid #ef9f8e;
}

.smecph-mensaje-alerta p {
  color: var(--colorp-primary);
}

.smecph-mensaje-informacion {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: #f4f7ff;
  border-left: 4px solid #a9b5f3;
}

.smecph-mensaje-exito {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
  padding: var(--espaciado-l) var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: rgba(17, 174, 0, 0.1);
}

.smecph-mensaje-exito svg,
.smecph-mensaje-exito svg path {
  fill: #11ae00;
}

.smecph-formulario-metodo-tarjeta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
}

.smecph-pc-dp-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xl);
}

.smecph-pc-dp-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--espaciado-m);
  border: 1px solid #969696;
  border-radius: var(--espaciado-xs);
  padding: var(--espaciado-m) var(--espaciado-xl);
}

.smecph-pc-dp-item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-xs);
}

.smecph-pc-dp-item-info > p:first-of-type {
  color: #5a5a5a;
}

.smecph-pcdp-item-extra {
  display: flex;
  gap: var(--espaciado-xs);
  align-items: center;
  justify-content: center;
}

.smecph-pcdp-item-extra svg,
.smecph-pcdp-item-extra svg path {
  fill: var(--colorp-tertiary);
}

.smecph-pcdp-item-extra p {
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smecph-pc-dp-item-icono {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-pc-dp-item.seleccionado {
  border: 0;
  background: var(--colorp-primary);
}

.smecph-pc-dp-item.seleccionado .smecph-pc-dp-item-info p,
.smecph-pc-dp-item.seleccionado
  .smecph-pc-dp-item-info
  .smecph-pcdp-item-extra
  p {
  color: var(--colorp-secondary);
}

.smecph-pc-dp-item.seleccionado
  .smecph-pc-dp-item-info
  .smecph-pcdp-item-extra
  svg,
.smecph-pc-dp-item.seleccionado
  .smecph-pc-dp-item-info
  .smecph-pcdp-item-extra
  svg
  path {
  fill: var(--colorp-secondary);
}

/* =================================
  6. DETALLA DEL CARRITO
================================= */

.smecph-pc-header-simple {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smecph-pc-header-simple p {
  font-weight: 600;
}

.smecph-pc-dch_btn_dc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.smecph-pc-items-carrito {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

.smecph-pc-items-carrito > .smecph-pc-item-carrito {
  border-bottom: none;
}

.smecph-pc-items-carrito
  > .smecph-pc-item-carrito:not(:only-child):not(:last-child) {
  border-bottom: 1px solid #dedede;
  padding-bottom: var(--espaciado-s);
}

.smecph-pc-item-carrito {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-m);
}

.smecph-pc-item-carrito-info {
  width: 100%;
  display: flex;
  gap: var(--espaciado-l);
}

.smecph-pc-item-ci-img {
  width: 3.12rem;
  height: 3.12rem;
  border-radius: var(--espaciado-xs);
}

.smecph-pc-item-ci-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}

.smecph-pc-item-ci-detalle {
  width: 100%;
  display: flex;
  gap: var(--espaciado-xs);
}

.smecph-pc-item-cid1 {
  flex-basis: 63%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.smecph-pc-item-cid2 {
  flex-basis: 12%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smecph-pc-item-cid3 {
  flex-basis: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.smecph-pc-item-cid3_total {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  gap: var(--espaciado-xs);
}

.smecph-pc-item-cid3_total small {
  font-feature-settings: "sups" on;
  font-family: "Noto Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}

.smecph-pc-item-carrito-extra {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--espaciado-xl);
  background-color: #f3f3f3;
  border-radius: var(--espaciado-xs);
}

.smecph-pc-item-carrito-extra > ul:first-of-type {
  margin-bottom: 8px;
}

.smecph-pc-item-carrito-extra > p {
  font-weight: 600;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
}

.smecph-pc-item-carrito-extra ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px;
  list-style-type: none;
  gap: 0.35rem;
}

.smecph-pc-btn-aplicar-cupon {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: #efefef;
}

.smecph-pc-btn-aplicar-cupon p {
  font-weight: 600;
  color: #717171;
}

.smecph-pc-btn-aplicar-cupon.activado {
  background-color: var(--colorp-primary);
}

.smecph-pc-btn-aplicar-cupo.activado p {
  color: var(--colorp-secondary);
}

.container-sub-smecph hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.25rem auto;
  width: 100%;
  height: 0;
  overflow: visible;
}

.smecph-pcdc-precio-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =================================
  7. NOTA PARA EL PEDIDOO
================================= */

/* =================================
  8. HUTCOINS
================================= */

.smecph-pc-hutcoins-banner {
  width: 100%;
  display: flex;
  border-radius: var(--espaciado-xs);
}

.smecph-pc-hutcoins-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--espaciado-xs);
}
.smecph-pc-hutcoins-mensaje {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--espaciado-xl);
}

.pcktph-flujo-continuar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pcktph-btn-continuar {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-primary);
}

.pcktph-btn-continuar p {
  font-weight: 600;
  color: var(--colorp-secondary);
}

/* =================================
  9. MODAL
================================= */

.pcktpch-modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pcktpch-modal-body-fase1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
  display: none;
}

.pcktpch-modal-separador {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-l);
}

.pcktpch-modal-separador-linea {
  width: 100%;
  height: 1px;
  background-color: #dedede;
}

.pcktpch-modal-body-fase2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
  display: none;
}

.pcktpch-modal-mapa {
  width: 43rem;
  height: 19rem;
  border-radius: var(--espaciado-xs);
  overflow: hidden;
  background-color: #717171;
}

.pcktpch-modal-body-fase3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--espaciado-l);
}

.pcktpch-modal-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-l);
  padding-top: var(--espaciado-l);
  border-top: 1px solid #dedede;
}

/* ===== MODAL CONTENIDO (SELECCIONAR LOCAL) ===== */

/* ===== MODAL CONTENIDO (DIRECCION DE ENVIO) ===== */

/* =================================
  10. MEDIA QUERIES
================================= */
@media (min-width: 768px) {
  .pcktpch-modal-body-fase1 {
    width: 38.13rem;
  }

  .pcktpch-modal-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .pcktph-seleccion-local-detalle {
    flex-direction: column;
    height: max-content;
    border-right: 1px solid #dedede;
  }

  .pcktph-seleccion-local-detalle-info {
    border: 0;
  }
}
