/* ==========================================================================
     ÍNDICE - SECCION(SEARCH PRODUCTS)
     1. HEADER
     2. BODY
        2.1 TODOS LOS PRODUCTOS
            2.1.1 CATEGORIA MOBILE
            2.1.2 CATEGORIA DESKTOP
        2.2 PRODUCTOS SIMPLES
        2.3 PRODUCTOS COMPLEJOS
     3. MEDIA QUERIES

     ========================================================================== */

.page-menu-container {
  width: 100%;
  max-width: 1660px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==========================================================================
     1. HEADER
     ========================================================================== */

.page-menu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espaciado-xl);
  padding-top: 2.44rem;
}

.page-menu-titulo-mobile {
  display: block;
}

.page-menu-titulo-desktop {
  display: none;
  text-align: center;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.0875rem;
  text-transform: uppercase;
}

.page-menu-opciones-seleccion {
  max-width: 1660px;
  width: 100%;
  display: flex;
  gap: var(--espaciado-m);
  padding-left: 1.25rem;
  /* overflow: hidden; */
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: var(--espaciado-big);
}

.page-menu-opciones-seleccion::-webkit-scrollbar {
  width: 0;
}

.page-menu-opcion {
  min-width: 10.75rem;
  width: 10.75rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--espaciado-xs);
  background-color: var(--color-secundario);
  border: 1px solid #969696;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-menu-opcion svg {
  filter: brightness(0) saturate(100%) invert(8%) sepia(9%) saturate(535%)
    hue-rotate(314deg) brightness(94%) contrast(91%);
}

.page-menu-opcion p {
  text-transform: uppercase;
  font-weight: 600;
}

.page-menu-opcion-imagen {
  height: 100%;
  width: 3.5rem;
  border-right: 1.5px solid #969696;
}

.page-menu-opcion-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-menu-opcion-nombre {
  width: 7.25rem;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--espaciado-m);
  padding: 0 var(--espaciado-l);
}

.page-menu-opcion-nombre p {
  font-weight: 600;
  text-transform: uppercase;
}

.page-menu-opcion.boton-activado {
  border: 1px solid var(--colorp-primary);
  color: var(--colorp-secondary);
}

.page-menu-opcion.boton-activado svg {
  fill: var(--colorp-secondary);
}

.page-menu-opcion.boton-activado {
  background-color: var(--colorp-primary);
}

.page-menu-opcion-imagen.boton-activado {
  border-right: 0;
}

.page-menu-opcion-nombre.boton-activado p {
  color: var(--colorp-secondary);
}

/* ==========================================================================
     2. BODY
     ========================================================================== */

.page-menu-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--espaciado-xxxl) 0;
  width: 100%;
}

/* ==========================================================================
     2.1 TODOS LOS PRODUCTOS
     ========================================================================== */

.page-menu-todos-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.page-menu-tp-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* ==========================================================================
     2.1.1 CATEGORIA MOBILE
     ========================================================================== */

.page-menu-tp-mobile-categoria {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-self: center;
  gap: var(--espaciado-xxl);
}

/* ==========================================================================
     2.1.2 CATEGORIA DESKTOP
     ========================================================================== */

.page-menu-tp-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espaciado-big);
}

.page-menu-tp-dektop-categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xl);
}

.page-menu-tp-dektop-categoria small {
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.0875rem;
  text-transform: uppercase;
}

/* ==========================================================================
     2.2 PRODUCTOS SIMPLES
     ========================================================================== */

.page-menu-productos-simples {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xl);
  display: none;
}

.page-menu-ps-categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xl);
}

.product-selector-cantidad {
  width: 100%;
  height: 3rem;
  border-radius: var(--espaciado-xs);
  border: 1px solid #969696;
  background-color: var(--color-secundario);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--espaciado-xs);
}

.product-selector-cantidad-button {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
     2.3 PRODUCTOS COMPLEJOS
     ========================================================================== */

.page-menu-productos-complejos {
  display: none;
}

/* ==========================================================================
     3. MEDIA QUERIES
     ========================================================================== */
@media (min-width: 768px) {
  .page-menu-titulo-mobile {
    display: none;
  }

  .page-menu-titulo-desktop {
    display: flex;
  }

  .page-menu-tp-mobile {
    display: none;
  }

  .page-menu-tp-desktop {
    display: flex;
  }

  .page-menu-opcion {
    height: 5.125rem;
    width: 14.625rem;
  }

  .page-menu-opcion-imagen {
    width: 6.3375rem;
  }

  .page-menu-opcion-nombre {
    width: 8.2914rem;
  }
}

@media (min-width: 1024px) {
  .page-menu-opcion {
    /* height: 6.125rem; */
    /* width: 18.75rem; */
    height: 6.125rem;
    width: 16rem;
    min-width: 16rem;
  }

  .page-menu-opcion-imagen {
    /* width: 8.125rem; */
    width: 35%;
  }

  .page-menu-opcion-nombre {
    /* width: 10.63rem; */
    /* width: 65%; */
    flex: 1 0 65%;
  }
}
