.pi-base {
  display: grid;
  width: 100%;
  padding: var(--espaciado-xl);
  gap: var(--espaciado-l);
  grid-template-columns: 1fr 1fr;
  /* Cambiamos a auto-fill o definimos más filas */
  grid-template-rows: repeat(3, auto);
}

.pi-base > :nth-child(3) {
  grid-column: 1 / -1;
}

.pi-item-producto {
  width: 100%;
  height: 29rem; /* Altura fija en cada elemento en lugar de en la fila */
  background-color: var(--colorp-primary);
}
