.pi-base {
  border-top: 1.5px solid #969696;
  padding-top: var(--espaciado-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espaciado-xxl);
}

.pi-titulo {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-s);
  width: 100%;
  text-align: center;
  padding: 0 var(--espaciado-xl);
}

.pi-titulo small {
  font-family: var(--fuente-primary);
  font-size: 3.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem;
  letter-spacing: -0.06625rem;
  text-transform: uppercase;
}

.pi-titulo-1 {
  color: var(--colorp-tertiary);
}

.pi-titulo-2 {
  color: var(--colorp-primary);
}

.pi-items {
  display: grid;
  width: 100%;
  padding: 0 var(--espaciado-xl);
  gap: var(--espaciado-l);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  /* grid-template-rows: 29.5rem 33rem 29.5rem; */
}

.pi-items > :nth-child(3) {
  grid-column: 1 / -1;
  margin-bottom: var(--espaciado-l);
}

.pi-item-producto {
  width: 100%;
}

/* 
 ===========
 PRODUCTO 
 ===========
*/

.pi-item-producto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: var(--espaciado-m);
}

.pi-producto-imagen {
  width: 100%;
  height: 40%;
  border-radius: var(--espaciado-xs);
  flex: 1 1 auto;
}

.pi-producto-imagen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--espaciado-xs);
}

.pi-producto-informacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-xs);
}

.pi-producto-informacion p {
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pi-producto-precio {
  color: var(--colorp-primary);
}

.pi-producto-seleccion {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: var(--espaciado-xs);
}

.pi-producto-seleccion p {
  font-weight: 600;
}

.pi-producto-seleccion-input {
  height: var(--espaciado-xxxl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--espaciado-xl);
  border-radius: var(--espaciado-xs);
  background-color: var(--colorp-secondary);
  border: 1px solid #353535;
  width: 100%;
}

.pi-producto-seleccion-input svg {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
}

.pi-producto-personalizar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorp-secondary);
  padding: var(--espaciado-xl);
  height: var(--espaciado-xxxl);
  border-radius: var(--espaciado-xs);
  background: var(--colorp-primary);
}
