<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'estilos-auxliares.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<editar-perfil>
  <div class="container-main-smecph container-base">
    <h1>Editar Perfil</h1>
    <section class="container-sub-smecph" id="pcktph-datos-contacto">
      <div class="smecph-pc-header-especial">
        <div class="smecph-pc-dch_info">
          <h4>Datos de contacto</h4>
          <p>Ingrese tus datos para disfrutar tu pizza favorita.</p>
        </div>
      </div>
      <div class="smecph-formulario-datos-contacto">
        <div class="smecph-pc-info-input">
          <p>Nombres</p>
          <div class="ph-container-input">
            <input
              id="phpep-input-nombre"
              pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
              required
              type="text"
              placeholder="Nombres"
            >
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Apellidos</p>
          <div class="ph-container-input">
            <input
              id="phpep-input-apellido"
              required
              pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
              type="text"
              placeholder="Apellidos"
            >
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Correo Electrónico</p>
          <div class="ph-container-input">
            <input
              id="phpep-input-email"
              type="email"
              placeholder="Correo Electrónico"
            >
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Celular</p>
          <div class="ph-container-input">
            <input
              id="phpep-input-celular"
              type="tel"
              placeholder="Numero de celular"
              maxlength="8"
              oninput="
                this.value = this.value.replace(/[^0-9]/g, '');
                if (this.value.length > 0 && this.value[0] !== '6' && this.value[0] !== '7') {
                  this.value = '7' + this.value.substring(1);
                }
              "
              pattern="[67][0-9]{7}"
            >
          </div>
          <div class="smecph-pc-mensaje-input">
            {% render 'icon-info' %}
            <p>Nos contactaremos a este número para entregar tu pedido.</p>
          </div>
        </div>
        <div class="smecph-pc-info-input ">
          <p>Número de Carnet de identidad (C.I.)</p>
          <div class="ph-container-input">
            <input
              id="phpep-input-ci"
              type="tel"
              placeholder="Carnet de identidad"
              maxlength="15"
              oninput="this.value=this.value.replace(/[^0-9]/g,'')"
              pattern="[0-9]{1,8}"
            >
          </div>
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-datos-contacto">
      <div class="smecph-pc-header-especial">
        <div class="smecph-pc-dch_info">
          <h4>Direccion</h4>
        </div>
      </div>
      <div class="pcktpch-modal-body-fase1">
        <p>Ingresa tu dirección o usa tu ubicación actual.</p>
        <button
          id="phpep-btn-usar-mi-ubicacion"
          class="pcktpch-btn-secundario"
        >
          {% render 'icon-gps-rojo' %}
          <p>USAR MI UBICACIÓN ACTUAL</p>
        </button>
        <div class="pcktpch-modal-separador">
          <div class="pcktpch-modal-separador-linea"></div>
          <p>O</p>
          <div class="pcktpch-modal-separador-linea"></div>
        </div>
        <div class="ph-container-input icon-color-tertiary">
          <div id="phpep-sugerencias-direccion" class="psme-sugerencias-container"></div>
          {% render 'icon-location-on' %}
          <input id="phpep-input-direccion" type="text" placeholder="Ingresar dirección o punto de referencia">
        </div>
      </div>
    </section>

    <section class="ph-opciones-mobile-footer">
      <button
        id="phpep-btn-continuar"
        class="ph-btn-general desactivado"
      >
        <p>CONTINUAR</p>
      </button>
    </section>
  </div>

  <!-- MODAL DE DAR MI DIRECCIOsN -->
  <section
    style="display: none;"
    id="phpep-modal-dar-direccion"
    class="psme-modal-mapa-envio-domicilio"
  >
    <div
      id="phpcc-contenido-modal-body"
      class="psme-modal-contenedor-base"
    >
      <div class="psme-modal-header">
        <div class="psme-modal-mensaje">
          {% render 'icon-info' %}
          <p>Si es necesario, cambia la ubicación del pin en el mapa.</p>
        </div>
        <button class="psme-modal-boton-cerrar icon-color-tertiary" id="phpep-boton-cerrar-modal">
          {% render 'icon-close-rojo' %}
        </button>
      </div>
      <div
        id="phpcc-modal-mapa"
        class="psme-modal-body"
      ></div>
      <div class="psme-modal-footer">
        <button class="psme-modal-boton-confirmar" id="phpep-btn-confirmar-modal">
          <p>Confirmar</p>
        </button>
        <button class="psme-modal-boton-cancelar" id="phpep-btn-cancelar-modal">
          <p>Cerrar</p>
        </button>
      </div>
    </div>
  </section>
</editar-perfil>
