<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}

<div class="ph-especial-header-mobile icon-color-tertiary">
  {% render 'icon-volver-atras' %}
  <small>SOBRE NOSOTROS</small>
  {% render 'icon-close-custom' %}
</div>
<div class="container-main-smecph container-base">
  <div class="container-sub-simple-smecph">
    <div class="phpsn-titulo-principal" style="display: none;">
      <small>SOBRE NOSOTROS</small>
    </div>
    <div class="phpsn-imagen-explicativa">
      <div class="phpsn-imgen">
        <img src="{{ 'imagen-1-sobre-nosotros.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
      </div>
      <p class="color-letras-extra">Frank and Dan Carney</p>
    </div>
    <p class="color-letras-extra">
      La historia de Pizza Hut comienza en 1958, cuando los hermanos Dan y Frank Carney pidieron prestados $us 600 a su
      madre para abrir una pequeña pizzería en Wichita, Kansas. Eligieron el nombre Pizza Hut porque el letrero del
      local solo tenía espacio para ocho letras.
      <br>
      <br>
      <br>
      Lo que comenzó como un modesto emprendimiento se transformó en la cadena de pizzerías más grande del mundo, con
      más de 18,000 restaurantes en más de 100 países.
      <br>
      <br>
      <br>
      A lo largo de los años, hemos sido pioneros en crear experiencias únicas para los amantes de la pizza. Fuimos los
      primeros en introducir el borde relleno de queso, una innovación que se convirtió en un clásico en todo el mundo.
      Además, seguimos sorprendiéndote con ideas como la pizza en molde original, las pizzas con ingredientes premium y
      otras creaciones que llevan el sabor al siguiente nivel.
      <br>
      <br>
      <br>
      En Bolivia, llegamos gracias a Nexocorp, con el compromiso de ofrecerte pizzas deliciosas, siempre calientes, con
      ingredientes de calidad y un servicio rápido y confiable. Nuestra pasión es innovar y brindar experiencias
      inolvidables, ya sea que disfrutes tu pizza en casa o en alguno de nuestros restaurantes.
      <br>
      <br>
      <br>
      En Pizza Hut Bolivia, no solo servimos pizza, creamos momentos que se disfrutan en cada rebanada. ¡Porque no es
      solo pizza, es Pizza Hut!
    </p>
    <small>TRabaja con nosotros</small>
    <div class="phpsn-imagen-explicativa">
      <div class="phpsn-imgen">
        <img src="{{ 'imagen-2-sobre-nosotros.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
      </div>
    </div>
    <p class="color-letras-extra">
      ¿Buscas un lugar donde crecer, disfrutar y ser parte de un equipo increíble? En Pizza Hut Bolivia estamos en busca
      de personas apasionadas, dinámicas y con ganas de hacer que cada experiencia sea inolvidable. Si te encanta
      trabajar en equipo, ofrecer el mejor servicio y quieres formar parte de una marca reconocida a nivel mundial,
      ¡esta es tu oportunidad!
    </p>
  </div>
</div>

{% style %}
  .h-header-principal {
    display: none !important;
  }

  .f-contenedor-base {
    display: none !important;
  }

  .phpsn-titulo-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .phpsn-titulo-principal small {
    text-align: center;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.12rem;
    text-transform: uppercase;
  }

  .ph-especial-header-mobile {
    height: 5.25rem;
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--espaciado-s);
    border: 1px solid #dedede;
    background: #fff;
    margin-top: 1.25rem;
    padding: 0 var(--espaciado-xl);
  }

  .ph-especial-header-mobile small {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875rem;
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }

  .phpsn-imagen-explicativa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--espaciado-s);
    border-radius: var(--espaciado-s);
  }

  .phpsn-imgen {
    width: 100%;
    height: 19.46rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--espaciado-s);
    overflow: hidden;
  }

  .phpsn-imgen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .phpsn-body {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xxl);
  }

  .container-sub-smecph small {
    font-size: 3.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4375rem;
    letter-spacing: -0.06625rem;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    .h-header-principal {
      display: flex !important;
    }

    .f-contenedor-base {
      display: flex !important;
    }

    .ph-especial-header-mobile {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .phpsn-imgen {
      height: 44.25rem;
    }
  }
{% endstyle %}
