{% layout 'none' %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Método de Entrega</title>

    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{settings.keyGoogleMap}}&libraries=places"
    ></script>
  </head>
  <cliente-localizacion>
    <body style="font-family: var(--fuente-principal);">
      <div class="p-sme-contenedor-base">
        <div class="p-sme-pizza-background">
          <img src="{{ 'img-aux-background-solicitud-entrega.png' | asset_url }}" alt="Logo Pizza Hut">
        </div>
        <div class="p-sme-pizza-logo">
          <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
        </div>
        <div class="p-sme-informacion-seleccion-cliente">
          <div class="p-sme-menesajes-informacion-cliente">
            <span class="p-sme-titulo-principal">¿cómo quieres recibir tu pizza?</span>
            <p class="p-sme-texto-descripcion">
              Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local más
              cercano.
            </p>
          </div>

          <div class="p-sme-seccion-seleccion-cliente">
            <button class="p-sme-boton-recoger-local">
              <div class="p-sme-icono-recogo-local">
                {% render 'icon-recogo-local' %}
              </div>
              <div class="p-sme-texto-boton-recoger-local">
                <p class="p-sme-texto-boton-titulo">Recoger en local</p>
                <p class="p-sme-texto-boton-subtitulo">Sin costo alguno</p>
              </div>
              <div class="p-sme-icono-selecionado">
                {% render 'icon-estado-off' %}
              </div>
            </button>

            <button class="p-sme-boton-envio-domicilio">
              <div class="p-sme-icono-envio-domicilio">
                {% render 'icon-recogo-delivery' %}
              </div>
              <div class="p-sme-texto-boton-recoger-local">
                <p class="p-sme-texto-boton-titulo">Envío a domicilio</p>
                <p class="p-sme-texto-boton-subtitulo">Envio a solo Bs 2</p>
              </div>
              <div class="p-sme-icono-selecionado">
                {% render 'icon-estado-off' %}
              </div>
            </button>
          </div>
        </div>
        <div class="p-sme-opciones-cliente">
          <div class="p-sme-opciones-cliente-contenido">
            <button class="p-sme-boton-omitir">
              <p class="p-sme-texto-omitir">OMITIR</p>
              {% render 'icon-close-rojo' %}
            </button>
            <button class="p-sme-boton-siguiente">
              <p class="p-sme-texto-siguiente">Siguiente</p>
            </button>
          </div>
        </div>
        <div class="p-sme-contenido-recogida-local"></div>
        <div id="p-sme-boton-abrir-modal-mapa" class="p-sme-contenido-envio-domicilio">
          <p>Ingresa una dirección o usa tu ubicación actual</p>
          <button>
            {% render 'icon-gps-rojo' %}
            <p>Usar mi ubicación actual</p>
          </button>
          <div class="p-sme-decoracion-contenedor">
            <hr>
            <p>O</p>
            <hr>
          </div>
          <div class="p-sme-contenedor-input-direccion">
            {% render 'icon-location-on-negro' %}
            <input type="text" placeholder="Ingresa dirección o punto de referencia">
          </div>
        </div>
      </div>

      <!-- Modal para selección de ubicación -->
      <div
        style="
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 1000;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        class="p-sme-modal-mapa-envio-domicilio"
      >
        <div
          style="
            width: 60vw;
            height: 95vh;
            background-color: #fff;
            border-radius: 0.22rem;
            padding: 1rem;
          "
          class="p-sme-modal"
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.5rem;
              width: 100%;
              height: 30%;
            "
            class="p-sme-modal-header"
          >
            <div
              style="
                width: 8rem;
                height: 2.25rem;
              "
              class="p-sme-modal-pizza-logo"
            >
              <img
                style="
                  width: 100%;
                  height: 100%;
                  object-fit: contain
                "
                src="{{ 'logo-pizza-hut.png' | asset_url }}"
                alt="Logo Pizza Hut"
              >
            </div>
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                width: 40.1875rem;
              "
              class="p-sme-informacion-seleccion-cliente-modal"
            >
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 0.5rem;
                  width: 40.1875rem;
                  text-align: center;
                "
                class="p-sme-menesajes-informacion-cliente-modal"
              >
                <span
                  style="
                    font-size: 1.7rem;
                    color: #231f20;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: -0.077rem;
                    text-transform: uppercase;
                  "
                  class=" p-sme-titulo-principal-modal"
                  >¿cómo quieres recibir tu pizza?</span
                >
                <p style="    font-size: 0.85rem !important;" class="p-sme-texto-descripcion-modal">
                  Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local
                  más cercano.
                </p>
              </div>

              <div
                style="
                  display: flex;
                  width: 27.1875rem;
                  height: 2.75rem;
                  padding: 0rem 0.3rem 0rem 1rem;
                  align-items: center;
                  gap: 0.375rem;
                  flex-shrink: 0;
                  border-radius: var(--XS, 0.25rem);
                  border-left: 4px solid #A9B5F3;
                  background: #F4F7FF;
                "
                class="p-sme-seccion-mensaje-modal"
              >
                {% render 'icon-info' %}
                <p style="    font-size: 0.85rem !important;" class="font-size: 0.5rem; p-sme-texto-descripcion-modal">
                  Seleccionar dirección en el mapa o en la lista
                </p>
              </div>
            </div>
          </div>
          <div
            style="
              width: 100%;
              height: 57%;
            "
            class="p-sme-mapa"
          ></div>
          <div
            style="
                                              width: 100%;
                                          height: 13%;
              display: flex;
              width: 82rem;
              height: 5.75rem;
              padding: var(--XXXL, 3rem);
              justify-content: center;
              align-items: center;
              gap: var(--XXL, 1.5rem);
              flex-shrink: 0;
            "
            class="p-sme-modal-footer"
          >
            <button
              style="
                                              display: flex;
                                width: 19.375rem;
                                height: 3rem;
                                padding: 1.25rem;
                                justify-content: center;
                                align-items: center;
                                gap: 0.25rem;
                                flex-shrink: 0;
                                border-radius: var(--XS, 0.25rem);
                border: 1px solid var(--Pizza-Hut-Red, #C8102E);
                background: var(--White, #FFF);
              "
              class="p-sme-boton-cerrar"
            >
              <p style="color: #C8102E; font-weight: 600; font-size: 0.88rem;">Cerrar</p>
            </button>
            <button
              style="
                                display: flex;
                                width: 19.375rem;
                                height: 3rem;
                                padding: 1.25rem;
                                justify-content: center;
                                align-items: center;
                                gap: 0.25rem;
                                flex-shrink: 0;
                                border-radius: var(--XS, 0.25rem);
                background: var(--gris-light-hover, #EFEFEF);
              "
              class="p-sme-boton-confirmar"
            >
              <p style="color: #717171; font-weight: 600; font-size: 0.88rem;">Confirmar Dirección</p>
            </button>
          </div>
        </div>
      </div>
    </body>
  </cliente-localizacion>
</html>

<style>
    /* Estilos base */
    body,
    html {
      margin: 0;
      padding: 0;
      font-family: var(--fuente-principal);
    }

    /* Contenedores principales */
    .p-sme-contenedor-base {
      width: 100%;
      height: 110rem;
      position: relative;
    }

    /* Background y logo */
    .p-sme-pizza-background {
      /* SITUACION DEL ENVIO A DOMICILIO */
      top: 40.7528rem;
      /* SITUACION DEL ENVIO A DOMICILIO */
       {% comment %} display: none;  {% endcomment %}
       /* NORMAL */
       {% comment %} top: 31.9rem; {% endcomment %}
      width: 59.895rem;
      height: 37.345rem;
      left: 0rem;
      z-index: 2;
      position: absolute;
    }

    .p-sme-pizza-logo {
      width: 9.625rem;
      height: 2.3046rem;
      top: 6.4768rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      position: absolute;
    }

    .p-sme-pizza-logo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Sección de selección */
    .p-sme-informacion-seleccion-cliente {
      display: flex;
      width: 35.365rem;
      flex-direction: column;
      align-items: center;
      gap: 2.64rem;
      top: 12.2672rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      position: absolute;
    }

    .p-sme-menesajes-informacion-cliente {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.1rem;
      text-align: center;
    }

    /* Textos */
    .p-sme-titulo-principal {
      color: #231f20;
      text-align: center;
      font-size: 3.85rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.077rem;
      text-transform: uppercase;
    }

    .p-sme-texto-descripcion {
      color: #231f20;
      font-size: 1rem;
      line-height: normal;
    }

    /* Botones de selección */
    .p-sme-boton-recoger-local {
      cursor: pointer;
      display: flex;
      width: 17.05rem;
      height: 3.85rem;
      padding: 0.22rem 0.88rem;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      border-radius: 0.55rem;
      border: 1px solid #969696;
      background: #fff;
    }

    .p-sme-boton-envio-domicilio {
      cursor: pointer;
      display: flex;
      width: 17.05rem;
      height: 3.85rem;
      padding: 0.22rem 0.88rem;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      border-radius: 0.55rem;
      border: 1px solid #969696;
      background: #fff;
    }

    .p-sme-texto-boton-titulo {
      font-size: 0.88rem;
      font-weight: 600;
    }

    .p-sme-texto-boton-subtitulo {
      color: #5a5a5a;
      font-size: 0.88rem;
      font-weight: 400;
    }

    /* Sección inferior */
    .p-sme-opciones-cliente {
      padding: 0 3.52rem;
      width: 100%;
      height: 5.06rem;
      position: sticky;
      top: 80vh;
      z-index: 100;
    }

    .p-sme-opciones-cliente-contenido {
      width: 100%;
      height: 100%;
      display: flex;
      padding: var(--XXXL, 2.64rem);
      justify-content: flex-end;
      align-items: center;
      gap: var(--XXL, 1.32rem);
      flex-shrink: 0;
      border-radius: var(--S, 0.44rem);
      border: 1px solid var(--gris-light-active, #dedede);
      background: var(--White, #fff);
    }

    .p-sme-seccion-seleccion-cliente {
      display: flex;
      width: 35rem;
      justify-content: space-between;
    }

    /* Botones de acción */
    .p-sme-boton-omitir {
      cursor: pointer;
      display: flex;
      width: 17.05rem;
      height: 2.64rem;
      padding: 1.1rem;
      justify-content: center;
      align-items: center;
      gap: 0.22rem;
      flex-shrink: 0;
      border-radius: var(--XS, 0.22rem);
      border: 1px solid var(--Pizza-Hut-Red, #c8102e);
      background: var(--White, #fff);
    }

    .p-sme-texto-omitir {
      color: #c8102e;
      font-weight: 600;
    }

    .p-sme-boton-siguiente {
      cursor: pointer;
      display: flex;
      width: 17.05rem;
      height: 2.64rem;
      padding: 1.1rem;
      justify-content: center;
      align-items: center;
      gap: 0.22rem;
      flex-shrink: 0;
      border-radius: var(--XS, 0.22rem);
      border: 0;
    }

    .p-sme-texto-siguiente {
      color: #717171;
      font-weight: 600;
    }

    /* Estilos para el contenedor principal */
  .p-sme-contenido-envio-domicilio {
      display: flex;
      width: 35.42rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.1rem;
      position: absolute;
      top: 28.99rem;
      left: 50%;
      transform: translateX(-50%);
    }

    /* Estilos para el texto introductorio */
    .p-sme-contenido-envio-domicilio p:first-of-type {
      color: #717171;
    }

    /* Estilos para el botón de ubicación */
    .p-sme-contenido-envio-domicilio button {
      cursor: pointer;
      width: 100%;
      display: flex;
      height: 2.64rem;
      padding: 1.1rem;
      justify-content: center;
      align-items: center;
      gap: 0.22rem;
      border-radius: 0.22rem;
      border: 1px solid var(--Pizza-Hut-Red, #C8102E);
      background: var(--White, #FFF);
    }

    /* Estilos para el texto del botón */
    .p-sme-contenido-envio-domicilio button p {
      color: #C8102E;
      font-size: 0.88rem;
      font-weight: 600;
    }

    /* Estilos para el separador (O) */
    .p-sme-decoracion-contenedor {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    /* Estilos para las líneas del separador */
    .p-sme-decoracion-contenedor hr {
      width: 13.75rem;
      background: #DEDEDE;
    }

    /* Estilos para el contenedor del input */
    .p-sme-contenedor-input-direccion {
      display: flex;
      height: 2.64rem;
      padding: 1.1rem;
      justify-content: center;
      align-items: center;
      gap: 0.22rem;
      align-self: stretch;
      border-radius: 0.22rem;
      border: 1px solid #717171;
      background: #FFF;
    }

    /* Estilos para el input */
    .p-sme-contenedor-input-direccion input {
      border: none;
      outline: none;
      width: 100%;
    }

    .p-sme-boton-recoger-local-activo {
      border-color: #c8102e !important;
      background: #c8102e !important;
    }

    .p-sme-icono-recogo-local.p-sme-icono-activo {
      filter: brightness(0) invert(1);
    }

    .p-sme-boton-envio-domicilio-activo {
      border-color: #c8102e !important;
      background: #c8102e !important;
    }

    .p-sme-icono-envio-domicilio.p-sme-icono-activo {
      filter: brightness(0) invert(1);
    }
</style>

<script>
  class ClienteLocalizacion extends HTMLElement {
    constructor() {
      super();
      this.coordenadasBase = { lat: -17.783315017953004, lng: -63.18214577296119 };
      this.pizzaLocations = [
        { lat: -17.757619, lng: -63.178738, name: 'BANZER 3ER ANILLO' },
        { lat: -17.70001, lng: -63.160219, name: 'BANZER KM 8.5' },
        { lat: -17.807739, lng: -63.204363, name: 'LAS PALMAS' },
        { lat: -17.758879, lng: -63.19948, name: 'SAN MARTIN' },
        { lat: -17.820341, lng: -63.184337, name: 'SANTOS DUMONT' },
      ];
    }

    connectedCallback() {
      // Capturar elementos
      this.botonRecogerLocal = this.querySelector('.p-sme-boton-recoger-local');
      this.botonEnvioDomicilio = this.querySelector('.p-sme-boton-envio-domicilio');
      this.botonOmitir = this.querySelector('.p-sme-boton-omitir');
      this.botonSiguiente = this.querySelector('.p-sme-boton-siguiente');
      this.contenidoRecogidaLocal = this.querySelector('.p-sme-contenido-recogida-local');
      this.contenidoEnvioDomicilio = this.querySelector('.p-sme-contenido-envio-domicilio');
      this.contenidoModal = this.querySelector('.p-sme-modal-mapa-envio-domicilio');

      // Asignar event listeners
      this.botonRecogerLocal.addEventListener('click', this.accionBotonRecogerLocal.bind(this));
      this.botonEnvioDomicilio.addEventListener('click', this.accionBotonEnvioDomicilio.bind(this));

      // Inicializar contenidos ocultos
      this.contenidoRecogidaLocal.style.display = 'none';
      this.contenidoEnvioDomicilio.style.display = 'none';
      this.contenidoModal.style.display = 'none';
    }

    mostrarModal() {}

    verificarLocalStorage() {
      if (localStorage.getItem('ubicacion-cliente')) {
        let ubicacionCliente = JSON.parse(localStorage.getItem('ubicacion-cliente'));
        this.coordenadasBase = ubicacionCliente;
      } else {
        this.obtenerUbicacion();
      }
    }

    obtenerUbicacion() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.coordenadasBase = { lat: position.coords.latitude, lng: position.coords.longitude };
            console.log('Coordenadas de Browser: ', coordenadasBase);
          },
          (error) => {
            alert('Error al obtener la ubicación: Por favor, verifique la ubicación de su dispositivo');
            console.log('Error al obtener la ubicación: ', error);
          }
        );
      }
    }

    accionBotonRecogerLocal() {
      // 1. Alternar estado principal del botón
      const estaActivo = this.botonRecogerLocal.classList.toggle('p-sme-boton-recoger-local-activo');

      // 2. Obtener elementos hijos relevantes
      const iconoPrincipal = this.botonRecogerLocal.querySelector('.p-sme-icono-recogo-local');
      const iconoEstado = this.botonRecogerLocal.querySelector('.p-sme-icono-selecionado');
      const textos = this.botonRecogerLocal.querySelectorAll('p');

      if (estaActivo) {
        // ===== MODO ACTIVADO =====
        // 2.1 Estilos para icono principal
        iconoPrincipal.classList.add('p-sme-icono-activo');

        // 2.2 Actualizar icono de estado (check)
        iconoEstado.innerHTML = `{% render 'icon-estado-on' %}`;
        iconoEstado.classList.add('p-sme-icono-activo');

        // 2.3 Cambiar color de textos a blanco
        textos.forEach((p) => (p.style.color = 'white'));
      } else {
        this.desactivarBotonRecogerLocal();
      }

      // Mostrar contenido de recogida local
      this.contenidoRecogidaLocal.style.display = 'block';
      this.contenidoEnvioDomicilio.style.display = 'none';

      // Acomodar el contenido de la pagina
      const imagenAuxiliarFondo = document.querySelector('.p-sme-pizza-background');
      imagenAuxiliarFondo.style.

    }

    accionBotonEnvioDomicilio() {
      // 1. Alternar estado principal del botón
      const estaActivo = this.botonEnvioDomicilio.classList.toggle('p-sme-boton-envio-domicilio-activo');

      // 2. Obtener elementos hijos relevantes
      const iconoPrincipal = this.botonEnvioDomicilio.querySelector('.p-sme-icono-envio-domicilio');
      const iconoEstado = this.botonEnvioDomicilio.querySelector('.p-sme-icono-selecionado');
      const textos = this.botonEnvioDomicilio.querySelectorAll('p');

      if (estaActivo) {
        // ===== MODO ACTIVADO =====
        // 2.1 Estilos para icono principal
        iconoPrincipal.classList.add('p-sme-icono-activo');

        // 2.2 Actualizar icono de estado (check)
        iconoEstado.innerHTML = `{% render 'icon-estado-on' %}`;
        iconoEstado.classList.add('p-sme-icono-activo');

        // 2.3 Cambiar color de textos a blanco
        textos.forEach((p) => (p.style.color = 'white'));
      } else {
        this.desactivarBotonEnvioDomicilio();
      }

      // Acomodar el contenido de la pagina
      const imagenAuxiliarFondo = document.querySelector('.p-sme-pizza-background');
      imagenAuxiliarFondo.style.top = '40.7528rem';

      // Mostrar contenido de envío a domicilio
      this.contenidoRecogidaLocal.style.display = 'none';
      this.contenidoEnvioDomicilio.style.display = 'block';

      // Desactivar contenido de recogida local
      this.desactivarBotonRecogerLocal();
    }

    desactivarBotonEnvioDomicilio() {
      // ===== MODO DESACTIVADO =====
      // 3.1 Forzar remoción de clase principal (por si hay errores en el toggle)
      this.botonEnvioDomicilio.classList.remove('p-sme-boton-envio-domicilio-activo');

      // 3.2 Restaurar icono principal
      iconoPrincipal?.classList.remove('p-sme-icono-activo');

      // 3.3 Restaurar icono de estado (cross)
      iconoEstado.innerHTML = `{% render 'icon-estado-off' %}`;
      iconoEstado.classList.remove('p-sme-icono-activo');

      // 3.4 Restaurar color original de textos
      textos.forEach((p) => (p.style.color = ''));
    }

    desactivarBotonRecogerLocal() {
      // ===== MODO DESACTIVADO =====
      // 3.1 Forzar remoción de clase principal (por si hay errores en el toggle)
      this.botonRecogerLocal.classList.remove('p-sme-boton-recoger-local-activo');

      // 3.2 Restaurar icono principal
      iconoPrincipal?.classList.remove('p-sme-icono-activo');

      // 3.3 Restaurar icono de estado (cross)
      iconoEstado.innerHTML = `{% render 'icon-estado-off' %}`;
      iconoEstado.classList.remove('p-sme-icono-activo');

      // 3.4 Restaurar color original de textos
      textos.forEach((p) => (p.style.color = ''));
    }
  }

  customElements.define('cliente-localizacion', ClienteLocalizacion);
</script>
