<section class="menu-page">
  <div class="menu-page-header">
    <h1>Menu</h1>
  </div>
</section>

{% style %}
  .menu-page {
    width: 100%;
    height: 56rem;
    background-color: var(--color-primary);
  }
{% endstyle %}
