<!-- Hojas de estilos css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-crear-cuenta.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<div class="container-main-smecph container-base">
  <small>CREAR CUENTA</small>
  <section class="container-sub-smecph" id="pccph-frm-datos-contacto">
    <div class="ph-mcci-header-simplec">
      <h4>Datos de contacto</h4>
      <p>Ingrese tus datos para disfrutar tu pizza favorita.</p>
    </div>
    <div class="ph-mcci-frm">
      <div class="ph-mcci-input">
        <p>Nombres</p>
        <div class="ph-container-input">
          <input type="text" placeholder="Nombres">
        </div>
      </div>
      <div class="ph-mcci-input">
        <p>Apellidos</p>
        <div class="ph-container-input">
          <input type="text" placeholder="Apellidos">
        </div>
      </div>
      <div class="ph-mcci-input">
        <p>Correo Electrónico</p>
        <div class="ph-container-input">
          <input type="email" placeholder="Correo Electrónico">
        </div>
      </div>
      <div class="ph-mcci-input">
        <p>Celular</p>
        <div class="ph-container-input">
          <input type="number" placeholder="Teléfono">
        </div>
        <div class="ph-mcci-mensaje-input">
          {% render 'icon-info' %}
          <p>Nos contactaremos a este número para entregar tu pedido.</p>
        </div>
      </div>
      <div class="ph-mcci-input error">
        <p>Número de Carnet de identidad (C.I.)</p>
        <div class="ph-container-input">
          <input type="number" placeholder="Carnet de identidad">
        </div>
        <div class="ph-mcci-mensaje-input">
          {% render 'icon-info' %}
          <p>Este campo es obligatorio.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-sub-smecph" id="pccph-frm-direccion">
    <div class="ph-mcci-header-simplec">
      <h4>Dirección</h4>
      <p>Ingresa una dirección o usa tu ubicación actual.</p>
    </div>
    <button class="ph-btn-secundario">
      {% render 'icon-gps-rojo' %}
      <p>USAR MI UBICACIÓN ACTUAL</p>
    </button>
    <div class="pccph-modal-separador">
      <div class="pccph-modal-separador-linea"></div>
      <p>O</p>
      <div class="pccph-modal-separador-linea"></div>
    </div>
    <div class="ph-container-input icon-color-tertiary">
      {% render 'icon-location-on' %}
      <input type="text" placeholder="Ingresar dirección o punto de referencia">
    </div>
  </section>
  <section class="container-sub-smecph" id="pccph-hutcoins">
    <div class="smecph-pc-hutcoins-banner">
      <img src="{{ 'banner-hutcoints-carrito.png' | asset_url }}" alt="Hutcoins Banner" width="100%" height="100%">
    </div>
    <div class="smecph-pc-hutcoins-mensaje">
      <div class="ph-container-icono">
        {% render 'icon-checkbox-off' %}
      </div>
      <p>Usar mi información para registrarme a Hut Coins y ganar puntos por esta compra.</p>
    </div>
    <div class="ph-mcci-input">
      <p>Fecha de nacimiento</p>
      <div class="ph-container-input">
        <input type="date" placeholder="Fecha de nacimiento">
      </div>
    </div>
  </section>
  <section class="container-sub-smecph pccph-extra-ultimo" id="pccph-termino-condiciones">
    <div class="smecph-pc-hutcoins-mensaje ">
      <div class="ph-container-icono">
        {% render 'icon-checkbox-off' %}
      </div>
      <p>Usar mi información para registrarme a Hut Coins y ganar puntos por esta compra.</p>
    </div>
  </section>
  <section class="ph-opciones-mobile-footer">
    {% comment %}
      <button class="ph-btn-desactivado">
        <p>Continuar</p>
      </button>
    {% endcomment %}
    <button class="ph-btn-general">
      <p>CONTINUAR</p>
    </button>
    <button class="ph-btn-primario">
      <p>CANCELAR</p>
    </button>
  </section>
</div>
