<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-mi-perfil.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<!-- SECTOR MOBIL -->
<div class="ph-especial-header-mobile icon-color-tertiary">
  {% render 'icon-volver-atras' %}
  <small>MI PERFIL</small>
  {% render 'icon-hamburguesa' %}
</div>
<!-- SECTOR DESKTOP -->
<div class="phpp-container container-base">
  <div class="phpp-container-izquierda">
    <div class="phpp-containeri">
      <div class="phpp-containeri-opciones">
        <div class="ph-btn-primario seleccionado ">
          {% render 'icon-cuenta-blanco' %}
          <p>MI PERFIL</p>
        </div>
        <div class="ph-btn-primario icon-color-extra ">
          {% render 'icon-info' %}
          <p>HISTORIAL DE PEDIDOS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-cupon' %}
          <p>CUPONES Y DESCUENTOS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-pizza-metodo-entrega' %}
          <p>HUT COINS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-favorito' %}
          <p>MIS PERFERENCIAS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-configuracion' %}
          <p>CONFIGURACIONES</p>
        </div>
      </div>
      <button class="phpp-border-especial ph-btn-primario  icon-color-primary color-letras-primary">
        {% render 'icon-cerrar-sesion' %}
        <p>CERRAR SESION</p>
      </button>
    </div>
  </div>
  <div class="phpp-container-derecha">
    {% comment %} MI PERFILL {% endcomment %}
    <div class="phpp-containerd" style="display: none;">
      <small class="phpp-titulo-base"> MI PERFIL </small>
      <div class="phpp-container-informaicon-usuario">
        <div class="phpp-info color-letras-extra">
          <p>Nombres</p>
          <p>Maria Jose</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Apellidos</p>
          <p>Lopez</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Celular</p>
          <p>77453368</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Numeor de Carnte de identidad (C.I.)</p>
          <p>8177545 - U</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Correo electronico</p>
          <p>mlopez@gmail.com</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Direccion de entrega</p>
          <p>Barrio Santa Ana 1, Doble via a La Guardia</p>
        </div>
        <hr>
        <button class="ph-btn-general color-letras-primary icon-color-primary">
          <p>EDITAR PERFIL</p>
          {% render 'icon-editar' %}
        </button>
      </div>
    </div>
    {% comment %} HISTORIAL DE PEDIDOS {% endcomment %}
    <div class="phpp-containerd">
      <small class="phpp-titulo-base"> HISTORIAL DE PEDIDOS </small>
      <div class="phpp-chp-simple">
        <div class="phpp-hp-opciones-cliente">
          <div class="phpp-ph-opcion">
            <button class="ph-btn-general">
              <p>TODO</p>
            </button>
          </div>
          <div class="phpp-ph-opcion">
            <button class="ph-btn-general">
              <p>EN CAMINO</p>
            </button>
          </div>
          <div class="phpp-ph-opcion">
            <button class="ph-btn-primario">
              <p>ENTREGRADO</p>
            </button>
          </div>
          <div class="phpp-ph-opcion">
            <button class="ph-btn-general">
              <p>CANCELADO</p>
            </button>
          </div>
        </div>
        <div class="phpp-hp-detalle-producto-cliente">
          <div class="phpp-hp-item-dp-cliente">
            <div class="phpp-ihpdp-contexto">
              <div class="phpp-hp-item-imgen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div class="phpp-hp-item-info">
                <p>PIZZA SUPREME</p>
                <p>ID DE ORDEN #96459761</p>
                <div class="phpp-ph-item-estado activado">
                  {% render 'icon-disponibilidad' %}
                  <p>ENTREGADO</p>
                </div>
                <p>26/10/2023 - 12:00</p>
              </div>
            </div>
            <div class="phpp-ihpdp-  opciones">
              <button class="ph-btn-primario-desactivado">
                <p>REPETIR PEDIDO</p>
              </button>
              <button class="ph-btn-secundario">
                <p>VER DETALLE</p>
              </button>
            </div>
          </div>
        </div>
        <div class="phpp-hp-navegacion-items">
          <button class="phpp-ni-maximo">
            {%- render 'icon-volver-atras-ios' -%}
          </button>
          <button class="phpp-ni-normal">
            <p>1</p>
          </button>
          <button class="phpp-ni-normal">
            <p>2</p>
          </button>
          <button class="phpp-ni-normal">
            <p>3</p>
          </button>
          <button class="phpp-ni-intemedio">
            <p>...</p>
          </button>
          <button class="phpp-ni-normal">
            <p>23</p>
          </button>
          <button class="phpp-ni-min">
            {% render 'icon-ir-adelante-ios' %}
          </button>
        </div>
      </div>
    </div>
    {% comment %} CONFIGURACIONES {% endcomment %}
    <div class="phpp-containerd" style="display: none;"></div>
  </div>
</div>
