{% layout 'none' %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Método de Entrega</title>

    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{settings.keyGoogleMap}}&libraries=places"
    ></script>
  </head>

  <body style="font-family: var(--fuente-principal);">
    <div class="p-sme-contenedor-base">
      <div class="p-sme-pizza-background">
        <img src="{{ 'img-aux-background-solicitud-entrega.png' | asset_url }}" alt="Logo Pizza Hut">
      </div>

      <div class="p-sme-pizza-logo">
        <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
      </div>

      <div class="p-sme-informacion-seleccion-cliente">
        <div class="p-sme-menesajes-informacion-cliente">
          <span>¿cómo quieres recibir tu pizza?</span>
          <p>
            Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local más
            cercano.
          </p>
        </div>

        <div class="p-sme-seccion-seleccion-cliente">
          <button class="p-sme-boton-recoger-local">
            {% render 'icon-recogo-local' %}
            <div class="p-sme-texto-boton-recoger-local">
              <p>Recoger en local</p>
              <p>Sin costo alguno</p>
            </div>
            {% render 'icon-estado-off' %}
          </button>

          <button class="p-sme-boton-recoger-local">
            {% render 'icon-recogo-local' %}
            <div class="p-sme-texto-boton-recoger-local">
              <p>Envío a domicilio</p>
              <p>Envio a solo Bs 2</p>
            </div>
            {% render 'icon-estado-off' %}
          </button>
        </div>
      </div>

      <div class="p-sme-opciones-cliente">
        <div class="p-sme-opciones-cliente-contenido">
          <button class="p-sme-boton-omitir">
            <p style="color: #C8102E; font-weight: 600;">OMITIR</p>
            {% render 'icon-close-rojo' %}
          </button>

          <button class="p-sme-boton-siguiente">
            <p style="color: #FFFFFF; font-weight: 600;">Siguiente</p>
          </button>
        </div>
      </div>

      <div class="p-sme-contenido-recogida-local"></div>
      <div class="p-sme-contenido-envio-domicilio"></div>
    </div>

    <!-- Modal para selección de ubicación -->
  </body>
</html>

<style>
  /* Estilos base */
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
  }

  /* Contenedor principal */
  .p-sme-contenedor-base {
    width: 100%;
    height: 110rem;
    position: relative;
  }

  /* Sección de selección de método */
  .p-sme-informacion-seleccion-cliente {
    width: 35.365rem;
    flex-direction: column;
    align-items: center;
    gap: 2.64rem;
    top: 12.2672rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    position: absolute;
  }

  .p-sme-menesajes-informacion-cliente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1rem;
    text-align: center;
  }

  .p-sme-menesajes-informacion-cliente span {
    color: #231f20;
    font-size: 3.85rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.077rem;
    text-transform: uppercase;
  }

  .p-sme-seccion-seleccion-cliente {
    width: 35.2rem;
    justify-content: space-between;
    align-items: center;
  }

  /* Botones de selección */
  .p-sme-boton-recoger-local {
    display: flex;
    width: 17.05rem;
    height: 3.85rem;
    padding: 0.22rem 0.88rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.55rem;
    border: 1px solid #969696;
    background: #fff;
  }

  .p-sme-texto-boton-recoger-local p:first-child {
    font-size: 0.88rem;
    font-weight: 600;
  }

  .p-sme-texto-boton-recoger-local p:last-child {
    color: #5a5a5a;
    font-size: 0.88rem;
    font-weight: 400;
  }

  /* Sección de opciones inferiores */
  .p-sme-opciones-cliente {
    padding: 0 3.52rem;
    width: 100%;
    height: 5.06rem;
    position: sticky;
    top: 80vh;
    z-index: 100;
  }

  .p-sme-opciones-cliente-contenido {
    width: 100%;
    height: 100%;
    display: flex;
    padding: var(--XXXL, 2.64rem);
    justify-content: flex-end;
    align-items: center;
    gap: var(--XXL, 1.32rem);
    border-radius: var(--S, 0.44rem);
    border: 1px solid var(--gris-light-active, #dedede);
    background: var(--White, #fff);
  }

  /* Botones de acción */
  .p-sme-boton-omitir {
    display: flex;
    width: 17.05rem;
    height: 2.64rem;
    padding: 1.1rem;
    justify-content: center;
    align-items: center;
    gap: 0.22rem;
    border-radius: var(--XS, 0.22rem);
    border: 1px solid var(--Pizza-Hut-Red, #c8102e);
    background: var(--White, #fff);
  }

  .p-sme-boton-siguiente {
    display: flex;
    width: 17.05rem;
    height: 2.64rem;
    padding: 1.1rem;
    justify-content: center;
    align-items: center;
    gap: 0.22rem;
    background: #c8102e;
    border-radius: var(--XS, 0.22rem);
  }

  /* Elementos de imagen */
  .p-sme-pizza-logo {
    width: 9.625rem;
    height: 2.3046rem;
    top: 6.4768rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    position: absolute;
  }

  .p-sme-pizza-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .p-sme-pizza-background {
    width: 59.895rem;
    height: 37.345rem;
    top: 31.9rem;
    left: -11rem;
    z-index: 2;
    position: absolute;
  }

  .p-sme-pizza-background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
