<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-mi-perfil.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<!-- SECTOR MOBIL -->
<div class="ph-especial-header-mobile icon-color-tertiary">
  {% render 'icon-volver-atras' %}
  <small>MI PERFIL</small>
  {% render 'icon-hamburguesa' %}
</div>
<!-- SECTOR DESKTOP -->
<div class="phpp-container container-base">
  <div class="phpp-container-izquierda">
    <div class="phpp-containerd">
      <div class="phpp-containerd-opciones">
        <div class="ph-btn-primario seleccionado ">
          {% render 'icon-cuenta-blanco' %}
          <p>MI PERFIL</p>
        </div>
        <div class="ph-btn-primario icon-color-extra ">
          {% render 'icon-info' %}
          <p>HISTORIAL DE PEDIDOS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-cupon' %}
          <p>CUPONES Y DESCUENTOS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-pizza-metodo-entrega' %}
          <p>HUT COINS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-favorito' %}
          <p>MIS PERFERENCIAS</p>
        </div>
        <div class="ph-btn-primario icon-color-extra">
          {% render 'icon-configuracion' %}
          <p>CONFIGURACIONES</p>
        </div>
      </div>
      <button class="phpp-border-especial ph-btn-primario  icon-color-primary color-letras-primary">
        {% render 'icon-cerrar-sesion' %}
        <p>CERRAR SESION</p>
      </button>
    </div>
  </div>
  <div class="phpp-container-derecha">
    {% comment %} MI PERFILL {% endcomment %}
    <div class="phpp-containeri">
      <small class="phpp-titulo-base"> MI PERFIL </small>
      <div class="phpp-container-informaicon-usuario">
        <div class="phpp-info color-letras-extra">
          <p>Nombres</p>
          <p>Maria Jose</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Apellidos</p>
          <p>Lopez</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Celular</p>
          <p>77453368</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Numeor de Carnte de identidad (C.I.)</p>
          <p>8177545 - U</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Correo electronico</p>
          <p>mlopez@gmail.com</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Direccion de entrega</p>
          <p>Barrio Santa Ana 1, Doble via a La Guardia</p>
        </div>
        <hr>
        <button class="ph-btn-general color-letras-primary icon-color-primary">
          <p>EDITAR PERFIL</p>
          {% render 'icon-editar' %}
        </button>
      </div>
    </div>
    {% comment %} HISTORIAL DE PEDIDOS {% endcomment %}
    <div class="phpp-containerd" style="display: none;"></div>
    {% comment %} CONFIGURACIONES {% endcomment %}
    <div class="phpp-containerd" style="display: none;"></div>
  </div>
</div>
